/* =========================================================
   WRAPPER CARD DESCRIPTION
========================================================= */
.card-description-container {
    width: 100%;
    height: 100%;
    background-color: var(--bg);
    border: 1px solid var(--bg) !important;
    border-radius: 8px;
}

/* HEADER */
.cd-header {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 16px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    border-bottom: 1px solid var(--bg) !important;
    background: var(--primary);
    /* background-image: linear-gradient(to right, #2d66e7, #5557e7, #8f3fe6); */
    /* box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2); */
}

.cd-header .cdh-icon {
    background: var(--bg-icon2);
    color: var(--text-white);
    font-size: 13px;
    padding: 4px;
    border: 1px solid var(--primary);
    border-radius: 4px;
}

.cd-header h3 {
    color: var(--text-white);
    font-size: 13px;
    font-weight: bold;
    margin: 0;
}

.cd-icon {
    cursor: pointer;
    font-size: 20px;
    color: var(--text-white);
}

/* =========================================================
   MODAL CONTENT
========================================================= */
.des-modal-content {
    padding: 20px;
    font-size: 14px;
    color: var(--text-white);
    height: 83vh;
    overflow-y: auto;
    scroll-behavior: smooth;
    /* border: 1px solid red; */
}

/* =========================================================
   EDIT MODE (ReactQuill)
========================================================= */
.ta-content .my-editor .ql-editor {
    min-height: 150px;
}

/* =========================================================
   VIEW MODE (hasil dangerouslySetInnerHTML)
========================================================= */
.view-mode-wrapper {
    width: 100%;
    padding: 16px;
    /* border: 1px solid #eaeaea; */
    border-radius: 8px;
    min-height: 50vh;
    max-height: 78vh;
    overflow-y: auto;
    scroll-behavior: smooth;
    font-size: 14px;
    background: var(--bg);
}

/* =======================================
   STYLING UNTUK HTML DI VIEW MODE
======================================= */
/* ============================
   VIEW MODE = QUILL LOOK
============================ */
.view-mode-html {
    /* ini ambil style default Quill editor */
    line-height: 1.6;
    font-size: 10px;
    color: var(--sub-text) !important;
    word-break: break-word;
}

/* Paragraf */
.view-mode-html p {
    margin: 0 0 8px;
    display: flex;
    gap: 6px;
    color: var(--sub-text) !important;
}

/* Strong / Bold */
.view-mode-html strong {
    font-weight: 600;
    display: inline-block;
    min-width: 100px;
    color: var(--sub-text) !important;
    /* border: 1px solid green; */
}

.view-mode-html span {
    margin: 8px 0 !important;
    display: flex;
    gap: 6px;
    color: var(--sub-text) !important;
    /* line-height: 1.5 !important; */
}


/* Link identik seperti Quill */
.view-mode-html a {
    color: var(--link-text) !important;
    background-color: var(--link-bg) !important;
    /* color: red !important; */
    text-decoration: underline !important;
    cursor: pointer;
    border: 1px solid var(--link-border) !important;
    border-radius: 4px;
    padding: 3px;
}

.view-mode-html a:hover {
    filter: brightness(1.15);
}

/* List */
.view-mode-html ul,
.view-mode-html ol {
    padding-left: 1.5rem;
    margin: 6px 0;
}

.view-mode-html li {
    margin-bottom: 4px;
}

/* Heading */
.view-mode-html h1,
.view-mode-html h2,
.view-mode-html h3 {
    margin: 12px 0 6px;
    font-weight: 600;
}

/* Image */
.view-mode-html img {
    max-width: 100%;
    border-radius: 6px;
    margin: 10px 0;
}

/* =======================================
   SNOW REACT QUILL
======================================= */

.detail-my-editor .ql-container.ql-snow {
    /* border: 1px solid #f2f1ff; */
    border: 1px solid #f2f1ff;
    height: 70vh;
    overflow-y: auto;
}

.detail-my-editor .ql-toolbar.ql-snow {
    border: 1px solid #f2f1ff;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    background-color: #ccc8ff;
    color: white;
    padding: 5px 3px;
}

/* 🌙 DARK THEME – REACT QUILL SNOW */
[data-theme='dark'] .detail-my-editor .ql-container.ql-snow {
    border: 1px solid #374151;
    /* background-color: red; */
    background-color: var(--card-bg);
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    color: var(--text-white);
}

[data-theme='dark'] .detail-my-editor .ql-toolbar.ql-snow {
    border: 1px solid #374151;
    border-bottom: none;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    background-color: #374151;
    /* color: var(--text-white) !important; */
}

[data-theme='dark'] .ql-snow .ql-stroke {
    stroke: #e5e7eb;
}

[data-theme='dark'] .ql-snow .ql-fill {
    fill: #e5e7eb;
}

[data-theme='dark'] .ql-snow .ql-picker {
    color: #e5e7eb;
}

[data-theme='dark'] .ql-toolbar button:hover {
    /* background-color: #312e81; */
    background-color: var(--primary);
    color: white !important;
}

.detail-my-editor .ql-editor {
    line-height: 1.8 !important;
    font-size: 10px;
    color: var(--sub-text) !important;
}

.detail-my-editor .ql-editor p {
    margin: 8px 0 !important;
    display: flex;
    gap: 6px;
    color: var(--sub-text) !important;
    /* line-height: 1.5 !important; */
}

.detail-my-editor .ql-editor strong {
    display: inline-block;
    min-width: 100px;
    color: var(--sub-text) !important;
    /* border: 1px solid red; */
}

.detail-my-editor .ql-editor span {
    margin: 8px 0 !important;
    display: flex;
    gap: 6px;
    color: var(--sub-text) !important;
}

/* =======================================
   BUTTON ACTIONS
======================================= */
.action-btn {
    /* margin-top: 16px; */
    display: flex;
    justify-content: flex-end;
    gap: 10px;
    /* border: 1px solid red; */
}

.action-btn .btn-desc-save {
    background-color: #6D5FEA;
    color: #fff;
    border: 1px solid #6D5FEA;
    padding: 3px 10px;
    border-radius: 4px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4px;
}

.btn-desc-save:hover {
    box-shadow: 0px 4px 4px #5e12eb46;
}

.action-btn .btn-desc-cancel {
    /* background-color: #af4c4c; */
    background-color: #fff;
    border: 1px solid #af4c4c;
    color: #af4c4c;
    padding: 3px 10px;
    border-radius: 4px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4px;
}

.btn-desc-cancel:hover {
    box-shadow: 0px 4px 4px #eb121246;
}