/* components/DeleteConfirmModal.css */

.modal-overlay {
    position: fixed;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.136);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 100;
  }
  
  .modal-box {
    background-color: white;
    padding: 1.5rem;
    border-radius: 8px;
    max-width: 400px;
    width: 100%;
    text-align: center;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
  }
  
  .modal-title {
    font-size: 1.25rem;
    font-weight: 600;
    margin-bottom: 1rem;
  }
  
  .modal-message {
    margin-bottom: 1.5rem;
    color:#ec2929;
    background-color: #f6cccc;
    border-left: 3px solid #ef4444;
    border-radius: 4px;
    display: block;
    padding: 15px 10px;
    word-wrap: break-word;
    white-space: normal;
    text-align: left;
    font-size: 12px;
  }

  .warn-icon{
    color: #ef4444;
    margin-right: 10px;
  }
  
  .modal-buttons {
    display: flex;
    justify-content: flex-end;
    gap: 1rem;
  }

  .modal-buttons .ldc-delete{
    background-color: #ef4444 ;
    color: white;
    padding: 5px 10px;
    border: 1px solid #ef4444;
    border-radius: 4px;
    cursor: pointer;
  }
  .modal-buttons .ldc-delete:hover{
    box-shadow: 0px 4px 8px #ef44447c;
    background-color: #ef4444;
    border: 1px solid #ef4444;
  }

  .modal-buttons .ldc-cancel{
    background-color: white;
    border: 1px solid white;
    border-radius: 4px;
    padding: 5px 10px;
  }
  .modal-buttons .ldc-cancel:hover{
    background-color: #eee;
    border: 1px solid #eee;
    border-radius: 4px;
    cursor: pointer;
  }
  /* #ef4444  */