.dummy-container {
    padding: 0px;
    background: #fff;
    /* box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2); */
    /* border: 1px solid red; */
    height: fit-content;
}

.dummy-content {
    border: 1px solid blue;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px;
}

.dummy-box {
    border: 1px solid green;
    display: flex;
    align-items: center;
    gap: 3px;
}

/* DROPDOWN  */
.dummy-drop {
    /* border: 1px solid orange; */
    position: relative;
}

.dummy-drop button {
    display: flex;
    align-items: center;
    gap: 2px;
    width: 100%;
    padding: 2px 7px;
    font-size: 12px;
    background-color: white;
    border: 1px solid #eee;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

/* MARKETING COMPARE  */
.compare-container,
.design-chart-container,
.music-chart-container {
    width: 100%;
    padding: 5px;
    background-color: white;
    /* box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1); */
    border: 1px solid #fff;
    /* border: 1px solid red; */
    border-radius: 16px;
}

.compare-container h2,
.design-chart-container h2,
.music-chart-container h2 {
    margin: 0px;
    padding: 0px;
    font-size: 13px;
    font-weight: bold;
}

.compare-container .compare-content,
.design-chart-container .design-chart-content,
.music-chart-container .music-chart-content {
    width: 100%;
    height: 230px;
    /* border: 1px solid red; */
}

/* ===== WIDTH MEDIA QUERIES ===== */
@media screen and (min-width: 1401px) {}

/* ===== HEIGHT MEDIA QUERIES ===== */
@media screen and (max-height: 1500px) {

    .compare-container .compare-content,
    .music-chart-container .music-chart-content {
        height: 300px;
    }

    .design-chart-container .design-chart-content {
        height: 320px;
    }
}

@media screen and (max-height: 1000px) {

    .compare-container .compare-content,
    .music-chart-container .music-chart-content,
    .design-chart-container .design-chart-content {
        height: 280px;
    }
}

@media screen and (max-height: 851px) {}