.alert-container {
    position: fixed;
    top: 30px;
    right: 10px;
    /* left: 10px; */
    border: 1px solid green;
    border-radius: 4px;
    z-index: 1000;
    width: 80%;
    max-width: 400px;
    transform: translateY(-20px);
    transition: opacity 0.5s ease, transform 0.5s ease;
  }