.login-container {
    background-image: linear-gradient(to right, #5211cb, #5711cb, #5b11cb, #6011cb, #6411cb, #6a18ce, #6f1ed0, #7523d3, #7d2dd9, #8637df, #8e40e5, #9649eb);
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* LEFT  */
.login-content-left {
    /* border: 1px solid red; */
    width: 50%;
    height: 100vh;
    padding: 30px;
    /* padding-left: 50px; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.login-content-left .h1 {
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    justify-content: flex-start;
    color: white;
    font-size: 38px;
    font-weight: bold;
    gap: 10px;
    /* border: 1px solid red; */
    margin-bottom: 20px;
}

.h1 .h1-icon {
    font-size: 70px;
    padding: 10px;
    border: 1px solid rgba(255, 255, 255, 0.500);
    border-radius: 16px;
    background-color: rgba(255, 255, 255, 0.500);
    width: fit-content;
}

.login-content-left h4 {
    font-size: 20px;
    color: rgba(245, 245, 245, 0.871);
    margin-bottom: 20px;
}

.login-content-left p {
    font-size: 15px;
    color: rgba(245, 245, 245, 0.62);
}

/* btn lp  */
.login-content-left .btn-lp {
    /* border: 1px solid red; */
    margin-top: 20px;
    width: 100%;
    gap: 10px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    cursor: pointer;
}

.btn-lp h3 {
    font-size: 14px;
    font-weight: bold;
    color: white;
    cursor: pointer;
}

.btn-lp h3:hover {
    text-decoration: underline;
}


/* RIGHT  */
.reset-content-right {
    /* border: 1px solid blue; */
    width: 50%;
    height: 100%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.reset-content-right .content-right-box {
    /* border: 1px solid blue; */
    border-radius: 16px;
    background-color: white;
    height: 90%;
    width: 80%;
    box-shadow: 0px 4px 8px #ffffff78;
}

.content-right-box .right-box {
    /* border: 1px solid red; */
    padding: 20px;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

.content-right-box .ress-logo {
    /* border: 1px solid red; */
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.ress-logo .logo-box {
    background: linear-gradient(90deg, #7246eb, #532189);
    padding: 8px;
    border-radius: 16px;
}

.logo-box .logo-icon {
    color: white;
    font-size: 25px;
}

.ress-logo .box-title {
    /* border: 1px solid red; */
    width: 100%;
}


.box-title h2 {
    color: #333;
    width: 100%;
    text-align: center;
    font-size: 25px;
    font-weight: bold;
    margin: 0px;
}

.box-title p {
    font-size: 12px;
    color: #5e5e5e;
    margin: 0 auto;
    display: block;
    text-align: center;
    /* border: 1px solid red; */
}

.content-right-box .content-box {
    /* border: 1px solid blue; */
    width: 100%;
    height: fit-content;
}

.content-box .box-input {
    /* border: 1px solid red; */
    height: 90%;
}

.box-input .regis-input,
.box-input .regis-input-pass {
    /* border: 1px solid blue; */
    /* gap: 2px; */
    width: 100%;
}

.regis-input-pass label,
.regis-input label {
    width: 100%;
    text-align: left;
    color: #5e5e5e;
    font-size: 11px;
    margin-bottom: 5px;
}

.regis-input input,
.regis-input-pass input {
    border: 1px solid #eee;
    border-radius: 16px;
    padding: 8px 12px;
    width: 100%;
    font-size: 12px;
    margin: 0px;
    color: #333;
}

.regis-input input:hover,
.regis-input-pass input:hover {
    border: 1px solid #9649eb;
    box-shadow: 0px 4px 8px #6b11cb40;
}

.regis-input input:focus,
.regis-input-pass input:focus {
    outline: none;
    box-shadow: 0px 4px 8px #6b11cb40;
}

.regis-input-pass .password-wrapper {
    /* border: 1px solid violet; */
    margin: 0px;
}

.content-box .btn-reset {
    /* border: 1px solid blue; */
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}



.btn-reset button {
    border: 1px solid #6a11cb;
    border-radius: 16px;
    background-color: #6a11cb;
    color: white;
    text-align: center;
    width: 100%;
    padding: 8px 12px;
    font-size: 12px;
    cursor: pointer;
    font-weight: bold;
}

.btn-reset button:hover {
    box-shadow: 4px 4px 8px #6b11cb87;
}

.required {
    color: red;
    margin-left: 5px;
    font-size: 15px;
}

.btn-reset p {
    font-size: 13px;
    padding: 0px;
    margin: 5px 0px;
    width: 100%;
    text-align: center;
}

.btn-reset .span {
    color: #6a11cb;
    cursor: pointer;
}

.span:hover {
    text-decoration: underline;
}



/* MEDIA QUERY  */

/* Medium devices (tablets, ≥768px) */
@media (min-width: 768px) and (max-width: 991.98px) {
    .reset-content-right {
        /* border: 1px solid red; */
        width: 80%;
        padding: 10px;
    }
}

/* ukuran handpone besar  */
@media (min-width: 576px) and (max-width: 767.98px) {
    .reset-content-right {
        /* border: 1px solid red; */
        width: 100%;
        padding: 0px;
    }

    .reset-content-right .content-right-box {
        /* border: 1px solid red; */
        width: 70%;
    }

    .content-right-box .content-box {
        /* border: 1px solid blue; */
    }

    .content-box .box-input {
        /* border: 1px solid red; */
        height: 90%;
        width: 100% !important;
        margin-bottom: 10px;
    }
}

/* Mobile ( < 576px) */
@media (max-width: 575.98px) {
    .reset-content-right {
        /* border: 1px solid red; */
        width: 100%;
        padding: 0px;
    }

    .reset-content-right .content-right-box {
        /* border: 1px solid red; */
        width: 90%;
    }

    .content-right-box .content-box {
        /* border: 1px solid blue; */
    }

    .content-box .box-input {
        /* border: 1px solid red; */
        height: 90%;
        width: 100% !important;
        margin-bottom: 10px;
    }
}

@media screen and (max-height: 600px) {
    .reset-content-right .content-right-box {
        border: 1px solid red;
        height: 98%;
        /* width: 100%; */
    }

    .ress-logo .box-title {
        /* border: 1px solid red;mainL */
    }

    .box-title h2 {
        font-size: 20px;
    }

    .box-title p {
        font-size: 10px;
    }

    .content-right-box .content-box {
        height: 75% !important;
    }

    .regis-input input,
    .regis-input-pass input {
        font-size: 10px;
        padding: 5px 12px;
    }

    .btn-reset p {
        font-size: 10px;
    }

}

@media screen and (max-height: 599px) {
    .reset-content-right {
        padding: 5px;
    }

    .reset-content-right .content-right-box {
        /* border: 1px solid red; */
        height: 98%;
        /* width: 100%; */
    }

    .ress-logo .box-title {
        /* border: 1px solid red;mainL */
    }

    .box-title h2 {
        font-size: 20px;
    }

    .box-title p {
        font-size: 10px;
    }

    .content-right-box .content-box {
        height: 75% !important;
    }

    .regis-input input,
    .regis-input-pass input {
        font-size: 10px;
        padding: 5px 12px;
    }

    .btn-reset p {
        font-size: 10px;
    }

}