.dc-contain{
    /* border: 1px solid green; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0px;
    width: 100%;
}

.detail-card-container{
    /* border: 1px solid red; */
    /* padding: 10px; */
    width: 100%;
    gap: 10px;
    display: flex;
    /* flex-direction: column; */
    align-items: center;
    justify-content: center;
}
.dcc-content{
    border: 1px solid #ddd;
    border-radius: 6px;
    background-color: white;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.1);
    padding: 5px;
    width: 30%;
    /* width: 150px; */
    display: flex;
    flex-wrap: wrap;
    position: relative;
}
.dcc-box{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 7px 10px;
    color: #5e5e5e;
    font-size: 12px;
    /* border: 1px solid blue; */
    width: 100%;
    position: relative;
}
.dcc-box h5{
    margin: 0px;
    color: #333;
    font-size: 10px;
    font-weight: bold;
}
.dcl{
    /* border: 1px solid red; */
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
.dcr .change-icon{
    border: 1px solid white;
    border-radius: 4px;
    /* padding: 2px 5px; */
    cursor: pointer;
    color: #5e5e5e;
    font-size: 15cpx;
}
.change-icon:hover{
    border: 1px solid #eee;
    background-color: #eee;
    /* box-shadow: 0 4px 4px rgba(0, 0, 0, 0.1); */
}
.dcc-icon{
    margin-right: 5px;
}

.dcc-result{
    /* border: 1px solid red; */
    padding: 0px 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    width: 100%;
    /* width: 120px; */
}
/* 
/* RESPONSIVE: atur jika container menyempit */
/* src/index.css atau App.css */
@media (max-width: 100px) {
    .dcc-result {
      flex-direction: column !important;
      align-items: flex-start !important;
    }
  }
  

.dcc-result button{
    margin: 0px;
    padding: 3px 5px;
    background-color: white;
    border: 1px solid white;
    border-radius: 4px;
    cursor: pointer;
    color: #5e5e5e;
}
.dcc-result button:hover{
    border: 1px solid #ddd;
    background-color: #f7f7f7;
}


/* DESCRIPTION  */
.dcc-desc{
    border: 1px solid #ddd;
    /* border:1px solid red; */
    border-radius: 6px;
    background-color: white;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.1);
    margin: 20px 0px !important;
    width: 100%;
    padding: 10px;
}

.dcc-desc-header{
    /* border: 1px solid blue; */
    display: flex;
    align-items: center;
    justify-content: flex-start;
    font-size: 12px;
    color: #5e5e5e;
}
.dcc-desc-header h5{
    margin: 0px;
    color: #333;
    font-weight: bold;
}
.dcc-desc-content{
    /* border: 1px solid red; */
    margin: 5px 0px;
    padding: 15px;
    /* min-height: 10vh;
    max-height: 50vh;
    height: 100%; */
    overflow-y: auto;
}

/* tidak edit  */
.div-p{
    /* border: 1px solid #ddd; */
    /* border: 1px solid red; */
    font-size: 12px;
    min-height: 30vh;
    max-height: 45vh;
    overflow-y: auto;
    /* height: 100%; */
}

/* edit mode  */
.ta-cont{
    border: 1px solid white;
    width: 100%;
}
.ta-cont textarea{
    /* border:'1px solid green'; */
    border: 1px solid white;
    width: 98%;
    padding: 5px;
    min-height: 50vh;
    max-height: 50vh;
    overflow-y: auto;
    font-size: 12px;
}
.ta-cont textarea:focus{
    outline: none;
    min-height: 40vh;
    max-height: 40vh;
    height: 100%;
}


/* MODAL  */
.status-modal{
    position: absolute;
    top: 50%;
    right: 0%;
    border: 1px solid #ddd;
    background-color: rgb(255, 255, 255);
    z-index: 110;
    width: 15vw;   
}
.prio-modal{
    position: absolute;
    top: 50%;
    left: 25%;
    border: 1px solid #ddd;
    background-color: rgb(255, 255, 255);
    z-index: 99;
    width: 15vw; 
}

.due-date-modal{
    position: absolute;
    top: 50%;
    right: 0%;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-shadow: 0px 4px 8px #5e12eb1e;
    background-color: rgb(255, 255, 255);
    z-index: 99;
    width: fit-content; 
}