.editor-container {
    border: 1px solid #eee;
    /* border: 1px solid red !important;  */
    padding: 10px;
    border-radius: 8px;
    background: #f9f9f9;
    /* width: 20vw; */
    width: 30vw;
  max-width: 30vw;
  min-width: 30vw;
  overflow: hidden; /* Memotong konten yang melebihi lebar */
  box-sizing: border-box;
  }

  
  /* Toolbar */
  .toolbar {
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
  }
  
  button {
    margin-right: 5px;
    padding: 5px 10px;
    border: 1px solid #ddd;
    background: #fff;
    color: #333;
    border-radius: 4px;
    cursor: pointer;
    /* display: flex;
    align-items: center;
    justify-content: center; */
  }
  
  .toolbar button:hover {
    background: #ddd;
    border: 1px solid #ddd;
  }

  .t-text, 
  .t-align,
  .heading,
  .t-bullet,
  .t-action
  {
    border-right: 1px solid #ddd;
    padding: 0px 5px;
  }

  /* .t-text button, 
  .t-align button,
  .heading button,
  .t-bullet button, */
  .t-action 
  {
    display: flex;
    /* flex-direction: row; */
    /* flex-direction: column; */
    justify-content: center;
  }
  .heading .hbtn{
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .h-icon{
    margin-right: 5px;
  }
  
  
  .t-action input{
    border: 1px solid #eee;
    border-radius: 4px;
  }

  /* HEADING  */
  .heading{
    position: relative;
  }
.btn-heading{
    position: absolute;
    top: 100%;
    left: 0;
    border: 1px solid #ddd;
    background-color: #fff;
    padding: 5px;
    border-radius: 4px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    z-index: 100;
    display: flex;
    align-items: center;
    justify-content: center;
}
  /* END HEADING  */

  /* Editor */
  
  .custom-editor {
    min-height: 200px;
    padding: 10px;
    font-family: "Arial", sans-serif;
    font-size: 16px;
    line-height: 1.5;
    color: #333;
    background: white;
    border: 1px solid #ddd;
    border-radius: 5px;
    outline: none;
  }
  .custom-editor p {
    caret-color: #333;
  }
  .custom-editor p:focus {
    outline: none !important; /* Menghapus outline bawaan */
    border: 2px solid white; /* Alternatif menggunakan border */
  }
  .custom-editor p:focus-visible {
    outline: 2px solid white !important;
  }
  
  .custom-editor [contenteditable="true"]:focus {
    outline: 2px solid white !important;
  }

/* BUTTON ACTIVE  */
button.active {
    background-color: #9b2fad;
    color: white;
    border-radius: 5px;
    transition: background-color 0.2s ease-in-out;
}

button.active:hover {
    background-color: #9b2fad;
}

/* EMOJI  */
.emoji-picker{
    position: relative;
}
.emoji-picker button{
    margin-left: 5px;
}
.emoji-picker-box{
    position: absolute;
    top: 100%;
    left: 0;
    /* border: 1px solid #ddd;
    border-radius: 4px; */
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    z-index: 100;
}