.activity-container {
    height: 97%;
    min-width: 80vw;
    position: relative;
    background-color: white;
    margin-left: 10px;
    margin-top: 10px;
    border-radius: 8px;
    padding: 5px 10px;
}

.ac-header {
    border: 1px solid #ddd;
    border-radius: 16px;
    padding: 10px 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

.ac-header .ac-title {
    /* border: 1px solid blue; */
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 5px;
    width: 100%;
}

.ac-title .ac-icon {
    border: 1px solid #fff;
    border-radius: 8px;
    padding: 5px;
    font-size: 18px;
    color: white;
    background: linear-gradient(90deg, #7246eb, #532189)
}

.ac-title h2 {
    color: #5D12EB;
    font-size: 20px;
    font-weight: bold;
}

.page-description {
    margin-top: 4px;
    color: #555;
    width: 100%;
    font-size: 13px;
}

.ac-header .ach-right {
    border: 1px solid #5D12EB;
    background-color: #5D12EB;
    color: white;
    padding: 5px 10px;
    border-radius: 12px;
    cursor: pointer;
    font-size: 13px;
    position: relative;
}

.ach-right:hover {
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

.custom-dropdown .dropdwon-list {
    border: 1px solid red;
}


/* BODY  */

.activity-table-container {
    overflow-x: auto;
    /* border: 1px solid red; */
    height: 75vh;
}

.activity-table {
    width: 100%;
    border-collapse: collapse;
}

.activity-table th,
.activity-table td {
    padding: 8px;
    text-align: left;
}

.activity-table th {
    position: sticky;
    top: 0;
    background-color: #5D12EB;
    color: white;
    z-index: 1;
    font-weight: normal;
    text-align: center;
}

.activity-table td {
    font-size: 12px;
    color: #555;
    border: 1px solid #ddd;
}

@media screen and (max-height: 600px) {
    .ac-title h2 {
        font-size: 15px;
    }

    .ac-title .ac-icon {
        font-size: 12px;
    }

    .page-description {
        font-size: 10px;
    }

    .activity-table-container {
        height: 70vh;
    }

    .activity-table th,
    .activity-table td {
        font-size: 10px;
    }
}