.archive-box-container {
    /* border: 1px solid red; */
    width: 100%;
    background-color: var(--bg);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
}

.archive-box-header {
    width: 100%;
    gap: 5px;
    padding: 10px;
    margin-bottom: 15px;
    /* border: 1px solid green; */
    border-bottom: 1px solid var(--border);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.archive-header-left {
    width: 100%;
    /* border: 1px solid blue; */
}

.archive-header-left h4 {
    font-weight: bold;
    font-size: 15px;
    margin: 0px;
    color: var(--text);
}

.archive-header-left p {
    font-size: 10px;
    color: var(--sub-text);
    padding: 0px;
    margin: 0px;
}

/* =======================
HEADER ACTION
======================= */
.archive-header-btn {
    width: 70%;
    gap: 10px;
    /* border: 1px solid orange; */
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

/* search  */
.archive-header-btn .data-search {
    border: 1px solid var(--border);
    border-radius: 8px;

    padding: 5px;
    gap: 5px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    cursor: pointer;
    background-color: var(--bg);
    color: var(--sub-text);
    /* width: 100%; */
}

.data-search:hover {
    box-shadow: var(--box-shadow);
}

.data-search .search-input {
    border: none;
    background-color: var(--bg);
    color: var(--sub-text);
    font-size: 10px;
    padding: 0px 5px;
}

.search-input::placeholder {
    color: #5e5e5e;
}

.search-input:focus {
    outline: none;
}

/* button  */
.archive-box-header .btn-container {
    /* border: 1px solid red; */
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.btn-container button {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    cursor: pointer;

    padding: 8px 15px;
    gap: 5px;
    font-size: 11px;
    border-radius: 4px;
    border: 1px solid var(--border);
    background-color: var(--primary);
    color: var(--text-white);
}

/* button archive  */
.btn-show-container {
    position: relative;
}

/* ===============================
   SHOW ARCHIVE DROPDOWN
================================ */

.archive-dropdown-wrapper {
    position: relative;
    /* anchor dropdown */
}

.btn-show-archive {
    font-weight: 500;
}

/* rotate icon when open */
.archive-dropdown-wrapper.open .btn-show-archive svg {
    transform: rotate(180deg);
    transition: transform 0.2s ease;
}

/* ===============================
   DROPDOWN CONTENT
================================ */

.archive-button {
    position: absolute;
    top: calc(100% + 6px);
    /* tepat di bawah tombol */
    right: 0;
    min-width: 190px;
    background: var(--bg-section);
    border: 1px solid var(--border);
    border-radius: 6px;
    padding: 10px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.08);
    z-index: 1000;
}

.archive-button h5 {
    font-size: 12px;
    margin-bottom: 8px;
    color: var(--sub-text);
}

/* ===============================
   DROPDOWN BUTTON ITEM
================================ */

.archive-button button {
    width: 100%;
    text-align: left;
    padding: 6px 10px;
    font-size: 12px;
    border-radius: 6px;
    border: none;
    background: transparent;
    cursor: pointer;
    transition: all 0.15s ease;
    margin-bottom: 4px;
    color: var(--sub-text);
}

.archive-button button:hover {
    background: var(--bg-section-hover);
}

/* active state */
.archive-button button.active {
    background: var(--bg-section-hover);
    /* color: #0369a1; */
    font-weight: 500;
}


/* =======================
DATA TABLE ARCHIVE
======================= */
.archive-data-table {
    /* border: 1px solid blue; */
    width: 100%;
    height: 75vh;
    margin: 5px;
    overflow-y: auto;
    table-layout: fixed;
}

.archive-data-table table {
    width: 95%;
    /* border: 1px solid red; */
    position: relative;
    margin: 0 auto;
}

.archive-data-table th {
    background: var(--primary);
    color: white;
    padding: 8px;
    font-size: 12px;
    font-weight: bold;
    text-align: center;
    position: sticky;
    z-index: 10;
    top: 0;
}

.archive-data-table td {
    color: var(--sub-text);
    padding: 5px 10px;
    text-align: left;
    font-size: 12px;
    font-weight: normal;
    border: 1px solid var(--border);
    /* border-bottom: 1px solid var(--border); */

}

.archive-data-table tr:nth-child(odd) td {
    background-color: var(--bg-section);
    color: var(--sub-text);
}

.archive-data-table tr:nth-child(even) td {
    /* background-color: #ffffff; */
    background-color: var(--bg-section);
    color: var(--sub-text);
}

.archive-data-table tr:hover td {
    background-color: var(--bg-section-hover);
    cursor: pointer;
}

.archive-data-table .nomor-box {
    width: 5vw;
    min-width: 5vw;
    max-width: 5vw;
    white-space: normal;
    text-align: center;
}

.archive-data-table .entity-box {
    width: 13vw;
    min-width: 13vw;
    max-width: 13vw;
    white-space: normal;
    text-align: center;
}

.archive-data-table .name-box,
.archive-data-table .action-box {
    width: 15vw;
    min-width: 15vw;
    max-width: 15vw;
    white-space: normal;
}

.archive-data-table .desc-box {
    width: 40vw;
    max-width: 40vw;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    line-height: 1.5;

}

/* =======================
MODAL DETAIL 
======================= */
/* MODAL DETAIL CARD  */
.archive-box-container .detail-card-modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
}

.detail-card-content {
    background: var(--bg-section) !important;
    padding: 10px;
    border: 1px solid var(--border);
    border-radius: 8px;
    width: 400px;
    max-width: 90%;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}

/* modal header  */
.detail-archive-modal-header {
    width: 100%;
    padding-bottom: 5px;
    border-bottom: 1px solid var(--border);
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}

.detail-archive-modal-header h3 {
    color: var(--text);
    font-size: 13px;
    font-weight: bold;
    margin: 0px;
}



.close-archive-btn {
    color: var(--sub-text);
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 18px;
    background-color: var(--bg-section);
}

.close-archive-btn:hover {
    color: var(--primary);
}

/* modal hierarchy  */
.archive-hierarchy {
    width: 100%;
    margin: 3px 0px;
}

.hierarcy-box {
    font-size: 10px;
    color: grey;
}

.archive-modal-body {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;

    gap: 3px;
    color: var(--sub-text);
}


/* =======================
ARHIVE BODY MODAL 
======================= */



/* ENTITY  */
.entity-container {
    border: 1px solid var(--border);
    border-radius: 8px;
    width: 100%;
    padding: 8px;
    gap: 5px;
    font-weight: normal;
    font-size: 12px;
    color: var(--sub-text);
    background: var(--card-bg);
    box-shadow: var(--box-shadow);
}

.detail-archive {
    margin-bottom: 5px;
}

.detail-entity {
    /* border-top: 1px solid var(--border); */
    margin: 5px 0px;
    padding-top: 5px;
}

.entity-container h4 {
    font-weight: bold;
    font-size: 12px;
    color: var(--text);
    margin: 0px;
    /* text-decoration: underline; */
}

.entity-container p {
    padding: 0px;
    font-size: 10px;
    font-weight: normal;
    color: var(--sub-text-grey);
    font-style: italic;
}

.detail-row {
    /* border: 1px solid green; */
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    gap: 5px;
}

.detail-label {
    font-size: 12px;
    font-weight: bold;
    color: var(--sub-text);
    width: 50% !important;

    /* border: 1px solid blue; */
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.detail-value {
    width: 100%;
    color: var(--sub-text);
    /* border: 1px solid yellow; */
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}