.bl-container {
    border: 1px solid #ddd;
    height: 97%;
    /* margin-bottom: 10px; */
    margin: 15px;
    /* background-color: red; */
    background-color: #F8FAFC;
    border-radius: 8px;
    color: #333;
    position: relative;
}

.bl-header {
    border-bottom: 1px solid #ddd;
    /* border: 1px solid red; */
    border-radius: 8px;
    padding: 5px 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    background-color: #fff;
}

.blnav {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    color: #333;
    cursor: pointer;
    margin-left: 10px;
    padding: 0px;
    gap: 0px;
    /* border: 1px solid green; */
}

.blnav h4 {
    width: 100%;
    text-align: left;
    font-size: 12px;
    font-weight: bold;
    /* border: 1px solid red; */
}

/* .ellipsis-text {
    border: 1px solid red;
    text-align: left;
    font-size: 15px;
    font-weight: bold;
    width: 100%;
    max-width: 15vw;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
} */

.blnav .blnav-sub {
    width: 100%;
    gap: 5px;
    /* border: 1px solid red; */
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.blnav-sub p {
    font-size: 10px;
    color: #5e5e5e;
    cursor: pointer;
}

.blnav-sub .back {
    font-size: 10px;
    color: #5D12EB;
    cursor: pointer;
    font-weight: bold;
}

.blnav-sub .back:hover {
    text-decoration: underline;
}

.back-icon {
    font-size: 12px;
}

.blnav-sub p:hover {
    color: #5D12EB;
}

.bl-header .more-action {
    /* border: 1px solid red; */
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 40%;
    gap: 5px;
    padding: 0px;
}

.more-action .search-btn {
    /* border: 1px solid blue; */
    width: 60%;
}

.more-action .btn-create-list {
    border: 1px solid #5D12EB;
    border-radius: 4px;
    background: linear-gradient(to bottom, #6E30DC, #5D12EB);
    color: #fff;
    gap: 5px;
    width: fit-content;
    cursor: pointer;
    padding: 5px 20px !important;
    display: flex;
    align-items: center;
    justify-content: center;
}

.more-action .btn-create-list:hover {
    background: linear-gradient(to bottom, #5D12EB, #6E30DC);
    box-shadow: 0px 4px 8px #5e12eb46;
}

.btn-create-list p {
    margin: 0px;
    font-size: 13px;
    font-weight: bold;
    /* border: 1px solid red; */
}

.btn-create-list .cl-icon {
    font-size: 12px;
}

/* BODY  */
.bl-body {
    padding: 5px;
    height: 85vh;
    width: 100%;
    min-width: 80vw;
    overflow-x: auto;
    white-space: nowrap;
    /* border: 1px solid green; */
}

.bl-content {
    padding: 0px;
    display: flex;
    align-items: flex-start;
    /* penting agar list-list sejajar di atas */
    /* overflow-x: auto; */
    gap: 7px;
    /* width: 90vw; */
    width: 100%;
    height: 85vh;
    /* border: 1px solid red; */
}

.bl-card-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* background-color: #fff; */
    background-color: none;
    border-radius: 16px;
    min-width: 280px;
    max-width: 280px;
    /* padding: 5px; */
    /* height: auto; */
    height: 85vh;
    /* border: 1px solid blue; */
    box-shadow: none !important;
}

.bl-box {
    border-radius: 16px;
    border: 1px solid #E5E7EB;
    background-color: #fff;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    padding: 8px;
    width: 100%;
    height: auto;
    /* min-height: 84vh; */
    /* border: 1px solid orange; */
}

.list-title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 0px;
    width: 100%;
    position: relative;
    /* border: 1px solid red; */
}

.list-title button {
    font-size: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    /* background-color: #eee; */
    border: 1px solid #fff;
    border-radius: 4px;
    cursor: pointer;
    padding: 0px;
}

.list-title button:hover {
    background-color: #ddd;
    border: 1px solid #ddd;
}

.l-name {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    /* border: 1px solid red; */
    width: 90%;
    gap: 5px;
    /* width: fit-content; */
}

.sortable-list-item {
    transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.sortable-list-item.dragging {
    transform: rotate(2deg);
}

.l-name h5 {
    margin: 0px;
    font-size: 10px;
    /* border: 1px solid red; */
    /* width: 100%; */
    width: 17vw;
    font-weight: bold;
    color: #333;
}

.l-name .icon-i {
    color: white;
    padding: 3px;
    border-radius: 4px;
    font-size: 12px;
    background: linear-gradient(90deg, #7246eb, #532189)
}


.l-name .licon {
    margin-right: 2px;
    font-size: 12px;
    color: white;
}

.l-name input {
    border: 1px solid #f2f1f1;
    background-color: #f2f1f1;
    padding: 0px 3px;
    width: 16vw;
    font-size: 12px;
}

.l-name input:hover {
    border: 1px solid #f2f1f1;
    background-color: #f2f1f1;
}

.l-name input:focus {
    outline: none;
    background-color: #f2f1f1;
}


/* setting list  */
.list-setting {
    position: absolute;
    top: 100%;
    right: 0;
    z-index: 100;
    width: 150px;
    background-color: #fff;
    padding: 5px;
    border-radius: 8px;
    /* border: 1px solid red; */
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    justify-content: flex-start;
    gap: 2px;
    font-size: 10px;
    box-shadow: 0px 4px 8px #5e12eb46;
    /* box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); */
}

.list-setting button {
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    font-size: 10px;
    border: 1px solid #fff;
    background-color: #fff;
    border-radius: 4px;
    color: #333;
}

.list-setting button:hover {
    background-color: #eee;
}

.delete button {
    color: red;
    border-top: 1px solid #ddd;
}

.cs-icon {
    margin-right: 5px;
    font-size: 13px;
    color: #333;
}

.cs-delete {
    margin-right: 5px;
    font-size: 13px;
    color: red;
}

/* end setting list  */

.list-body {
    /* border: 1px solid grey; */
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 3px;
    margin-top: 3px;
    width: 100%;
    /* height: 75vh; */
    max-height: 75vh;
    overflow-y: auto;
    scrollbar-width: none;
    /* Firefox */
    -ms-overflow-style: none;
    /* IE and Edge */
}

.list-body::-webkit-scrollbar {
    display: none;
    /* Chrome, Safari */
}

.list-body::-webkit-scrollbar {
    width: 6px;
}

.list-body::-webkit-scrollbar-thumb {
    background-color: #ccc;
    border-radius: 3px;
}

/* END BODY  */

/* FROM CARD  */
.form-card-wrapper {
    position: relative;
}

.form-card {
    /* border: 1px solid #eee; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 99;
}

.form-card .fc-cont {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    font-size: 12px;
    gap: 5px;
    padding: 2px 6px;
    cursor: pointer;
    border: 1px solid white;
    border-radius: 4px;
}

.fc-cont:hover {
    border: 1px solid #E5E7EB;
    background-color: #E5E7EB;
}

.form-card p {
    margin: 0px;
    margin-right: 5px;
    font-weight: bold;
}

.form-card button {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 5px;
    border: 1px solid #eee;
    background-color: #eee;
    border-radius: 4px;
    font-size: 12px;
    gap: 5px;
}

.form-card button:hover {
    background-color: #ddd;
}

/* .c {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%; 
    background: white; 
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    padding: 10px;
    z-index: 10;
} */
.cc-form-card {
    background-color: none;
}

.form-card-wrapper .card-count {
    /* border: 1px solid red; */
    display: flex;
    align-items: center;
    justify-content: right;
}

.card-count p {
    padding: 0px;
    margin: 0px;
    font-size: 8px;
    margin-right: 3px;
}

/* .ccf-conten{
    border: 1px solid green;
} */
/*
.form-card .card-count{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
    border: 1px solid #ddd;
    background-color: #eee;
    border-radius: 4px;
}
.form-cont{
    position: absolute;
    padding: 5px;
    left: 2%;
    width: 200px;
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 4px;
    z-index: 1;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
} */
/* CARD DETAIL MODAL  */
.modal {
    position: fixed;
    top: 10%;
    right: 0;
    bottom: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.cc-form {
    position: absolute;
    top: 0;
    background-color: white;
    z-index: 100;
}

/* FORM LIST  */
.fl-container {
    position: absolute;
    top: 100%;
    right: 0;
    z-index: 100;
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 5px;
    background-color: white;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    display: flex;
    align-items: center;
    justify-content: center;
}

/* move modal ke list-title  */
.move-list-modal {
    /* border: 1px solid orange; */
    position: absolute;
    top: 0%;
    height: fit-content;
    width: 100%;
    right: 0;
    z-index: 100;
    background-color: rgba(255, 255, 255, 0) !important;
    padding: 5px;
    border-radius: 4px;
}

.new-move-list-modal {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 100;
    width: 100%;
    height: fit-content;
    padding: 2px;
    border-radius: 6px;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    /* border: 1px solid red; */
}

.new-position-list-modal {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 100;
    width: 100%;
    height: 30vh !important;
    height: fit-content;
    padding: 2px;
    border-radius: 6px;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    /* border: 1px solid red; */
}

.new-position-list-modal .position-box-container {
    border: 1px solid #ddd;
    background-color: white;
    border-radius: 8px;
    padding: 0px;
    height: fit-content;
    /* height: 100%; */
    width: 60%;
}

.position-box-container .pch {
    background-color: #5D12EB;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    padding: 5px;
}

.pch h5 {
    margin: 0px;
    padding: 0px;
    width: 100%;
    color: white;
    font-size: 12px;
    text-align: left;
}

.position-box-container .pcm {
    /* border: 1px solid red; */
    height: 20vh;
    overflow-y: auto;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
}

.pcm ul {
    list-style: none;
    padding: 5px;
    margin: 0px;
    border: 1px solid #eee;
    border-radius: 8px;
    background-color: white;
    z-index: 10;
    width: 100%;
    height: 100%;
}

.pcm li {
    padding: 5px;
    font-size: 12px;
    color: #333;
    background-color: white;
    text-align: center;
}

.pcm li:hover {
    background-color: #eee;
}



/* MEDIA QUERY  */


/* Extra large devices (large desktops, ≥1200px) */
@media (min-width: 1200px) and (max-width:1400px) {
    .bl-body {
        height: 86vh !important;
        min-height: 0px;
        /* border: 1px solid red; */
    }

}

/* Large devices (desktops, ≥992px) */
@media (min-width: 992px) and (max-width: 1199.98px) {

    /* CSS laptop biasa */
    .bl-body {
        height: 83vh !important;
        min-height: 0px;
        /* border: 1px solid red; */
    }

    .list-body {
        max-height: 70vh;
        /* border: 1px solid green; */
    }

}

/* Medium devices (tablets, ≥768px) */
@media (min-width: 768px) and (max-width: 991.98px) {

    /* CSS tablet atau iPad */
    .bl-body {
        height: 83vh !important;
        min-height: 0px;
        /* border: 1px solid red; */
    }

    .bl-header {
        /* border: 1px solid blue; */
        padding: 2px 10px;
    }

    .blnav {
        margin-left: 0px;
        gap: 0px;
    }

    .bl-header .more-action {
        width: 55%;
    }

    .list-body {
        max-height: 72vh;
        /* border: 1px solid green; */
    }

}

/* ukuran handpone besar  */
@media (min-width: 576px) and (max-width: 767.98px) {
    .bl-body {
        height: 83vh !important;
        min-height: 0px;
        /* border: 1px solid red; */
    }

    .bl-header {
        /* border: 1px solid blue; */
        padding: 2px 10px;
    }

    .blnav {
        margin-left: 0px;
        gap: 0px;
    }

    .bl-header .more-action {
        width: 50%;
        /* border: 1px solid blue; */
        display: flex;
        align-items: center;
        justify-content: flex-end;
    }

    .more-action .btn-create-list {
        width: fit-content;
    }

    .btn-create-list p {
        display: none;
    }

    .bl-content {
        width: 93vw;
    }

    .list-body {
        max-height: 63vh;
        /* border: 1px solid green; */
    }

    .list-body {
        max-height: 72vh;
        /* border: 1px solid green; */
    }
}

/* ukuran handpone kecil  */
@media (min-width:375px) and (max-width:575px) {
    .bl-header {
        /* border: 1px solid blue; */
        padding: 5px;
    }

    .bl-header .more-action {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .more-action .search-btn {
        /* border: 1px solid blue; */
        width: 100%;
    }

    .more-action .btn-create-list {
        width: fit-content;
        padding: 5px 8px;
    }

    .btn-create-list .cl-icon {
        display: none;
    }

    .btn-create-list p {
        font-size: 12px;
    }

    .blnav {
        /* border: 1px solid red; */
        width: 100%;
        margin: 0px;
    }

    .blnav-sub {
        /* border: 1px solid blue; */
    }

    .blnav-sub p {
        font-size: 12px;
    }




    /* BODY  */
    .bl-body {
        height: 88%;
        min-height: 0px;
        /* border: 1px solid red; */
    }

    .bl-content {
        width: 93vw;
    }

    /* END BODY  */

}

/* END MEDIA QUERY  */

/* MEDIA QUERY  */
/* HEIGHT BREAKPOIN  */
@media (min-height:400px) and (max-height:730px) {

    /* BODY  */
    .bl-body {
        height: 86%;
        min-height: 0px;
        /* border: 1px solid red; */
    }

    .bl-content {
        width: 93vw;
    }

    .more-action .btn-create-list {
        padding: 5px;
    }
}

/* Override kalau layar pendek */
@media screen and (max-height: 600px) {
    .bl-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        /* justify-content: center; */
    }

    .bl-header {
        margin-bottom: 5px;
        /* border: 1px solid red; */
        width: 100%;
        padding: 3px 5px;
    }

    .blnav h4 {
        display: none;
    }


    .bl-header .more-action {
        /* border: 1px solid blue; */
        padding: 0px;
    }

    .more-action .btn-create-list {
        padding: 5px 10px;
    }


    /* CREATE BTN  */
    .btn-create-list p {
        font-size: 10px;
        font-weight: normal;
    }

    .cl-icon {
        font-size: 10px;
        /* display: none; */
    }

    /* END HEADER  */

    .bl-body {
        /* border: 1px solid orange; */
        /* height: 82vh !important; */
        height: 93% !important;
        padding: 0px;
        width: 99%;
    }

    .bl-content {
        /* border: 1px solid violet; */
        height: 83vh;
        width: 90vw;
    }

    .bl-card-card {
        /* border: 1px solid red; */
        min-width: 220px;
        max-width: 220px;
        height: 81vh;
        overflow-y: auto;
    }

    .bl-box {
        /* border: 1px solid orange; */
        border-radius: 8px;
        padding: 3px;
        display: flex;
        flex-direction: column;
        align-items: center;
        /* justify-content: space-between; */
    }

    /* LIST SETTING  */
    .list-setting {
        width: 100px;
    }

    .list-setting button {
        font-size: 10px;
        padding: 4px;
    }

    /* LIST  */

    .list-title {
        /* border: 1px solid red; */
        padding: 0px;
        width: 90%;
    }

    .l-name h5 {
        font-size: 10px;
    }

    .list-body {
        /* border: 1px solid blue; */
        overflow-y: auto;
        margin-top: 5px;

    }

    .form-card-wrapper {
        width: 100%;
    }

    /* END LIST  */
    .form-card .fc-cont {
        font-size: 10px;
    }


    /* SETTING LIST  */

    /* 1. MOVE  */
    .move-modal {
        width: 30% !important;
        right: 0px;
        border: 1px solid green;
    }
}