.bl-container  {
    border: 1px solid #ddd;
    height: 100vh;
    margin-bottom: 10px;
    margin: 15px;
    background-color: white;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    color: #333;
    position: relative;
}
.bl-header{
    border-bottom: 1px solid #ddd;
    padding: 0px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
}
.blnav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #333;
    cursor: pointer;
    margin-left: 10px;
    padding: 2px;
    /* border: 1px solid green; */
}
.blnav-icon{
    margin-right: 5px;
    color: #333;
    cursor: pointer;
}
.bln-active{
    margin-right: 5px;
    color:#5D12EB;
    cursor: pointer;
}
.bln-icon{
    margin-right: 5px;
    color:#5D12EB;
    cursor: pointer;
}
.blnav button{
    padding: 5px 7px;
    font-size: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #fff;
    border-radius: 4px;
    background-color: white;
    cursor: pointer;
}
.blnav button:hover{
    /* background-color: #eee; */
    background: linear-gradient(to right, #6b11cb41, #2574fc41);
}

.bl-header .more-action{
    /* border: 1px solid red; */
}
.more-action .btn-create-list{
    background: linear-gradient(to bottom, #6E30DC, #5D12EB);
    color: #fff;
    font-size: 12px;
    font-weight: bold;
    cursor: pointer;
    padding: 5px 10px;
}
.more-action .btn-create-list:hover{
    background: linear-gradient(to bottom, #5D12EB, #6E30DC,);
}

/* BODY  */
.bl-body{
    padding: 5px;
    height: 100%;
    min-height: 85vh;
    width: 100%;
    min-width: 80vw;
    overflow-x: auto;
    white-space: nowrap;
    /* border: 1px solid green; */
    
}
.bl-content{
    padding: 0px;
    padding-bottom: 10px;
    display: flex;
    gap: 10px;
    width: 90vw;
    height: 100%;
    min-height: 84vh;
    /* border: 1px solid violet; */
    overflow-x: auto;
    /* position: relative; */
}
.bl-card{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    /* border: 1px solid #ddd; */
    background-color: #fff;
    /* background-color: red; */
    border-radius: 4px;
    position: relative;
    min-width: 280px;
    max-width: 280px;
    /* height: fit-content; */
    height: 100%;
    min-height: 60vh;
    padding: 5px;
    /* box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1); */
    /* box-sizing: border-box; */
}
.bl-box{
    border-radius: 8px;
    border: 1px solid #ddd;
    /* background-color: red; */
    background-color: #f2f1f1;
    /* background-color: #eeeeee41; */
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    box-sizing: border-box; 
    padding: 5px;
    margin: 0px;
    width: 100%;
    /* height: 100%; */
    /* height: fit-content; */
    min-height: 5vh;
    max-height: 90vh; 
}
.list-title{
    /* border: 1px solid blue; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding:5px 0px ;
    width: 100%;
    position: relative;
}
.list-title button{
    font-size: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #eee;
    border: 1px solid #eee;
    border-radius: 4px;
    cursor: pointer;
    padding: 0px;
}
.list-title button:hover{
    background-color: #ddd;
    border: 1px solid #ddd;
}
.l-name{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    /* border: 1px solid red; */
    width: 90%;
    /* width: fit-content; */
}
.l-name h5{
    margin: 0px;
    font-size: 12px;
    /* border: 1px solid red; */
    /* width: 100%; */
    width: 17vw;
    font-weight: bold;
    color: #333;
}
.l-name .licon{
    margin-right: 2px;
    font-size: 15px;
}
.l-name input{
    border: 1px solid #f2f1f1;
    background-color: #f2f1f1;
    padding: 0px 3px;
    width: 16vw;
    font-size: 12px;
}
.l-name input:hover{
    border: 1px solid #f2f1f1;
    background-color: #f2f1f1;
}
.l-name input:focus{
    outline: none;
    background-color: #f2f1f1;
}


/* setting list  */
.list-setting{
    position: absolute;
    top: 100%;
    right: 0;
    z-index: 100;
    width: 150px;
    background-color: #fff;
    padding: 10px 7px;
    border-radius: 4px;
    /* border: 1px solid #a795c9; */
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    justify-content: flex-start;
    gap: 3px;
    font-size: 15px;
    box-shadow: 0px 4px 8px #5e12eb46;
    /* box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); */
}
.list-setting button{
    padding: 8px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    font-size: 13px;
    border: 1px solid #fff;
    background-color: #fff;
    border-radius: 4px;
    color: #333;
}
.list-setting button:hover{
    background-color: #eee;
}
.delete button{
    color: red;
    border-top: 1px solid #ddd;
}
.cs-icon{
    margin-right: 5px;
    font-size: 13px;
    color: #333;
}
.cs-delete{
    margin-right: 5px;
    font-size: 13px;
    color: red;
}
/* end setting list  */

.list-body{
    /* height: 0%; */
    max-height: 80vh;
    width: 100%;
    border-radius: 4px;
    gap: 8px;
    min-height: 5px;
    display: flex;
    flex-direction: column;
    flex-grow: 1; 
    margin-top: 10px;
    margin-bottom: 0px;
    /* border: 1px solid green; */
    overflow-x: auto;
}
/* END BODY  */

/* FROM CARD  */
.form-card-wrapper {
    position: relative;
  }
  
.form-card{
    border: 1px solid #eee;
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* margin-top: 10px; */
    z-index: 99;
    /* position: relative; */
}
.form-card .fc-cont{
    position: relative;
}

.form-card p{
    margin: 0px;
    margin-right: 5px;
    font-weight: bold;
}

.form-card button{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 5px;
    border: 1px solid #eee;
    background-color: #eee;
    border-radius: 4px;
    font-size: 12px;
    gap: 5px;
}
.form-card button:hover{
    background-color: #ddd;
}
/* .c {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%; 
    background: white; 
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    padding: 10px;
    z-index: 10;
} */
 .cc-form-card{
    background-color: none;
 }
/* .ccf-conten{
    border: 1px solid green;
} */
/*
.form-card .card-count{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
    border: 1px solid #ddd;
    background-color: #eee;
    border-radius: 4px;
}
.form-cont{
    position: absolute;
    padding: 5px;
    left: 2%;
    width: 200px;
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 4px;
    z-index: 1;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
} */
/* CARD DETAIL MODAL  */
.modal {
    position: fixed;
    top: 10%;
    right: 0;
    bottom: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }
.cc-form{
    position: absolute;
    top: 0;
    background-color: white;
    z-index: 100;
}
/* FORM LIST  */
.fl-container{
    position: absolute;
    top: 100%;
    right: 0;
    z-index: 100;
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 5px;
    background-color: white;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    display: flex;
    align-items: center;
    justify-content: center;
}

/* move modal ke list-title  */
.move-modal{
    position: absolute;
    top: 0%;
    /* margin-top: 80px; */
    height: 25vh;
    right: 0;
    z-index: 100;
    background-color: rgba(255, 255, 255, 0) !important;
    padding: 5px;
    /* border: 1px solid #ddd; */
    border-radius: 4px;
    /* box-shadow: 0px 4px 6px rgba(0, 0,0,0.1); */
}


/* MEDIA QUERY  */


/* Extra large devices (large desktops, ≥1200px) */
@media (min-width: 1200px) and (max-width:1400px) {
  /* CSS monitor besar */
  
}

/* Large devices (desktops, ≥992px) */
@media (min-width: 992px) and (max-width: 1199.98px) {
  /* CSS laptop biasa */
  
}

/* Medium devices (tablets, ≥768px) */
@media (min-width: 768px) and (max-width: 991.98px) {
  /* CSS tablet atau iPad */

}

/* ukuran handpone besar  */
@media (min-width: 576px) and (max-width: 767.98px){
   
}

/* ukuran handpone kecil  */
@media (min-width:375px) and (max-width:575px){
    .bl-header{
        /* border: 1px solid red; */
    }

    .blnav{
        /* border: 1px solid red; */
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
    }

    .blnav-arrow{
        display: none;
    }

    .blnav button{
        font-size: 10px;
        padding: 4px;
        /* border: 1px solid blue; */
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: flex-start;
    }

    .more-action .btn-create-list{
        /* border: 1px solid orangered; */
        font-size: 10px;
        padding: 5px;
    }

}

/* END MEDIA QUERY  */