.de-panel-container {
  position: relative;
  background-color: white;
  margin-left: 10px;
  margin-top: 10px;
  border-radius: 8px;
  height: 90vh;
  /* border: 1px solid red; */
}

/* HEADER  */
.de-panel {
  border-bottom: 1px solid #ddd;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 5px 10px;
}

/* LEFT  */
.de-panel .dep-right {
  /* border: 1px solid blue; */
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  justify-content: flex-start;
  width: 70%;
}

.dep-right h3 {
  font-weight: bold;
  font-size: 20px;
  /* border: 1px solid green; */
}

.dep-right .dep-desc {
  /* border: 1px solid blue; */
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.dep-desc strong {
  font-size: 12px;
}

.dep-desc p {
  font-size: 12px;
  margin: 0px;
}

/* RIGHT  */

/* RIGHT BUTTON  */
.de-panel .dep-left {
  /* border: 1px solid red; */
  margin-bottom: 0px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  width: 30%;
  position: relative;
  gap: 2px;
}

.dep-left .dep-btn {
  /* border: 1px solid green; */
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 2px;
  width: 100%;
}

.dep-btn button {
  border: 1px solid #5D12EB;
  border-radius: 4px;
  color: white;
  background-color: #5D12EB;
  cursor: pointer;
  font-weight: normal;
  font-size: 11px;
  padding: 5px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.dep-btn button:hover {
  box-shadow: 0px 4px 8px #5e12eb46;
}

/* END RIGHT BUTTON  */

/* PANEL SEARCH  */

.dep-btn .dep-search-box {
  border: 1px solid #5D12EB;
  background-color: #5D12EB;
  color: white;
  border-radius: 8px;
  padding: 5px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  position: relative;
}

.dep-search-box:hover {
  border: 1px solid #6E30DC;
}

.search-cont {
  position: absolute;
  top: 50%;
  right: 0px;
  z-index: 99;
  padding: 3px;
  border-radius: 4px;
  border: 1px solid #ddd;
  background-color: white;
  box-shadow: 0px 4px 8px #5e12eb46;
}

.search-cont input {
  /* border: 1px solid red; */
  padding: 2px;
  font-size: 10px;
  background-color: white;
}

.search-cont input:focus {
  outline: none;
}


/* DROPDOWN FILTER  */
.dep-left .dropdown-menu {
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 10px;
  top: 50%;
  right: 0px;
  width: 50%;
  z-index: 99;
}

.dm-title {
  /* border: 1px solid green; */
  font-size: 12px;
  color: #5e5e5e;
  font-weight: bold;
  margin-bottom: 10px;
}

.dropdown-menu li {
  border: 1px solid white;
  border-radius: 4px;
  padding: 2px;
  font-size: 12px;
  cursor: pointer;
}

.dropdown-menu li:hover {
  border: 1px solid #ddd;
  background-color: #c2a4f77c;
}


/* END HEADER  */

/* TOGGLE VIEW  */
.dep-left .view-toggle {
  /* border: 1px solid green; */
  width: 100%;
  padding: 5px 10px;
  padding-right: 0px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.view-toggle button {
  border: 1px solid #5e5e5e;
  border-radius: 4px;
  cursor: pointer;
  padding: 5px;
  gap: 3px 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 10px;
}

.view-toggle button:hover {
  border: 1px solid #6E30DC;
  color: #5D12EB;
}

.view-toggle button.active {
  border: 1px solid #6E30DC;
  color: #5D12EB;
  background-color: white !important;
}

/* END TOGGLE VIEW  */

/* TABEL DATA EMPLOYEE  */
.employee-table-wrapper {
  /* border: 1px solid #6E30DC; */
  padding: 10px;
  overflow-x: auto;
  width: 100%;
  height: 67vh;
  position: relative !important;
}

.employee-table {
  overflow-x: auto;
}

.employee-table-wrapper table {
  width: 100%;
  border-collapse: collapse;
  font-size: 14px;
  /* border: 1px solid red; */
  position: relative;
}

/* style header tabel  */
.sticky-th {
  position: sticky;
  top: 0;
  background-color: white;
  /* penting, supaya gak transparan */
  z-index: 10;
  /* biar th tetap di atas td saat scroll */
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  /* opsional biar lebih kelihatan */
}

.employee-table-wrapper th,
.employee-table-wrapper td {
  padding: 10px;
  /* border-bottom: 1px solid #ddd; */
  text-align: center;
  /* width: 10vw; */
}

.employee-table-wrapper th {
  /* background-color: #f4f4f4; */
  background: linear-gradient(to bottom, #6E30DC, #5D12EB);
  color: white;
  font-weight: normal;
  font-size: 15px;
  text-align: center;
  /* width: 100%; */
}

.employee-table-wrapper tbody tr:hover {
  /* background-color: #f5f5f5; */
  background-color: #a574fa;
  color: #5D12EB;
}

/* WARNA BACKGROUND TABEL*/
.employee-table-wrapper tbody tr:nth-child(odd) {
  background-color: #f4edfc;
}

.employee-table-wrapper tbody tr:nth-child(even) {
  background-color: #ffffff;
}

/* END WARNA BACKGROUND TABEL  */
.employee-table-wrapper .th {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
}

.employee-table-wrapper td {
  font-size: 12px;
}

.delete-btn {
  background-color: #f44336;
  color: white;
  border: none;
  padding: 5px 8px;
  border-radius: 4px;
  cursor: pointer;
}

.delete-btn:hover {
  background-color: #d32f2f;
  /* color: #c9e7f3;
  color: #2c66ec; */
}

/* .employee-table-wrapper table {
  table-layout: fixed;
}

.employee-table-wrapper th:nth-child(2),
.employee-table-wrapper td:nth-child(2) {
  width: 10vw;
  min-width: 7vw;
  max-width: 7vw;
}

.employee-table-wrapper th:nth-child(8),
.employee-table-wrapper td:nth-child(8) {
  width: 8vw;
} */


/* EXTRA ATRIBUTE */

.name-con,
.username-con,
.divisi-con,
.jabatan-con,
.nomor-con {
  width: 12vw;
  min-width: 12vw;
  max-height: 12vw;
}

.email-cont {
  border: 1px solid #c9e7f3;
  border-radius: 8px;
  color: #2c66ec;
  background-color: #c9e7f3;
  padding: 2px 10px;
  width: fit-content;
}

/* MODAL */
/* 1. EDIT MODAL  */
.edit-form-modal {
  position: fixed;
  top: 0%;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 99;
  padding: 0px;
  background-color: rgba(0, 0, 0, 0.5);
  /* transparan hitam */
  display: flex;
  justify-content: center;
  align-items: center;
}

.edit-cont-modal {
  background-color: white;
  border: 1px solid #ddd;
  border-radius: 8px;
  width: 50vw;
  margin-top: 5%;
  height: fit-content;
}

/* 2. ADD NEW DATA MODAL  */
.form-modal {
  position: fixed;
  top: 0%;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 99;
  padding: 0px;
  background-color: rgba(0, 0, 0, 0.5);
  /* transparan hitam */
  display: flex;
  justify-content: center;
  align-items: center;
}

.form-modal-box {
  background-color: white;
  border: 1px solid #ddd;
  border-radius: 16px;
  width: 50%;
  margin-top: 5%;
  height: fit-content;
}

/* END ADD NEW DATA MODAL  */

/* CARD CONTAINER DATA EMPLOYEE  */
.employee-container {
  /* border: 1px solid green; */
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 10;
  padding: 10px;
  gap: 10px;
  height: 70vh;
  overflow-y: auto;
}

.employee-card {
  /* border: 1px solid red; */
  border: 1px solid #ddd;
  border-radius: 12px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  padding: 10px;
  height: fit-content;
  cursor: pointer;
}

.employee-card:hover {
  border: 1px solid #5D12EB;
  box-shadow: 0px 4px 8px #5e12eb46;
}

.employee-card .card-header {
  /* border: 1px solid blue; */
  border-bottom: 0.5px solid #ddd;
  display: flex;
  /* align-items:first baseline; */
  justify-content: space-between;
  padding: 10px;
  padding-top: 0px;
}

.card-header .ch-left {
  /* border: 1px solid red; */
}

.ch-left h4 {
  font-weight: bold;
  font-size: 15px;
  margin: 0px;
}

.ch-left p {
  margin: 0px;
  font-size: 10px;
  color: #5e5e5e;
}

.ch-left img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 2px solid #5D12EB;
}

.card-header .ch-right {
  /* border: 1px solid red; */
  position: relative;
}

.ch-right .chr-icon {
  border: 1px solid white;
  border-radius: 4px;
  background-color: white;
  /* padding: 5px; */
  cursor: pointer;
  font-size: 20px;
}

/* ACTION MODALS  */
.card-setting-menu {
  position: absolute;
  top: 20%;
  /* di bawah ikon */
  right: 0;
  /* rata kanan */
  background-color: white;
  border: 1px solid #ddd;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.15);
  border-radius: 6px;
  z-index: 10;
  padding: 8px 12px;
  min-width: 10vw;
}

.card-setting-menu button {
  font-size: 10px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  gap: 5px;
  cursor: pointer;
  border: 1px solid white;
}

.card-setting-menu button:hover {
  background-color: #eee;
  border: 1px solid #eee;
}

/* DELETE SETTING */
.card-setting-menu .csm-delete {
  font-size: 10px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  gap: 5px;
  cursor: pointer;
  border: 1px solid white;
  color: red;
}

.card-setting-menu .csm-delete:hover {
  background-color: #eee;
  border: 1px solid #eee;
}

/* END ACTION MODALS  */

.chr-icon:hover {
  border: 1px solid #eee;
  background-color: #eee;
}

/* CARD body */
.employee-card-body {
  /* border:1px solid blue; */
  padding: 10px;
  padding-top: 5px;
}

.ecb-box {
  color: #5e5e5e;
  gap: 0px;
}

.ecb-box h5 {
  font-size: 10px;
  margin: 0px;
  font-weight: normal;
}

.ecb-box p {
  margin: 0px;
  font-size: 12px;
}

.employee-card-body .more-info {
  /* border: 1px solid red; */
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  justify-content: flex-start;
  gap: 3px;
  padding: 0px;
  margin-top: 10px;
}

.more-info .ecb-box-email {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 5px;
  /* margin-top: 10px; */
  /* border: 1px solid blue; */
}

.ecb-box-email p {
  margin: 0px;
  padding: 0px;
  font-size: 10px;
  font-weight: normal;
}

/* COLUMN ACTION  */
.action-tabel {
  /* border: 1px solid blue; */
  display: flex;
  align-items: center;
  justify-content: center;
  /* width: fit-content; */
  /* min-width:10vw;
    max-width: 10vw; */
  width: 100%;
  /* height: 100%; */
}

.action-tabel button {
  /* width: 100%; */
  /* border: 1px solid red; */
  display: flex;
  align-items: center;
  justify-content: center;
}

/* MEDIA QUERY  */
/* ukuran handpone kecil */
@media (min-width:375px) and (max-width:575px) {

  /* header panel  */
  .de-panel {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* border: 1px solid red; */
    padding-bottom: 0px;
  }

  .de-panel .dep-right {
    width: 100%;
  }

  .dep-right .dep-desc {
    display: none;
  }

  .de-panel .dep-left {
    width: 100%;
    /* border: 1px solid blue; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding: 5px 0px;
  }

  .dep-btn {
    padding: 0px 10px;
    margin: 0px;
    width: 100%;
    /* border: 1px solid red; */
    gap: 0px;
  }

  .dep-btn button {
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .view-toggle {
    /* border: 1px solid red; */
    padding: 0px;
  }

  .view-toggle button {
    width: 50%;
  }

  /* end header panel  */

  /* EMPLOYEE DATA WRAPPER  */
  .employee-table-wrapper {
    /* border: 1px solid red; */
  }

  /* ADD DATA MODAL  */
  .form-modal-box {
    width: 90%;
    /* height: 80%; */
  }

  /* FORM EDIT MODAL  */
  .employee-card {
    height: 27vh;
  }

  .ecb-box {
    width: 100%;
  }

  .more-info {
    width: 100%;
    /* border: 1px solid blue; */
    display: flex;
    align-items: center;
    justify-content: flex-start;
  }

  .more-info .ecb-box-email {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }

  .employee-card-body {
    /* border: 1px solid orangered; */
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    justify-content: flex-start;
    padding: 5px;
  }

  .edit-cont-modal {
    width: 70%;
  }

  /* ACTIONS MODAL  */
  .card-setting-menu {
    width: 40vw;
  }

  /* search container  */
  .search-cont {
    width: 50vw;
  }

  /* atribut tabel  */
  .name-con,
  .username-con,
  .divisi-con,
  .jabatan-con,
  .nomor-con {
    width: 35vw;
    min-width: 35vw;
    max-height: 35vw;
  }
}

/* ukuran handpone besar */
@media (min-width: 576px) and (max-width: 767.98px) {

  /* header  panel  */
  .de-panel {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: flex-start; */
    /* border: 1px solid red; */
    padding: 5px;
  }

  .de-panel .dep-right {
    width: 100%;
  }

  .dep-left .dep-btn {
    /* border: 1px solid blue; */
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;

  }

  .view-toggle {
    /* border: 1px solid green; */
    width: fit-content;
    display: flex;
    align-items: center;
    justify-content: flex-end !important;
  }


  .de-panel .dep-left {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    /* justify-content: flex-start; */
    padding: 5px 0px;
    /* border: 1px solid red; */
  }

  .dep-left .dep-btn {
    width: 60%;
    /* border: 1px solid yellow; */
  }

  .dep-left .view-toggle {
    width: 40%;
    padding: 0px;
    /* border: 1px solid blue; */
    justify-content: flex-start;
  }

  /* end header panel  */

  /* ADD DATA MODAL  */
  .form-modal-box {
    width: 70%;
  }

  /* FORM EDIT MODAL  */
  .edit-cont-modal {
    width: 70%;
  }

  .employee-table-wrapper {
    padding-top: 0px;
  }

  .employee-table-wrapper table {
    width: 95%;
  }

  .employee-container {
    height: 70vh;
    /* border: 1px solid blue; */
  }

  .employee-card {
    height: 27vh;
  }

  /* search  */
  .search-cont {
    top: 80%;
    width: 40vw;
  }

  /* atribut tabel  */
  .name-con,
  .username-con,
  .divisi-con,
  .jabatan-con,
  .nomor-con {
    width: 25vw;
    min-width: 25vw;
    max-height: 25vw;
  }
}

/* Medium devices (tablets, ≥768px) */
@media (min-width: 768px) and (max-width: 991.98px) {
  .de-panel .dep-right {
    width: 70%;
    /* border: 1px solid blue; */
  }

  .de-panel .dep-left {
    /* border: 1px solid red; */
    width: 30%;
  }

  .search-cont {
    width: 25vw;
  }

  /* atribut tabel  */
  .name-con,
  .username-con,
  .divisi-con,
  .jabatan-con,
  .nomor-con {
    width: 18vw;
    min-width: 18vw;
    max-height: 18vw;
  }

}


/* Large devices (desktops, ≥992px) */
@media (min-width: 992px) and (max-width: 1199.98px) {

  .employee-card {
    height: 30vh;
    /* border: 1px solid green; */
  }

  /* atribut tabel  */

  .name-con,
  .username-con,
  .divisi-con,
  .jabatan-con,
  .nomor-con {
    width: 12vw;
    min-width: 12vw;
    max-height: 12vw;
  }

}

/* HEIGHT BREAKPOIN  */
@media screen and (max-height: 600px) {
  .employee-card {
    height: 35vh;
    /* border: 1px solid red; */
  }

  .de-panel {
    /* border: 1px solid blue; */
  }

  .dep-right h3 {
    font-size: 15px;
    color: #5D12EB;
  }

  .dep-desc strong,
  .dep-desc p {
    font-size: 8px;
  }

  .de-panel .dep-left {
    /* border: 1px solid red; */
  }

  /* TABLE  */
  .employee-table-wrapper {
    padding: 10px 5px;
    height: 75vh;
  }

  .employee-table-wrapper th,
  .employee-table-wrapper td {
    font-size: 10px;
  }

  /* EMPLOYEE CNTAINER  */

  .employee-container {
    /* border: 1px solid green; */
    height: 75vh;
  }

  .ch-left img {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 2px solid #5D12EB;
  }

  .ch-left h4 {
    font-weight: bold;
    font-size: 10px;
    margin: 0px;
  }

  .ch-left p {
    margin: 0px;
    font-size: 8px;
    color: #5e5e5e;
  }

  .card-setting-menu {
    width: 15vw;
  }

}