.rb-container {
    position: relative;
    background-color: var(--bg);
    margin-left: 10px;
    margin-top: 10px;
    border-radius: 8px;
    height: 97%;
}

/* HEADER  */
.rb-container .rb-header {
    border-bottom: 1px solid var(--bg);
    border-radius: 8px;
    padding: 5px 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    background-color: var(--bg);
    /* box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1); */
}

.rb-header .header-title {
    /* border: 1px solid red; */
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-title .title-left {
    gap: 10px;
    /* border: 1px solid grey; */
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.header-icon {
    border: 1px solid var(--bg);
    border-radius: 8px;
    padding: 8px;
    color: var(--text-white);
    font-size: 12px;
    background: var(--bg-icon2);
    /* background: linear-gradient(90deg, #7246eb, #532189); */
}

.title-left h2 {
    margin: 0px;
    font-weight: bold;
    width: 100%;
    color: var(--text);
}

.header-title .title-right {
    /* border: 1px solid red; */
}

.title-right .rb-search {
    border: 1px solid var(--border);
    border-radius: 8px;
    background: var(--bg);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 10px;
    padding: 0px 5px;
    cursor: pointer;
}

.rb-search:hover {
    background: var(--bg-section-hover);
    box-shadow: var(--box-shadow);
}

.rb-search input {
    border: 1px solid var(--bg);
    background: var(--bg);
    border-radius: 16px;
    font-size: 12px;
    color: var(--sub-text);
    padding: 5px;
    width: 15vw;
}

.rb-search input:hover,
.rb-search input:focus {
    outline: none;
    background: var(--bg-section-hover);
    box-shadow: var(--box-shadow);

    border: 1px solid var(--bg-section-hover);
}

.rb-header .sub-title {
    /* border: 1px solid red; */
    width: 100%;
    margin-top: 5px;
}

.sub-title p {
    margin: 0px;
    font-size: 12px;
    color: var(--sub-text);
}

/* END HEADER  */

/* =======================
BODY DATA DELETE
======================= */

.rb-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(340px, 1fr));
    gap: 7px;
    margin-top: 10px;
    padding: 5px;
    /* border: 1px solid red; */
    height: 84%;
    overflow-y: auto;
}

.rb-section {
    background: var(--card-bg);
    border: 1px solid var(--border);
    border-radius: 16px;
    height: 60vh;
    padding: 10px;
    cursor: pointer;
}

.rb-section:hover {
    box-shadow: var(--box-shadow);
}

.rb-section-title {
    font-weight: 600;
    font-size: 1rem;
    color: var(--sub-text);
    margin-bottom: 0.8rem;
    display: flex;
    align-items: center;
    gap: 0.5rem;
    border-bottom: 1px solid var(--border);
}

.no-data-delete {
    font-size: 12px;
    font-style: italic;
    /* text-decoration: underline; */
    color: rgba(128, 128, 128, 0.521);
    /* border: 1px solid green; */
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.rb-card-grid {
    display: flex;
    flex-direction: column;
    gap: 5px;
    height: 51vh;
    overflow-y: auto;
    /* border: 1px solid red; */
}

.rb-card {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid var(--border);
    padding: 0.7rem 1rem;
    border-radius: 12px;
    transition: all 0.2s ease-in-out;
    cursor: pointer;
}

.rb-card:hover {
    background-color: var(--bg-section-hover);
    box-shadow: var(--box-shadow);
    transform: translateY(-1px);
}

.rb-card-title {
    font-weight: 500;
    font-size: 12px;
    color: var(--sub-text);
}

.rb-card-id {
    font-size: 0.8rem;
    color: var(--sub-text-grey);
}

.rb-restore-btn {
    background: var(--status-one-hit-bg);
    color: var(--status-one-hit-text);
    border: none;
    padding: 0.4rem 0.8rem;
    border: 1px solid var(--status-one-hit-border);
    border-radius: 8px;
    font-size: 10px;
    transition: all 0.2s ease-in-out;
    cursor: pointer;
}

.rb-restore-btn:hover {
    /* background-color: #16a34a; */
}