.design-period-container {
    /* border: 1px solid red; */
    width: 90vw;
    height: 100%;
    overflow-x: auto;
}

.design-period-container .dp-title {
    /* border: 1px solid blue; */
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.dp-title h2 {
    font-size: 15px;
    color: #5320be;
    font-weight: bold;
}

.design-period-container .dp-select {
    /* border: 1px solid green; */
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.design-period-container .data-report {
    /* border: 1px solid grey; */
    width: 100%;
    overflow-y: auto;
}

.table-report-content table {
    width: 100%;
    position: relative;
}

.table-report-content th {
    background: linear-gradient(to bottom, #6E30DC, #5D12EB);
    color: white;
    padding: 8px;
    font-size: 12px;
    font-weight: bold;
    position: sticky;
    z-index: 10;
    top: 0;
}

.table-report-content td {
    color: #333;
    padding: 5px 10px;
    font-size: 12px;
    font-weight: normal;
}