.emd-container {
    position: relative;
}

.emd-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    font-size: 12px;
    position: sticky;
    color: white;
    background: linear-gradient(to bottom, #6E30DC, #5D12EB);
    border: 1px solid #5D12EB;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

.emd-header h4 {
    margin: 0px;
    color: white;
    font-weight: bold;
}

.emd-left {
    color: white;
}

.emd-icon {
    cursor: pointer;
    font-size: 20px;
}

.emd-icon:hover {
    color: #051937;
}

.emd-container form {
    /* border: 1px solid red; */
    padding: 0px;
    height: 80vh;
    padding: 10px;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

.emd-informasi {
    width: 100%;
    margin-bottom: 10px;
}

.emd-informasi h4 {
    margin: 0px;
    font-size: 12px;
}

.emd-content {
    border: 1px solid #eee;
    border-radius: 4px;
    padding: 5px;
    display: grid;
    /* grid-template-columns: repeat(3, 1fr); */
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 10;
}

.emd-content .emd-box {
    /* border: 1px solid red; */
    border-radius: 4px;
    padding: 5px;
    gap: 10;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    position: relative;
}

.emd-box label {
    margin: 0px;
    font-size: 10px;
    color: grey;
}

.emd-box input {
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 5px;
    margin-top: 3px;
    font-size: 12px;
    /* width: 150px; */
}

.emd-box input:hover {
    border: 1px solid #5D12EB;
    background: linear-gradient(to bottom, #6f30dc44, #1248eb50);
}

.emd-box input:focus {
    outline: none;
    border: 1px solid #6f30dc47;
    box-shadow: 0px 4px 8px #6f30dc54;
}

/* REFERENSI  */
.emd-reference {
    width: 100%;
    margin-bottom: 10px;
    /* border: 1px solid blue;  */
}

.emd-reference h4 {
    margin: 0px;
    font-size: 12px;
}

.emd-ref-content {
    border: 1px solid #eee;
    border-radius: 4px;
    padding: 5px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 10;
}

.emd-ref-content .emd-ref-box {
    /* border: 1px solid red; */
    border-radius: 4px;
    padding: 5px;
    gap: 10;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.emd-ref-box label {
    margin: 0px;
    font-size: 10px;
    color: grey;
}

.emd-ref-box input {
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 5px;
    margin-top: 3px;
    width: 100%;
    font-size: 12px;
}

.emd-ref-box input:hover {
    border: 1px solid #5D12EB;
    background: linear-gradient(to bottom, #6f30dc44, #1248eb50);
}

.emd-ref-box input:focus {
    outline: none;
    border: 1px solid #6f30dc47;
    box-shadow: 0px 4px 8px #6f30dc54;
}

.emd-ref-box textarea {
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 5px;
    margin-top: 3px;
    width: 100%;
    height: 10vh;
    font-size: 12px;
}

.emd-ref-box textarea:hover {
    /* outline: none; */
    border: 1px solid #5D12EB;
    background: linear-gradient(to bottom, #6f30dc44, #1248eb50);
}

.emd-ref-box textarea:focus {
    outline: none;
    border: 1px solid #6f30dc47;
    box-shadow: 0px 4px 8px #6f30dc54;
}

.emd-btn {
    /* border: 1px solid rebeccapurple; */
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px 0px;
}

.emd-btn button {
    background: linear-gradient(to bottom, #6E30DC, #5D12EB);
    padding: 7px 10px;
    color: white;
    font-weight: bold;
    border: 1px solid #5D12EB;
    border-radius: 8px;
    width: 50%;
    font-size: 15px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

.emd-btn button:hover {
    background: linear-gradient(to bottom, #5D12EB, #6E30DC);
}

.emd-sub-icon {
    margin-right: 10px;
}


/* DROPDOWN ACCEPT */
.emd-box .dropdown-selected {
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 5px;
    margin-top: 3px;
    width: 100%;
    font-size: 11px;
}

.emd-box .dropdown-options {
    position: absolute;
    top: 90%;
    left: 3%;
    z-index: 99;
    padding: 5px;
    width: 95%;
    border: 1px solid #ddd;
    border-radius: 4px;
    background-color: white;
    list-style: none;
    font-size: 10px;
    gap: 10px;
}

.dropdown-options li {
    border: 1px solid white;
    border-radius: 4px;
    padding: 5px;
    margin-bottom: 5px;
    cursor: pointer;
}

.dropdown-options li:hover {
    /* background-color: #eee; */
    background-color: #d0b6ff46;
    border: 1px solid #eee;
    color: #5D12EB;
}

.accepted-status {
    background-color: #d4edda;
    color: #155724;
    border: 1px solid #c3e6cb;
    padding: 6px 10px;
    border-radius: 4px;
}

.not-accepted-status {
    background-color: #f8d7da;
    color: #721c24;
    border: 1px solid #f5c6cb;
    padding: 6px 10px;
    border-radius: 4px;
}

/* .emd-ref-box input{
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 5px;
    margin-top: 3px;
    width: 95%;
}
.emd-ref-box input:hover{
    border: 1px solid #5D12EB;
    background-color: white;
}
.emd-ref-box input:focus{
    outline: none;
    border: 1px solid #6f30dc47;
    box-shadow: 0px 4px 8px #6f30dc54;
} */

/* media query  */
/* ukuran handpone kecil */
@media (min-width:375px) and (max-width:575px) {
    .emd-container form {
        height: 75vh;
        /* border: 1px solid green; */
    }

    .emd-btn button {
        width: 90%;
    }
}

@media screen and (max-height: 600px) {
    .emd-container form {
        /* border: 1px solid red; */
        height: 78vh;
    }
}