.em-container{
    position: relative;
}
.em-header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    font-size: 12px;
    position: sticky;
    color: white;
    background: linear-gradient(to bottom, #6E30DC, #5D12EB);
    border: 1px solid #5D12EB;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}
.em-header h4{
    margin: 0px;
    color: white;
    font-weight: bold;
}
.em-icon{
    cursor: pointer;
    font-size: 20px;
    border-radius: 4px;
}
.em-icon:hover{
    color: #051937;
}

.em-container form{
    /* border: 1px solid red; */
    padding: 0px;
    height: 80vh;
    padding: 10px;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}
form h4
{
    margin: 0px;
    font-size: 12px;
}
/* .em-container form{

} */
.section{
    /* border: 1px solid blue; */
    width: 100%;
    margin: 15px 0px;
}
.sec-content{
    /* border: 1px solid red; */
    border-radius: 4px;
    padding: 5px;
    display: grid;
    /* grid-template-columns: repeat(3, 1fr); */
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 10;
}
.sec-link-content{
     /* border: 1px solid green; */
    border-radius: 4px;
    padding: 5px;
    display: grid;
    gap: 10;
}

.sec-link-content .box{
    /* border: 1px solid red; */
    border-radius: 4px;
    padding: 5px;
    gap: 10;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 100%;
    /* position: relative; */
}

.box textarea{
    width: 98%;
    border-radius: 4px;
    border: 1px solid #ddd;
    padding: 5px;
    font-size: 12px;
}
.box textarea:hover{
    border: 1px solid #5D12EB;
    background-color: white;
}
.box textarea:focus{
    outline: none;
    border: 1px solid #6f30dc47;
    box-shadow: 0px 4px 8px #6f30dc54;
}
.box label
{
    margin: 0px;
    font-size: 10px;
    color: grey;
}
.box input{
     border: 1px solid #ddd;
    border-radius: 4px;
    padding: 5px;
    margin-top: 3px;
    font-size: 12px;
    /* width: 150px; */
}
.box input:hover{
    border: 1px solid #5D12EB;
    /* background-color: white; */
    background: linear-gradient(to bottom, #6f30dc44, #1248eb50);
}
.box input:focus{
    outline: none;
    border: 1px solid #6f30dc47;
    box-shadow: 0px 4px 8px #6f30dc54;
}

.button-update{
    /* border: 1px solid #ddd; */
    display: flex;
    align-items: center;
    justify-content: end;
}
.button-update button{
    background: linear-gradient(to bottom, #6E30DC, #5D12EB);
    padding: 7px 20px;
    color: white;
    font-weight: bold;
    border: 1px solid #5D12EB;
    border-radius: 8px;
    width: 100%;
    font-size: 15px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}
.button-update button:hover{
    background: linear-gradient(to bottom,#5D12EB,#6E30DC);
    box-shadow: 0px 4px 8px #6f30dc7c;
}


/* DROPDOWN ACCEPT */
.sec-content .emd-box{
    /* border: 1px solid red; */
    position: relative;
}
.emd-box .dropdown-selected{
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 5px;
    margin-top: 3px;
    width: 95%;
    font-size: 11px;
    position: relative;
}
/* 
.dropdown-options {
    position: absolute;
    top: 100%; 
    right: 10%;
    z-index: 99;
    padding: 5px;
    width: 20%;
    border: 1px solid #ddd;
    border-radius: 4px;
    background-color: white; 
    list-style: none;
    font-size: 10px;  
    gap: 10px; 
} */


.dropdown-options li{
    border: 1px solid white;
    border-radius: 4px;
    padding: 5px;
    margin-bottom: 5px;
    cursor: pointer;
}
.dropdown-options li:hover{
    /* background-color: #eee; */
    background-color: #d0b6ff46;
    border: 1px solid #eee;
    color: #5D12EB;
}

.accepted-status {
    background-color: #d4edda;
    color: #155724;
    border: 1px solid #c3e6cb;
    padding: 6px 10px;
    border-radius: 4px;
}

.not-accepted-status {
    background-color: #f8d7da;
    color: #721c24;
    border: 1px solid #f5c6cb;
    padding: 6px 10px;
    border-radius: 4px;
}


/* MEDIA QUERY  */
/* ukuran handpone kecil */
@media (min-width:375px) and (max-width:575px) and (min-height:300px) and (max-height:600px) {
  .sec-content .emd-box{
    /* border: 1px solid red; */
    width: 90%;
  }
  .emd-box .dropdown-selected{
    width: 100%;
  }
}
