.faq-container {
    /* height: 100%; */
    min-width: 80vw;
    position: relative;
    /* border: 1px solid green; */
    background-color: var(--bg);
    margin-left: 10px;
    margin-top: 10px;
    border-radius: 8px;
    padding: 10px;
    gap: 10px;
    display: flex;
    flex-direction: column;
    align-items: flex !important;
    justify-content: center;
}

.faq-header {
    border-bottom: 1px solid var(--border);
    /* border-radius: 16px; */
    width: 100%;
    padding: 5px 15px;
    /* margin-top: 10px; */
    /* box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1); */
}

.faq-header .faq-left {
    /* border: 1px solid red; */
    display: flex;
    /* align-items: center; */
    justify-content: flex-start;
    gap: 5px;
    width: 100%;
}

.faq-header p {
    font-size: 12px;
    color: var(--sub-text);
}

.faq-left h2 {
    font-size: 18px;
    font-weight: bold;
    color: var(--text);
}

.faq-left .header-icon {
    border: 1px solid var(--bg);
    border-radius: 8px;
    padding: 5px;
    color: var(--text-white);
    background: var(--bg-icon2);
    /* background: linear-gradient(90deg, #7246eb, #532189) */
}

/* =======================
MAIN CONTENT
======================= */

.faq-container .faq-main-content {
    height: 80vh;
    width: 80%;
    padding: 10px;
    overflow-y: auto;
}

.faq-item {
    margin-bottom: 10px;
    border-bottom: 1px solid var(--border);
}

.faq-item button {
    width: 100%;
    text-align: left;
    background-color: var(--bg);
    border: none;
    font-size: 15px;
    padding: 10px;
    cursor: pointer;
    /* font-weight: bold; */
    color: var(--sub-text);
}

.faq-item button:hover {
    background-color: #5220be12;
}

.faq-item .answer-box {
    border: 1px solid var(--bg);
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    padding: 10px;
    background-color: var(--bg-section);
    font-size: 13px;
    color: var(--sub-text);
    font-weight: bold;
}

@media screen and (max-height: 600px) {
    .faq-left h2 {
        font-size: 15px;
    }

    .faq-item button,
    .faq-item .answer-box {
        font-size: 12px;
    }
}