.home-container{
    /* border: 1px solid red; */
    /* border:1px solid #6a11cb; */
    height: 97%;
    margin-bottom: 10px;
    margin: 15px;
    background-color: white;
    border-radius: 8px;
    color: #333;
}

.home-header{
    border-bottom: 1px solid #ddd;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
}
.nav {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    color: #333;
    margin-left: 10px;
  }
  
  .nav-title {
    font-weight: 600;
    font-size: 1.1rem;
    display: flex;
    align-items: left;
    gap: 6px;
    /* border: 1px solid red; */
    width: 100%;
  }
  
  .nav-subtext {
    margin: 4px 0 0 0;
    font-size: 0.85rem;
    color: #666;
  }
  

.nav p{
    margin: 0px;
    font-size: 12px;
}
.nav-icon{
    margin-right: 5px;
    color: #333;
    cursor: pointer;
}

.home-header .home-btn{
    /* border: 1px solid red; */
    /* width: 160px; */
    min-width: 200px;
    display: flex;
    padding: 2px;
    align-items: center;
    justify-content: space-between;
}

.home-btn button{
    border: 1px solid #6a11cb;
    font-size: 12px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    color: white;
    cursor: pointer;
    padding: 5px;
    background: linear-gradient(to right,#6a11cb, #2575fc);
}

.home-btn button:hover{
    background: linear-gradient(to right, #2575fc, #6a11cb);
}
.home-btn .btn-icon{
    margin-right: 5px;
    font-size: 12px;
}
.home-btn p{
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #ddd;
}



/* FORM CREATE WORKSPACE  */
.wf-create{
    width: 20vw;
    position: absolute;
    top: 80%;
    right: 0;
    z-index: 100;
    background-color: white;
    border-radius: 6px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    border:1px solid #ddd;
    /* border:1px solid red; */
    font-size: 15px;
}

.wf-header{
    padding: 10px 15px;
    border-bottom: 1px solid #eee;
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* margin-bottom: 5px; */
}
.wf-icon{
    margin-right: 5px;
    font-size: 15px;
}
.wf-header h5{
    margin: 0px;
    font-weight: bold;
    font-size: 12px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
.wf-close{
    cursor: pointer;
    border: 1px solid white;
    border-radius: 4px;
}
.wf-close:hover{
    border: 1px solid #eee;
    background-color: #eee;
}
.wf-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    /* border: 1px solid red; */
    /* margin-bottom: 15px; */
    padding: 15px;
}
.wf-input{
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    justify-content: flex-start;
    margin-bottom: 5px;
    /* border: 1px solid red; */
    width: 100%;
}
.wf-input label{
    font-size: 10px;
    color: grey;
    margin: 5px 0px;
}
.wf-input input{
    /* border: 1px solid #9b2fad; */
    border: 1px solid #eee;
    border-radius: 4px;
    padding: 5px;
    outline: none;
}
.wf-input input:hover{
    /* border: 1px solid #9b2fad; */
    background: linear-gradient(to right, #6b11cb41, #2574fc41);
}
.wf-input input:focus{
    border: 1px solid #9b2fad;
}
.wf-content button{
    padding:5px 10px;
    font-weight: bold;
    width: 100%;
    border: 1px solid #eee;
    border-radius: 6px;
    font-size: 12px;
    /* background-image: linear-gradient(to left bottom, #783fbf, #9b2fad, #b31d98, #c40a82, #ce086c, #d61c5f, #db2d53, #de3e47, #e45041, #e9623b, #ec7336, #ee8432); */
    /* background-color: #9b2fad; */
    margin-top: 5px;
    color: white;
    background: linear-gradient(to right, #6a11cb, #2575fc);
}
.wf-content button:hover{
    /* background-image: linear-gradient(to left, #783fbf, #9b2fad, #b31d98, #c40a82, #ce086c, #d61c5f, #db2d53, #de3e47, #e45041, #e9623b, #ec7336, #ee8432); */
    background: linear-gradient(to right, #2575fc, #6a11cb);
    color: white;
}
.cancle-btn{
    background-color: white;
    color: white;
    padding: 10px;  
    border: 1px solid #f44336;
    border-radius: 4px;
}
/* END FORM CREATE  */

.greeting{
    /* border: 1px solid yellow; */
}

.home-body{
    /* border: 1px solid red; */
    height: 73vh;
    padding: 20px;
    padding-top: 5px;
    margin: 10px;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: auto auto;
    gap: 20px;
    overflow-y: auto;
}
.home-body .section{
    border: 1px solid #ddd;
    /* border: 1px solid blue; */
    border-radius: 8px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    height: 40vh;
}
.section .header{
    border-bottom: 1px solid #eee;
    /* border: 1px solid red; */
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px;
    background-color: white;
}
.header .left{
    /* border: 1px solid blue; */
    display: flex;
    align-items: center;
    justify-content: flex-start;
    font-size: 12px;
    gap: 5px;
}
.left h4{
    margin: 0px;
    letter-spacing: 0.1px;
    font-weight: bold;
    color: #333;
}

.header .right{
    /* border: 1px solid blue; */
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
.right button{
    border: 1px solid white;
    padding: 3px;
    font-size: 15px;
    cursor: pointer;   
}
.right button:hover{
    border: 1px solid #eee;
    background-color: #eee;
}

/* GREETING TEXT  */
.gradient-text {
    font-size: 1.875rem; /* text-2xl */
    font-weight: bold;
    background: linear-gradient(90deg, #a34dff, #3ac7ff);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    display: inline-block;
  }



  /* NEW SECTION BODY  */
  .home-body .section-body{
    border: 1px solid #5320be;
    height: 45vh;
    border-radius: 8px;
    box-shadow: 0px 4px 8px #6b11cb40;
  }
  .section-body .sb-header{
    /* border: 1px solid blue; */
    border-radius: 6px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    background-image: linear-gradient(to left bottom, #5e166d, #64137d, #69108d, #6c0d9f, #6d0db1, #6912b7, #6317be, #5d1bc4, #5320be, #4a23b8, #4125b2, #3827ab);
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px;
  }
  .sb-header .sbh-left{
    /* border: 1px solid red; */
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 5px;
  }

  .sbh-left h4{
    font-weight: bold;
    font-size: 15px;
  }

  .sbh-right{
    /* border:1px solid green; */
    gap: 5px;
  }

  .sbh-right button{
    background-color: rgba(255, 255, 255, 0);
    border: 1px solid #ffffff00;
    /* border: 1px solid white; */
    color: white;
    cursor: pointer;
    padding: 2px;
  }

  .sb-body{
    padding: 10px;
    /* border: 1px solid red; */
    margin: 0px;
    min-height: 35vh;
    max-height: 40vh;
    /* height: fit-content; */
  }
  /* END NEW SECTION BODY  */

/* AGENDA  */
.section .sec-body{
    /* border: 1px solid #ddd; */
}

/* END AGENDA  */


/* BREAK POINT  */

/* Extra large devices (large desktops, ≥1200px) */
@media (min-width: 1200px) and (max-width:1400px) {
  /* CSS monitor besar */
  .wf-create{
     /* border: 1px solid orangered; */
     width:20%;
   }

   .home-body{
    /* border: 1px solid red; */
   }
}


/* Large devices (desktops, ≥992px) */
@media (min-width: 992px) and (max-width: 1199.98px) {
  /* CSS laptop biasa */
  .wf-create{
     /* border: 1px solid orangered; */
     width:30%;
   }
   .home-body{
    /* border: 1px solid blue; */
   }
}

/* Medium devices (tablets, ≥768px) */
@media (min-width: 768px) and (max-width: 991.98px) {
  /* CSS tablet atau iPad */
    .wf-create{
     /* border: 1px solid orangered; */
     width:40%;
   }
   .home-body{
    /* border: 1px solid yellow; */
   }
   .sbh-left h4{
    font-size: 12px;
   }

   /* SUMMARY CONT  */
   .sb-body{
    height: 40vh;
    padding: 5px;
    /* border: 1px solid blue; */
   }
}

/* ukuran handpone besar  */
@media (min-width: 576px) and (max-width: 767.98px){
   .wf-create{
     /* border: 1px solid blue; */
     width:50%;
   }
   .home-body{
    /* border: 1px solid green; */
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: center; */
    padding-top: 20px;
    overflow-y: auto;
   }
   .home-body .section-body{
    width: 100%;
   }

   .sb-body{
        /* border: 1px solid orange; */
   }
}

/* ukuran handpone kecil  */
@media (min-width:375px) and (max-width:575px){
    .home-container{
        /* border: 1px solid green; */
    }
    
    .wf-create{
        /* border: 1px solid green; */
        width:70%;
    }

    .home-body{
        /* border: 1px solid green; */
        height: 80vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        /* justify-content: center; */
        padding-top: 20px;
        padding: 0px;
        overflow-y: auto;
   }
   .home-body .section-body{
        width: 100%;
   }

   /* SUMMARY  */
   .sb-body{
    padding: 5px;
   }

    .home-header .home-btn{
        min-width: 150px;
        justify-content: flex-end;
    }
    .home-btn button {
        font-size: 8px;
    }

    /* GREETING  */
    .greeting{
        display: none;
    }
}
