.new-card-detail {
    border: 1px solid #ddd;
    width: 98%;
    min-width: 60vw;
    height: 97%;
    /* min-height: 100vh; */
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 5px;
    margin-right: 5px;
    /* margin: px 0px; */
    background-color: white;
    border-radius: 8px;
    color: #333;
    position: relative;
    /* display: flex;
    flex-direction: column;
    align-items: center; */
}

.ncd-header {
    border-bottom: 1px solid #ddd;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    background-color: white;
    /* background-image: linear-gradient(to right, #6d5aea, #715cea, #755eea, #7861ea, #7c63ea, #8266ea, #8768ea, #8c6bea, #946fea, #9b72ea, #a276ea, #a87aea); */
    /* padding: 5px; */
    width: 100%;
    /* min-width: 650px; */
    /* padding-right: 20px; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    box-shadow: 0px 4px 8px (0, 0, 0, 0.1);
}

.ncd-left {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    color: #333;
    cursor: pointer;
    margin-left: 10px;
    padding: 2px;
    /* border: 1px solid green; */
}

.ncd-icon {
    margin-right: 5px;
    /* color: #333; */
    color: #5e5e5e;
    cursor: pointer;
}

.ncd-left .ncd-board {
    padding: 5px;
    font-size: 10px;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    /* border: 1px solid #ffffff00; */
    border: 1px solid rgba(255, 255, 255, 0);
    border-radius: 8px;
    background-color: rgba(255, 255, 255, 0);
    /* background: linear-gradient(to right, #6b11cb3f, #2574fc38); */
    cursor: pointer;
    color: #5e5e5e;
}

.ncd-left .ncd-board:hover {
    color: #6a11cb;
    /* border: 1px solid #ddd; */
    text-decoration: underline;
}

.ncd-active {
    /* color:#6a11cb; */
    font-size: 10px;
    color: #5e5e5e;
    font-weight: bold;
    cursor: pointer;
}

.ncd-active:hover {
    color: #6a11cb;
    text-decoration: underline;
}

.ncd-header .ncd-right {
    /* border: 1px solid grey; */
    display: flex;
    align-items: center;
    justify-content: flex-start;
    /* width: fit-content; */
}

.ncd-right button {
    padding: 5px;
    border: 0.5px solid #333;
    border-radius: 4px;
    /* background-color: white; */
    background: linear-gradient(to right, #6a11cb, #2575fc);
    color: white;
    font-size: 13px;
    /* font-weight: bold; */
    margin: 0px 2px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

.nr-icon {
    margin-right: 5px;
}


/* LABEL  */


/* CARD MAIN BOX  */
.card-main-box {
    /* border: 1px solid red; */
    display: flex;
    width: 100%;
}

/* LEFT SIDE  */
.cmb-left {
    /* border: 1px solid blue; */
    border-top: 1px solid #ddd;
    /* border-right: 0.5px solid #ddd; */
    width: 75%;
}

.cmb-left button.active {
    background-color: #007bff;
    color: #fff;
}

.cmb-left button {
    background-color: #f0f0f0;
    color: #333;
    border: none;
    padding: 8px 16px;
    margin-right: 8px;
    border-radius: 6px;
    cursor: pointer;
    transition: all 0.2s ease;
}

/* Hover state */
.cmb-left button:hover {
    background-color: #dcdcdc;
    color: #000;
}

/* Active state (when clicked) */
.cmb-left button:active {
    background-color: #c0c0c0;
    transform: scale(0.98);
}


/* RIGHT SIDE  */
.cmb-right {
    border: 1px solid #ddd;
    /* border: 1px solid red; */
    width: 25%;
    height: 75vh;
    position: relative;
    /* overflow-y: auto; */
}

.cmb-right .c-info {
    border-bottom: 1px solid #ddd;
    /* border: 1px solid blue; */
    padding: 0px 10px;
    /* margin-bottom: 5px; */
    position: relative;
}

.c-info-title {
    /* border: 1px solid green; */
    display: flex;
    justify-content: space-between;
}

/* BUTTON ACTION  */
.c-info-title button {
    padding: 2px;
    color: #5e5e5e;
    border: 1px solid #fff;
    border-radius: 4px;
    cursor: pointer;
}

.c-info-title button:hover {
    border: 1px solid #ddd;
    background-color: #ddd;
}

.acm-container {
    position: absolute;
    background-color: #00000000;
    border: 1px solid #5e12eb00;
    top: 20%;
    right: 0px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.action-card-modal {
    background-color: white;
    border-radius: 4px;
    border: 1px solid #5e12eb46;
    box-shadow: 0px 4px 8px #5e12eb46;
    padding: 5px;
    width: 15vw;
    /* width: 50%; */
}

.action-card-modal button {
    width: 100%;
    font-size: 10px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 3px;
    margin: 3px 0px;
    padding: 5px 8px;
    cursor: pointer;
    border: 1px solid white;
}

.action-card-modal button:hover {
    border: 1px solid #5e12eb46;
    border-radius: 4px;
    background-color: #5e12eb46;
}

/* END BUTTON ACTION  */
.c-info p {
    margin: 0px;
    font-weight: bold;
    font-size: 12px;
}

.c-create {
    /* border: 1px solid blue; */
    margin: 5px;
    display: flex;
    /* align-items:center; */
    justify-content: flex-start;
    font-size: 12px;
}

.cc-icon {
    font-size: 17px;
    color: grey;
    margin-right: 10px;
}

.cc-date {
    font-size: 11px;
    /* border: 1px solid grey; */
}

.c-create p {
    font-size: 10px;
    margin: 0px;
    font-weight: normal;
}

.cmb-container {
    /* border: 1px solid blue; */
    height: 45vh;
    overflow-y: auto;
    margin-bottom: 10px;
}


.ah-left h5 {
    /* color: #333; */
    font-weight: bold;
    margin: 0px;
}

.attach-header .ah-right p {
    margin: 0px;
    color: grey;
    font-size: 8px;
}

/* END ATTACHMENT  */

/* USER ASSIGMENT  */
.cmb-assign {
    border-bottom: 1px solid #ddd;
    margin: 0px;
    padding: 10px;
    padding-top: 5px;
    position: relative;
}

.assign-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 12px;
    color: #333;
}

.assign-header .ah-left {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    font-weight: bold;
    /* color: #5e5e5e; */
}

.assign-header .ah-icon {
    margin-right: 7px;

}

.ah-right p {
    font-size: 8px;
    color: grey;
    margin: 0px;
}

.cmb-assign .assign-btn-add {
    /* background-color: white; */
    /* border: 1px solid red; */
    width: 100%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.assign-btn-add button {
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 5px 10px;
    color: #5D12EB;
    cursor: pointer;
    background-color: white;
    width: 100%;
    margin-top: 10px;
    font-weight: bold;
    font-size: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.assign-btn-add button:hover {
    border: 1px solid #5D12EB;
    box-shadow: 0px 4px 8px #5e12eb46;
}

/* END USER ASSIGMENT  */

/* BODY  */
.ncd-body {
    /* border: 1px solid green; */
    /* padding-top: 5px; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding: 5px 20px;
    width: 100%;
    height: 100%;
    position: relative;
}

.ncd-main-header {
    border-radius: 8px;
    background-color: white;
    color: white;
    width: 90%;
    /* border: 1px solid red; */
    /* padding: 10px; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}

/* TITLE & LABEL  */

.ncd-main-header .ncd-title-btn {
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* border: 1px solid red; */
    width: 100%;
    padding: 5px 10px;
    /* border: 1px solid #5c38db; */
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    background-image: linear-gradient(to right, #2d66e7, #3863e7, #425fe8, #4c5be7, #5557e7, #5d54e7, #6551e7, #6d4de7, #764ae7, #7e47e7, #8743e7, #8f3fe6);
}

.title-label {
    /* border: 1px solid black; */
    width: 85%;
}

.ct-box {
    /* border: 1px solid red; */
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.title-label .ct-box input {
    border: 0.5px solid #6a11cb;
    background-color: #00000000;
    border-radius: 4px;
    padding: 0px;
    width: 100%;
    font-size: 15px;
}

.title-label .ct-box input:focus {
    outline: none;
    border: 0.5px solid #6a11cb;
}

.title-label .ct-box input:hover {
    background-color: rgba(255, 255, 255, 0);
}


.ct-box h5 {
    white-space: normal;
    /* Allow text to wrap */
    word-wrap: break-word;
    /* Break long words to fit container */
    flex: 1;
    /* Allows title to take up available space */
    /* padding-right: 10px; */
    margin: 0px;
    font-size: 13px;
    width: 100%;
    font-weight: bold;
    /* border: 1px solid red; */

}

.ncd-label {
    /* border: 1px solid red; */
    padding: 0px;
}

/* HEADER BUTTON  */
.main-header-btn {
    /* border: 1px solid blue; */
    display: flex;
    align-items: baseline;
    justify-content: flex-end;
    gap: 5px;
    position: relative;
    width: 20%;
    height: 100%;
    position: relative;
}

.main-header-btn button {
    background-color: rgba(255, 255, 255, 0.284);
    border: 1px solid rgba(255, 255, 255, 0.284);
    border-radius: 6px;
    cursor: pointer;
    color: white;
    padding: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 15px;
}

.main-header-btn button:hover {
    background-color: #5e12eb46;
    border: 1px solid #5e12eb46;
    box-shadow: 0px 4px 8px #5e12eb46;
}


/* COVER MODAL  */
.cover-modal {
    position: absolute;
    top: 10%;
    right: 0px;
    border: 1px solid #E2E8F0;
    box-shadow: 0px 4px 8px #5e12eb46;
    border-radius: 8px;
    z-index: 99;
    background-color: white;
}

/* LABEL MODAL  */
.label-modals {
    position: absolute;
    top: 10%;
    right: 0px;
    width: 40vw;
    /* height: 10vh !important; */
    border: 1px solid #E2E8F0;
    /* border: 1px solid red; */
    box-shadow: 0px 4px 8px #5e12eb46;
    border-radius: 8px;
    z-index: 99;
    background-color: white;
}

/* STATUS  */
.ncd-status {
    border: 1px solid #ddd;
    /* border: 1px solid red !important; */
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    padding: 10px 20px;
    background-color: white;
    width: 100%;
    top: 12% !important;
    /* height: 100%; */
    gap: 10px;
    display: grid;
    /* grid-template-columns: repeat(3, 25%); */
    grid-template-columns: repeat(3, 1fr);
    align-items: baseline;
    justify-content: center;
}

.ncd-status-container {
    /* border: 1px solid #ddd; */
    height: fit-content;
    /* width: 30%; */
}

.ncd-status-priority {
    /* border: 1px solid #ddd; */
    height: fit-content;
    /* width: 30%; */
}

.ncd-status-due {
    /* border: 1px solid #ddd; */
    height: fit-content;
    /* width: 30%; */
}

.ncd-status-empty,
.ncd-priority-empty,
.ncd-due-empty {
    color: #888;
    font-style: italic;
    padding: 4px 0;
}


.btn-add-status {
    background-color: transparent;
    border: 1px dashed #888;
    color: #555;
    padding: 4px 8px;
    cursor: pointer;
    border-radius: 4px;
    font-style: italic;
    font-size: 0.9rem;
}

/* responsive toggle button */
.status-toggle-btn-wrapper {
    display: none;
    padding: 3px;
    /* margin-bottom: 8px; */
    text-align: center;
    /* border: 1px solid red; */
}

.status-toggle-btn {
    font-size: 10px;
    padding: 2px 10px;
    background-color: white;
    border: 1px solid white;
    border-radius: 6px;
    cursor: pointer;
    color: #4c4fe8;
}

/* END STATUS  */

.cdl-header {
    /* border: 1px solid red; */
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.card-title {
    position: sticky;
    z-index: 100;
    /* border: 1px solid blue; */
    margin-top: 0px;
    /* box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); */
    /* margin-top: 5px; */
    padding: 5px 10px;
    display: flex;
    flex-wrap: wrap;
    /* This allows the title to break onto the next line if needed */
    justify-content: space-between;
    /* Space between title and other elements */
    align-items: center;
}


/* CARD CONTENT , DESC, ATTACH  */
.ncd-main-content {
    /* border: 1px solid green; */
    width: 90%;
    height: 70vh;
    gap: 15px;
    margin-top: 10px;
    display: flex;
    align-items: flex-start;
    justify-content: center;
}

.ncd-main-content .ncd-main-left {
    /* border: 1px solid #E2E8F0; */
    /* border: 1px solid blue; */
    width: 70%;
    height: 73vh !important;
    overflow-y: auto;
    padding: 10px 5px;
    gap: 15px;
}

/* CARD DESCRIPTION  */
.ncd-main-left .ncd-desc {
    border: 1px solid #E2E8F0;
    /* background-color: red; */
    border-radius: 8px;
    padding: 15px;
    min-height: 40vh;
    gap: 5px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}

.ncd-desc .des-header {
    /* border: 1px solid grey; */
    border-left: 3px solid #4085F3;
    padding-left: 10px;
    width: 100%;
    font-weight: bold;
    font-size: 14px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    position: relative;
}

.des-header .des-right {
    /* border: 1px solid #ddd; */
    border-radius: 8px;
    padding: 5px;
    cursor: pointer;
}

.des-icon {
    color: #5c38db;
    font-size: 20px;
    /* filter: drop-shadow(0 0 1px #5320be); */
}

.des-icon:hover {
    /* box-shadow: 0px 4px 8px #6b11cb40; */
    /* filter: drop-shadow(0 0 1px #5320be); */
    transform: scale(1.2);
    transition: transform 0.2s ease;
}

/* DESKRIPSI MODALS   */
.modal-des-container {
    position: absolute;
    /* border: 1px solid red; */
    border-radius: 8px;
    width: 100%;
    height: 100%;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    background-color: #00000038;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Inter', sans-serif;
    animation: slideDown 0.3s ease-out;
}

.modal-des-container .modals-content {
    border: 1px solid #ddd;
    border-radius: 8px;
    background-color: white;
    width: 80%;
    height: 95%;
    padding: 0px;
}

.modals-content .modals-header {
    padding: 10px 20px;
    width: 100%;
    height: fit-content;
    /* padding: 10px 20px; */
    border-bottom: 1px solid #ddd;
    border-top-right-radius: 8px;
    border-top-left-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: linear-gradient(90deg, #7246eb, #532189);
}

.modals-header h5 {
    color: white;
    margin: 0px;
    padding: 0px;
    padding-left: 10px;
    border-left: 3px solid #55e7d4;
}

.modals-header .modal-close {
    border: 1px solid #532189;
    border-radius: 8px;
    cursor: pointer;
    padding: 5px;
    color: white;
    background-color: #532189;
}

.modals-body {
    /* border: 1px solid red; */
    padding: 10px 20px;
    /* max-height: 60vh; */
    height: 90%;
    overflow-y: auto;
    font-size: 15px;
    line-height: 1.6;
    color: #333;
}

.modals-body .div-des {
    /* border: 1px solid red; */
    height: 100vh;
    width: 100%;
    white-space: pre-wrap;
    cursor: pointer;
    min-height: 150px;
    font-size: 12px;
}

.modals-body textarea {
    border: 1px solid blue;
}

/* END DESKRIPSI MODALS  */

.ncd-desc .des-content {
    padding: 5px;
    color: #333;
    font-size: 12px;
    height: auto;
    /* ✅ ini biar mengikuti tinggi isi */
    max-height: none;
    /* atau tambahkan jika kamu sebelumnya set max-height */
    overflow-y: visible;
}

.placeholder-desc {
    /* border: 1px dashed #5c38db; */
    /* border-radius: 16px; */
    height: 20vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

}

.placeholder-desc p {
    padding: 0px;
    color: #5c38db;
    font-size: 12px;
    width: 100%;
    text-align: center;
}

.desc-actions{
    border:'1px solid red';
    margin-top:8px;
    display:flex;
    gap:10px;
}

/* RIGHT  */
.ncd-main-content .ncd-main-right {
    /* border: 1px solid green; */
    width: 30%;
    padding: 10px 0px;
    height: 75vh !important;
    overflow-y: auto;
}

.ncd-main-right .ncd-cover-detail {
    border: 1px solid #E2E8F0;
    border-radius: 8px;
    margin-bottom: 10px;
    padding: 5px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}

/* CARD DETAIL  */
.ncd-detail .ncd-detail-header {
    /* border: 1px solid #ddd; */
    margin-top: 10px;
    border-left: 3px solid #28a12c;
    padding-left: 10px;
    font-size: 12px;
    font-weight: bold;
    color: #333;
}

.ncd-detail .ncd-detail-con {
    /* border: 1px solid red; */
}

.ncd-detail-con .c-create {
    margin: 5px;
    display: flex;
    justify-content: flex-start;
    font-size: 12px;
}

.cc-icon {
    font-size: 17px;
    color: #6551e7;
    margin-right: 10px;
}

.cc-date {
    font-size: 11px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* border: 1px solid red; */
}

.c-create p {
    font-size: 10px;
    margin: 0px;
    font-weight: normal;
}

/* USER ASSIGMNE  */
.ncd-user-assign {
    border: 1px solid #E2E8F0;
    border-radius: 8px;
    padding: 10px 5px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}

.ncd-user-assign .ncd-assign-header {
    /* border: 1px solid grey; */
    border-left: 3px solid #646BED;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding-left: 10px;
    font-size: 12px;
    font-weight: bold;
}

.ncd-assign-header button {
    font-size: 10px;
    padding: 2px 8px;
    cursor: pointer;
    border: 1px solid #ABBAFA;
    border-radius: 4px;
    background-color: #EEF2FE;
    color: #646BED;
}

.ncd-user-assign .ncd-assign-content {
    /* border: 1px solid red; */
    margin: 5px 0px;
}

.ncd-user-assign .ncd-add-btn {
    /* border: 1px solid blue; */
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.ncd-add-btn button {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 12px;
    font-weight: bold;
    gap: 5px;
    border: 1.5px dashed #4c5be7;
    border-radius: 8px;
    width: 90%;
    color: #4c4fe8;
    cursor: pointer;
}

.ncd-add-btn button:hover {
    background-color: #4c5ce75a;
}

/* USER ASSIGN SHOW MODAL */
.assign-modal {
    position: absolute;
    top: 50%;
    right: 8%;
    z-index: 99;
    /* border: 1px solid red; */
    border-radius: 8px;
    padding: 0px;
    width: 20vw;
    background-color: white;
    box-shadow: 0px 4px 8px #5e12eb46;
}

/* CARD ACTIVITY  */
.ncd-card-activity {
    margin-top: 10px;
    border: 1px solid #E2E8F0;
    border-radius: 8px;
    padding: 10px 5px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}

.ncd-card-activity .ncd-activity-header {
    /* border: 1px solid grey; */
    border-left: 3px solid orange;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding-left: 10px;
    font-size: 12px;
    font-weight: bold;
}

.ncd-card-activity .ncd-activiy-content {
    /* border: 1px solid blue; */
    height: 20vh;
    /* padding: 0px 5px; */
    overflow-y: auto;
    display: flex;
    /* align-items: center; */
    justify-content: center;
}

/* ATTACHMENT  */
.ncd-main-left .ncd-attach {
    border: 1px solid #E2E8F0;
    border-radius: 8px;
    padding: 15px;
    margin-top: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    /* position: relative; */
}

.ncd-attach .attach-header-cont {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-left: 3px solid #5c38db;
    padding-left: 10px;
    width: 100%;
    font-weight: bold;
    font-size: 14px;
}

.attach-header-btn .total-file {
    font-size: 12px;
    /* font-weight: normal; */
    color: #333;
    border: 1px solid white;
    background-color: white;
    padding: 3px;
}

.attach-header-btn button {
    border: 1px solid #987df9;
    padding: 3px 5px;
    font-size: 10px;
    background-color: #d5cafd;
    color: #5c38db;
}

.attach-body {
    /* border: 1px solid red; */
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    min-height: 15vh;
    margin-top: 10px;
}

.attach-body .file-cont {
    /* border: 1px solid blue; */
    width: 100%;
}

.attach-body .no-file {
    text-align: center;
    color: #888;
    font-size: 14px;
    font-style: italic;
    padding: 15px;
    gap: 10px;
    border-radius: 8px;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.no-file .no-icon {
    border: 1px solid white;
    padding: 5px;
    width: fit-content;
    border-radius: 16px;
    font-size: 20px;
    color: #4c5be7;
    box-shadow: 0px 4px 8px #5e12eb46;
}

.no-desc h5 {
    font-size: 10px;
    color: #5e5e5e;
}

.no-desc span {
    /* text-decoration: underline; */
    color: #5557e7;
    cursor: pointer;
    font-weight: bold;
}

.no-desc span:hover {
    text-decoration: underline;
}


.attach-content {
    border: 2px dashed #8688fa;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 20px;
    gap: 10px;
    margin-top: 15px;
    position: relative;
}

.upload-form-modals {
    position: absolute;
    top: 48%;
    left: 8%;
    z-index: 99;
    width: 57%;
    height: 40%;
    padding: 10px;
    overflow-y: auto;
    border-radius: 12px;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #c9cafe;
    box-shadow: 0px 4px 8px #5e12eb46;
}

/* BUTTON UPLOAD */
.attach-content .attach-upload {
    border: 0.5px solid white;
    border-radius: 50%;
    padding: 10px;
    color: #5c38db;
    background: linear-gradient(135deg, #5b38db77, #4085f377);

}

.attach-content p {
    font-size: 12px;
    color: #5e5e5e;
    font-weight: bold;
}

.attach-content .add-attach {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 10px;
    font-size: 12px;
    color: #fff;
    cursor: pointer;
    border: 0.5px solid #fff;
    border-radius: 8px;
    background-image: linear-gradient(to right, #2d66e7, #3863e7, #425fe8, #4c5be7, #5557e7, #5d54e7, #6551e7, #6d4de7, #764ae7, #7e47e7, #8743e7, #8f3fe6);
}

.attach-content .add-attach:hover {
    /* border: 1px solid #6a11cb; */
    background-image: linear-gradient(to left, #2d66e7, #3863e7, #425fe8, #4c5be7, #5557e7, #5d54e7, #6551e7, #6d4de7, #764ae7, #7e47e7, #8743e7, #8f3fe6);
    box-shadow: 0px 4px 8px #5e12eb46;
}

/* .ncd-attach{
    border: 1px solid blue;
} */


/* button chatroom  */
.new-card-detail .btn-chatroom {
    /* border: 1px solid green; */
    position: absolute;
    z-index: 100;
    top: 0%;
    right: 2%;
}

.btn-chatroom .chat-btn {
    background-image: linear-gradient(to left, #2d66e7, #3863e7, #425fe8, #4c5be7, #5557e7, #5d54e7, #6551e7, #6d4de7, #764ae7, #7e47e7, #8743e7, #8f3fe6);
    border: 1px solid #4c4fe8;
    border-radius: 50%;
    color: white;
    padding: 10px;
    cursor: pointer;
}

.btn-chatroom .chat-btn:hover {
    background-image: linear-gradient(to right, #6d5aea, #715cea, #755eea, #7861ea, #7c63ea, #8266ea, #8768ea, #8c6bea, #946fea, #9b72ea, #a276ea, #a87aea);
    box-shadow: 0px 4px 8px #5e12eb46;
}

/* MODAL CHATROOM  */
.modal-chatroom {
    /* background-color: #e9e2f3; */
    background-image: linear-gradient(to top, #8c5b68, #7a5068, #634766, #4a4062, #2d395b);
    /* border: 1px solid #333; */
    border-radius: 12px;
    padding-bottom: 2px;
    width: 50vw;
    height: 90vh;
    z-index: 100;
    top: 0px;
    right: 0px;
    position: absolute;
    box-shadow: 0px 4px 8px #5e12eb46;
}

/*  ================ NEW CARD DETAIL STYLE =================== */

/* MEDIA QUERY  */

/* Extra large devices (large desktops, ≥1200px) */
@media (min-width: 1200px) and (max-width:1400px) {
    .ncd-main-content {
        height: 67vh;
        /* border: 1px solid red; */
    }

    .ncd-main-content .ncd-main-left {
        /* border: 1px solid grey; */
        height: 67vh;
    }

    .ncd-main-content .ncd-main-right {
        /* border: 1px solid grey; */
        height: 67vh;
    }

    /* STATUS BTN  */
    .status-toggle-btn-wrapper {
        display: block;
        position: relative;
    }

    .ncd-status.status-hidden {
        display: none;
    }

    /* STATUS  */
    .ncd-status {
        /* border: 1px solid blue; */
        position: absolute;
        z-index: 9999;
        padding: 5px;
        top: 15%;
        width: 87%;
        /* height: fit-content; */
        border: 1px solid white;
        box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    }
}

/* large devices  */
@media (min-width: 992px) and (max-width:1200px) {

    .ncd-main-content {
        height: 60vh;
        /* border: 1px solid red; */
    }

    .ncd-main-content .ncd-main-left {
        /* border: 1px solid grey; */
        height: 60vh;
    }

    .ncd-main-content .ncd-main-right {
        /* border: 1px solid grey; */
        height: 60vh;
    }

}

/* Medium devices (tablets, ≥768px) */
@media (min-width: 768px) and (max-width: 991.98px) {
    .modal-chatroom {
        width: 60vw;
        height: 92vh;
    }

    .cc-date {
        /* border: 1px solid blue; */
        display: flex;
        flex-direction: column;
        /* align-items: center; */
        justify-content: flex-start;
        width: 100%;
    }

    .c-create p {
        /* border: 1px solid red; */
        width: 100%;
    }

    /* BODY  */
    .ncd-body {
        height: 100%;
    }

    .ncd-main-left {
        height: 40vh;
        /* border: 1px solid red; */
    }

    /* END BODY  */


    .label-modals {
        width: 50vh;
    }

    .ncd-main-content {
        height: 58vh;
        /* border: 1px solid red; */
    }

    .ncd-main-content .ncd-main-left {
        /* border: 1px solid grey; */
        height: 68vh;
    }

    .ncd-main-content .ncd-main-right {
        /* border: 1px solid grey; */
        height: 68vh;
    }

    .attach-body {
        /* border: 1px solid red; */
    }

    /* UPLOAD MODAL  */
    .upload-form-modals {
        width: 94%;
        height: fit-content;
        left: 3%;
        top: 45%;
    }

    /* STATUS BTN  */
    .status-toggle-btn-wrapper {
        display: block;
        position: relative;
    }

    .ncd-status.status-hidden {
        display: none;
    }

    /* STATUS  */
    .ncd-status {
        border: 1px solid blue;
        position: absolute;
        z-index: 9999;
        padding: 5px;
        top: 10%;
        width: 85%;
        /* height: fit-content; */
        border: 1px solid white;
        box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    }

    .ncd-status-container,
    .ncd-status-priority,
    .ncd-status-due {
        width: 100%;
    }

    /* END STATUS  */
}

/* Medium devices (tablets, ≥768px) */
@media (min-width: 576px) and (max-width: 767.98px) {
    /* CSS tablet atau iPad */

    /* STATUS BTN  */
    .status-toggle-btn-wrapper {
        display: block;
    }

    .ncd-status.status-hidden {
        display: none;
    }

    .ncd-status {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .ncd-status-container,
    .ncd-status-priority,
    .ncd-status-due {
        width: 100%;
    }

    /* END STATUS BTN  */

    .ncd-main-header {
        width: 100%;
    }

    .ncd-main-header .ncd-title-btn {
        display: flex;
        flex-direction: column;
        /* align-items: center; */
        justify-content: flex-start;
        padding: 5px;
        /* border: 1px solid red; */
    }

    .title-label {
        width: 95%;
    }

    .main-header-btn {
        width: 100%;
        /* border: 1px solid blue; */
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;

    }

    .ncd-body {
        padding: 5px;
        height: 85vh;
        /* border: 1px solid green; */
    }

    .label-modals {
        width: 50vh;
    }

    /* MAIN CONTENT  */
    .ncd-main-content {
        /* border: 1px solid red; */
        height: 68vh;
        width: 100%;
        overflow-y: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        /* ✅ ubah jadi flex-start biar isian dimulai dari atas */
        gap: 15px;
        /* tambahkan jika butuh spasi antar elemen */
        padding-bottom: 30px;
        /* ✅ biar gak mentok bawah pas scroll */
    }

    .ncd-main-content .ncd-main-left {
        width: 100%;
        height: auto;
        /* ✅ biar fleksibel menyesuaikan isi */
        max-height: none;
        overflow-y: visible;
        /* border: 1px solid blue; */
    }

    .ncd-main-content .ncd-main-right {
        width: 100%;
        height: auto;
        max-height: none;
        overflow-y: visible;
    }

    .modal-chatroom {
        width: 80vw;
        height: 92vh;
    }

    /* ATTACHMENT  */
    .ncd-attachment {}

    /* UPLOAD MODAL  */
    .upload-form-modals {
        width: 94%;
        height: fit-content;
        left: 3%;
        top: 45%;
    }

    /* CARD ACTIVITY  */
    .ncd-card-activity .ncd-activiy-content {
        /* border: 1px solid orange; */
        padding: 0px;
    }
}

/* ukuran handpone kecil  */
/* @media (min-width:375px) and (max-width:575px){ */
@media (min-width:375px) and (max-width:575px) {

    /* STATUS BTN  */
    .status-toggle-btn-wrapper {
        display: block;
    }

    .ncd-status.status-hidden {
        display: none;
    }

    .ncd-status {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .ncd-status-container,
    .ncd-status-priority,
    .ncd-status-due {
        width: 100%;
    }

    /* END STATUS BTN  */

    .ncd-body {
        padding: 5px;
        /* border: 1px solid red; */
        height: 90%;
        align-items: flex-start;
        justify-content: flex-start;
    }

    .ncd-main-header {
        width: 100%;
    }


    .ncd-main-header .ncd-title-btn {
        display: flex;
        flex-direction: column;
        /* align-items: center; */
        justify-content: flex-start;
        padding: 5px;
        /* border: 1px solid red; */
    }

    .title-label {
        width: 98%;
    }

    .ct-box h5 {
        padding: 0px;
        /* border: 1px solid red; */
    }

    .main-header-btn {
        width: 100%;
        /* border: 1px solid blue; */
        display: flex;
        align-items: center;
        justify-content: center;
    }

    /* MAIN CONTENT  */
    .ncd-main-content {
        /* border: 1px solid blue; */
        height: 100%;
        width: 100%;
        overflow-y: auto;
        display: flex;
        margin-bottom: 5px;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        /* ✅ ubah jadi flex-start biar isian dimulai dari atas */
        gap: 15px;
        /* tambahkan jika butuh spasi antar elemen */
        /* padding-bottom: 5vh;  */
    }

    .ncd-main-content .ncd-main-left {
        width: 100%;
        height: auto;
        /* ✅ biar fleksibel menyesuaikan isi */
        max-height: none;
        overflow-y: visible;
        /* border: 1px solid blue !important; */
    }

    .ncd-main-content .ncd-main-right {
        width: 100%;
        height: auto;
        max-height: none;
        overflow-y: visible;
    }

    .modal-chatroom {
        width: 100vw;
        height: 92vh;
    }

    .label-modals {
        width: 100%;
    }

    /* UPLOAD MODAL  */
    .upload-form-modals {
        width: 94%;
        height: fit-content;
        left: 3%;
        top: 45%;
    }

    /* ASSIGNMENT MODAL  */
    .assign-modal {
        width: 80%;
        /* height: 30% ; */
        /* border: 1px solid green; */
        background-color: transparent;
    }

    /* ASSIGNMENT MODAL  */

}

/* HEIGHT BREAKPOIN  */
/* @media (min-height:400px) and (max-height:730px) { */
@media screen and (max-height: 600px) {
    .ncd-body {
        /* border: 1px solid blue; */
        padding: 5px 10px;
    }

    /* STATUS BTN  */
    .status-toggle-btn-wrapper {
        display: block;
        position: relative;
    }

    .ncd-status.status-hidden {
        display: none;
    }

    .ncd-status {
        position: absolute;
        z-index: 9999;
        top: 15%;
        width: 88.5%;
        height: fit-content;
        /* border: 1px solid blue; */
        border: 1px solid white;
        box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    }

    .ncd-main-content {
        height: 63vh;
    }

    .ncd-main-content .ncd-main-left {
        height: 65vh;
    }

    .ncd-main-content .ncd-main-right {
        height: 65vh;
    }
}

@media screen and (max-height: 599px) {
    .ncd-body {
        /* border: 1px solid blue; */
        padding: 5px 10px;
    }

    /* STATUS BTN  */
    .status-toggle-btn-wrapper {
        display: block;
        position: relative;
    }

    .ncd-status.status-hidden {
        /* display: none; */
    }

    .ncd-status {
        position: absolute;
        z-index: 9999;
        top: 16%;
        width: 88.5%;
        height: fit-content;
        border: 1px solid white;
        box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    }

    .ncd-main-content {
        height: 63vh;
    }

    .ncd-main-content .ncd-main-left {
        height: 65vh;
        /* border: 1px solid red; */
    }

    .ncd-main-content .ncd-main-right {
        height: 65vh;
        /* border: 1px solid green; */
    }
}