.personal-container{
    /* border: 1px solid #ddd; */
    padding: 10px;
    min-width: 45vw;
    width: 90%;
    min-height: 70vh;
    height: 90%;
    display: flex;
    flex-direction: column;
}
.personal-container .pc-header{
    /* border: 1px solid red; */
    padding: 0px;
}
.personal-container .pc-body{
    /* border: 1px solid red; */
    display: flex;
    /* flex-direction: column; */
    align-items:baseline;
    justify-content: space-between;
    gap: 10px;
    width: 95%;
    padding: 5px 10px;
}
.pc-body h4{
    margin: 0px;
    margin-bottom: 10px;
}
.pc-body .pi{
    width: 50%;
    /* border: 1px solid #6a11cb; */
}
.pc-body .pi-job{
    width: 40%;
}
.pc-body .pc-box{
    /* border: 1px solid grey; */
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    justify-content: flex-start;
    width: 100%;
    margin: 20px 0px;
}
.pcb-input{
    border: 1px solid #ddd;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 5px;
}
.pcb-icon{
    font-size: 20px;
    margin-right: 5px;
}
.pc-box label{
    font-size: 12px;
    font-weight: bold;
    color: #333;
    margin-bottom: 5px;
}
.pc-box input{
    padding: 7px;
    border: 1px solid #ddd;
    border-radius: 4px;
    width: 95%;
}
.pc-box input:hover{
    border: 1px solid #ddd;
    background-color: #eee;
}
.pc-box input:focus{
    outline: none;
    border: 1px solid #6a11cb;
    box-shadow: 0px 4px 8px #5e12eb46;
}

/* button  */
.save-btn-container{
    /* border:1px solid grey; */
    display: flex;
    align-items: center;
    justify-content: center;
}
.save-btn-container .save-btn{
    background: linear-gradient(to right, #6a11cb, #2575fc);
    color: white;
    font-weight: bold;
    /* font-size: 15px; */
    border: 1px solid #6a11cb;
    border-radius: 4px;
    cursor: pointer;
    padding: 10px;
}
.save-btn-container .save-btn:hover{
    background: linear-gradient(to right,#2575fc, #6a11cb);
    box-shadow: 0px 4px 8px #5e12eb46;
}