.profile-container {
    border: 1px solid red;
    background-color: white;
    height: 100%;
    padding: 30px 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.profile-container .header-profile {
    border: 1px solid blue;
    padding: 10px;
    width: 100%;
    height: 10%;
}

.header-profile .header-title {
    /* border: 1px solid green; */
    gap: 10px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.header-title .pchl-icon {
    color: #6a11cb;
    font-size: 20px;
}

.header-title h2 {
    font-size: 18px;
    font-weight: bold;
    color: #333;
}

.header-profile p {
    color: grey;
    font-size: 12px;
}

/* MAIN PROFILE  */
.profile-page-main {
    border: 1px solid green;
    width: 100%;
    height: 90%;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.profile-page-main .profile-left {
    border: 1px solid red;
    width: 30%;
    height: 100%;
}

.profile-page-main .profile-right {
    border: 1px solid blue;
    width: 70%;
    height: 100%;
}

/* END MAIN PROFILE  */