.view-md-container {
    position: relative;
}

.vmd-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    padding: 10px 15px;
    padding-bottom: 5px;
    gap: 5px;
    /* width: 100%; */
    font-size: 12px;
    position: sticky;
    color: var(--primary);
    background: var(--table-header-bg);
}


.vmd-left h4 {
    margin: 0px;
    font-size: 14px;
    color: var(--text);
    font-weight: bold;
}

.vmd-left p {
    padding: 0px;
    margin: 0px;
    font-size: 12px;
    font-weight: bold;
    color: var(--sub-text);
}


.vmd-icon {
    color: var(--icon1);
    font-size: 20px;
    cursor: pointer;
}

.vmd-right {
    gap: 5px;
    /* border: 1px solid blue; */
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

/* =======================
ACTION BUTTON
======================= */

.vmd-action {
    margin-right: 10px;
    gap: 3px;
    display: flex;
    align-items: center;
    justify-content: center;
}


.vmd-action button {
    gap: 5px;
    border: 1px solid var(--table-header-bg);
    background-color: var(--table-header-bg);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 12px;
    color: var(--text);
}

.vmd-action button:hover {
    box-shadow: var(--box-shadow);
    border: 1px solid var(--border);
    background-color: var(--primary);
    color: var(--text-white) !important;
}

.vmd-action p {
    gap: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 12px;
    color: var(--icon1);
}

.vmd-action p:hover {
    color: var(--text-white) !important;
}


/* =======================
CARD STATUS
======================= */

.create-icon {
    color: var(--icon1);
    cursor: not-allowed;
    font-size: 15px;
}

.create-icon:hover {
    color: var(--text-white);
}

.not-created-icon {
    cursor: pointer;
    font-size: 15px;
}



/* =======================
BODY MAIN
======================= */

/* BODY Tabel */
.view-md-container .vmd-body {
    /* border: 1px solid red; */
    height: 80vh;
    min-height: 50vh;
    max-height: 90vh;
    padding: 10px;
    overflow-y: auto;
}

.vmd-body p,
.vmd-body h4 {
    margin: 0px;
    font-size: 12px;
    color: var(--sub-text);
}

.vmd-body .sec-informasi,
.vmd-body .sec-detail-pesanan,
.vmd-body .sec-detail-design,
.vmd-body .sec-price,
.vmd-body .sec-reference,
.vmd-body .sec-detail-project {
    border: 1px solid var(--card-bg);
    border-radius: 8px;
    padding: 15px;
    /* box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1); */
    margin: 10px;
}

.sec-informasi h4,
.sec-detail-pesanan h4,
.sec-detail-design h4,
.sec-price h4,
.sec-reference h4,
.sec-detail-project h4 {
    font-weight: bold;
}

.sec-informasi .sec-detail-pesanan,
.sec-detail-design,
.sec-price,
.sec-reference,
.sec-detail-project {
    margin: 10px 0px;
    color: #333;
    /* font-weight: bold; */
}

/* =======================
DETAIL
======================= */

.vmd-detail {
    border-top: 1px solid var(--border);
    /* border-radius: 4px; */
    padding: 5px;
    padding-left: 0px;
}

.vmd-detail .box-content-detail {
    display: flex;
    align-items: stretch;
    justify-content: center;
    width: 100%;
    /* border: 1px solid blue; */
}


/* =======================
REACT QUILL (READ ONLY)
======================= */

/* container utama */
.my-detail-editor .ql-container {
    background: var(--bg-section-hover);
    border: 1px solid var(--bg-section-hover);

    /* border: 1px solid blue; */
    border-radius: 10px;
    /* width: 100% !important; */
    width: 60vw !important;

}

/* isi editor */
.my-detail-editor .ql-editor {
    color: var(--text) !important;
    background: transparent !important;

    /* padding rapi */
    padding: 14px 16px;

    /* teks */
    font-size: 14px;
    line-height: 1.7;
}

/* 🚨 PAKSA SEMUA ELEMEN ANAK */
.my-detail-editor .ql-editor * {
    color: var(--text) !important;
    background: transparent !important;
}

/* link */
.my-detail-editor .ql-editor a {
    color: var(--primary) !important;
    text-decoration: underline;
    background-color: #bdbef8 !important;
}

/* blockquote */
.my-detail-editor .ql-editor blockquote {
    border-left: 3px solid var(--primary);
    padding-left: 12px;
    color: var(--sub-text) !important;
}

/* code block */
.my-detail-editor .ql-editor pre {
    background: rgba(255, 255, 255, 0.04) !important;
    color: var(--text) !important;
    border-radius: 6px;
}

/* list */
.my-detail-editor .ql-editor li {
    color: var(--text) !important;
}

/* =================================== */


.vmd-content {
    border-top: 1px solid var(--border);
    /* background: linear-gradient(to bottom, #6f30dc44, #5e12eb44); */
    /* border-radius: 4px; */
    display: flex;
    align-items: center;
    padding: 5px;
    display: grid;
    /* grid-template-columns: repeat(3, 15vw); */
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    margin-bottom: 10px;
    /* min-height: 20vh; */
    height: 100%;
}

.vmd-content .box-content {
    /* border: 1px solid yellow; */
    margin: 5px 0px;
    width: 100%;
}

.vmd-ref-content {
    border-top: 1px solid var(--border);
    /* border-radius: 4px; */
    display: flex;
    /* flex-direction: row; */
    align-items: center;
    padding: 5px;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
}

.vmd-ref-content .box-content {
    width: 100%;
    margin: 5px 0px;
    /* border: 1px solid blue; */
}

.box-content .box-ref {
    border: 1px solid var(--bg-section-hover);
    background-color: var(--bg-section-hover);
    border-radius: 6px;
    padding: 5px;
    margin-top: 3px;
    /* width: fit-content; */
    width: 100%;
    /* width: 300px; */
    color: var(--sub-text);
    font-size: 12px;

    /* Biar text panjang tidak overflow */
    overflow-wrap: break-word;
    word-wrap: break-word;
    word-break: break-word;
    white-space: normal;
}

.box-ref a,
.box a {
    /* Link styling */
    color: #583ec4;
    background-color: #c9cdfc;
    text-decoration: underline;
    font-weight: 500;
    border-radius: 4px;
    padding: 3px 5px;
    cursor: pointer;
}

.box-ref a:hover,
.box1 a:hover {
    /* Hover link */
    background-color: #e1e4fe;
}


.box-content .box-detail {
    /* border: 1px solid #ddd; */
    border-radius: 4px;
    padding: 5px 2px;
    margin-top: 3px;
    word-wrap: break-word;
    /* Memastikan kata panjang bisa dipotong */
    white-space: normal;
    /* Mengizinkan teks turun ke bawah */
    overflow-wrap: break-word;
    /* Memastikan teks panjang tetap dalam batas */
    max-width: 100%;
    /* Menghindari teks melebar keluar container */
    line-height: 1.5;
}

.box-content {
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    justify-content: left;
    /* border: 1px solid blue; */
    margin: 0px 4px;
    width: 100%;
}

.box-content p {
    font-size: 10px;
    color: var(--sub-text);
}

.box-content .box-box {
    background-color: var(--bg-section-hover);
    border: 1px solid var(--bg-section-hover);
    border-radius: 6px;
    padding: 5px;
    margin-top: 3px;
    width: 170px;
    cursor: pointer;
}

.box-box:hover {
    box-shadow: var(--box-shadow);
}

.box-ref:hover {
    box-shadow: var(--box-shadow);
}

.box-box p {
    color: var(--sub-text);
    font-size: 12px;
}

.box-ref p {
    word-wrap: break-word;
    white-space: normal;
    overflow-wrap: break-word;
    max-width: 100%;
    color: var(--sub-text);
    font-size: 12px;
    /* height: 10vh; */
}

/* =======================
FORM CREATE CARD
======================= */

.vmd-form {
    padding: 2px;
    border-radius: 4px;
    /* background-color: red; */
    position: absolute;
    z-index: 100;
    top: 80%;
    right: 0;
    width: 400px;
    height: 500px;
}

.box-ref ul {
    list-style-type: disc;
    margin-left: 20px;
    padding-left: 20px;
}

.box-ref ol {
    list-style-type: decimal;
    margin-left: 20px;
    padding-left: 20px;
}

.box-ref p {
    margin: 5px 0;
}





/* Large devices (desktops, ≥992px) */
@media (min-width: 992px) {
    .box-content .box-box {
        width: 95%;
        padding: 5px;
        /* border: 1px solid orange; */
    }
}

/* Medium devices (tablets, ≥768px) */
@media (min-width: 768px) and (max-width: 991.98px) {

    /* BODY TABEL  */
    .view-md-container .vmd-body {
        height: 78vh;
    }

    .box-content .box-box {
        width: 95%;
        padding: 5px;
        /* border: 1px solid orange; */
    }
}

/* ukuran handpone besar */
/* @media (min-width: 576px) and (max-width: 767.98px) and (min-height:400px) and (max-height:700px) { */
@media (min-width: 576px) and (max-width: 767.98px) {

    /* HEADER  */
    .vmd-right {
        width: 50%;
        margin: 0px;
        gap: 3px;
    }

    .vmd-right .create-btn {
        /* padding: 3px; */
    }

    /* BODY TABEL  */
    .view-md-container .vmd-body {
        height: 78vh;
    }


    .box-content {
        /* border: 1px solid red; */
        /* gap: 5px; */
    }

    .box-content p {
        width: 100%;
    }

    .box-content .box-box {
        width: 95%;
        padding: 10px;
        /* border: 1px solid orange; */
    }
}

/* ukuran handpone kecil */
/* @media (min-width:375px) and (max-width:575px) and (min-height:300px) and (max-height:600px) { */
@media (max-width: 575.98px) {

    /* HEADER  */
    .vmd-header {
        /* border: 1px solid red; */
        flex-direction: column;
        justify-content: center;
    }

    .vmd-left {
        display: flex;
        flex-direction: column;
        /* align-items: center; */
        justify-content: flex-start;
        width: 100%;
    }

    .vmd-right {
        margin-top: 5px;
        width: 100%;
        margin-top: 5px;
        /* border: 1px solid orange; */
        display: flex;
        align-items: center;
        justify-content: center !important;
    }

    /* BODY TABEL  */
    .view-md-container .vmd-body {
        height: 73vh;
        /* border: 1px solid blue; */
    }

    .box-content {
        width: 100%;
    }

    .box-content .box-box {
        width: 100%;
        padding: 10px;
        /* border: 1px solid green; */
    }

    .vmd-content {
        border: 1px solid #eee;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }


    .vmd-ref-content {
        /* border: 1px solid green; */
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

    }

    /* form create card  */
    .vmd-form {
        width: 100%;
    }

}

@media screen and (max-height: 600px) {
    .view-md-container .vmd-body {
        height: 79vh;
    }
}