.view-dm-container {
    position: relative;
    padding: 1px;
    background-color: var(--card-bg);
    border-radius: 8px;
    /* border: 1px solid red; */
}

/* =======================
HEADER
======================= */

.view-dm-container .vmd-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    padding: 10px 15px;
    padding-bottom: 5px;
    gap: 5px;
    /* width: 100%; */
    font-size: 12px;
    position: sticky;
    color: var(--primary);
    background: var(--table-header-bg);
    /* background: var(--primary); */
}

/* =======================
HEADER LEFT
======================= */

.vmd-header .vdm-left {
    /* color: var(--text-white); */
    /* width: 50% !important; */
    /* border: 1px solid green !important; */
}

.vdm-left h4 {
    margin: 0px;
    font-size: 14px;
    color: var(--text);
    font-weight: bold;
}

.vdm-left p {
    padding: 0px;
    margin: 0px;
    font-size: 12px;
    font-weight: bold;
    /* color: var(--text-white) !important; */
}

/* =======================
HEADEr RIGHT
======================= */
.vdm-right {
    gap: 5px;
    /* border: 1px solid blue; */
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.vdm-action {
    /* border: 1px solid red; */
    margin-right: 10px;
    gap: 3px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.vdm-action button {
    gap: 5px;
    border: 1px solid var(--table-header-bg);
    background-color: var(--table-header-bg);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 12px;
    color: var(--text);
}

.vdm-action button:hover {
    box-shadow: var(--box-shadow);
    border: 1px solid var(--border);
    background-color: var(--primary);
    color: var(--text-white) !important;
}

.vdm-action p {
    gap: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 12px;
    color: var(--icon1);
}

.vdm-action p:hover {
    color: var(--text-white) !important;
}

/* CARD STATUS  */
.create-icon {
    color: var(--icon1);
    cursor: not-allowed;
    font-size: 15px;
}

.create-icon:hover {
    color: var(--text-white);
}

.not-created-icon {
    cursor: pointer;
    font-size: 15px;
}


/* CLOSE ICON  */
.vdm-icon {
    color: var(--icon1);
    font-size: 20px;
    cursor: pointer;
}

/* =========================================================
   BODY CONTAINER
   ========================================================= */

.view-dm-container .vdm-body {
    /* Area utama body */
    height: 80vh;
    min-height: 50vh;
    max-height: 90vh;

    padding: 10px;
    padding-top: 5px;

    /* Scroll vertikal */
    overflow-y: auto;
}


/* =========================================================
   SECTION (SEC)
   ========================================================= */

.vdm-body .sec {
    /* Container setiap section */
    padding: 15px;
    margin: 15px 10px;
}

.vdm-body h4 {
    /* Judul section */
    font-weight: bold;
}

.vdm-body h4,
.vdm-body p {
    /* Text default */
    margin: 0;
    font-size: 12px;
    color: var(--sub-text);
}


/* =========================================================
   SECTION CONTENT (GRID)
   ========================================================= */

.sec .sec-container {
    /* Grid konten utama */
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 5px;

    padding: 5px;
    height: 100%;

    border: 1px solid var(--card-bg);
    border-top: 1px solid var(--border);
}


/* =========================================================
   SECTION CONTENT - LINK (COLUMN)
   ========================================================= */

.sec .sec-container-link {
    /* Khusus konten link */
    display: flex;
    flex-direction: column;
    gap: 5px;

    padding: 5px;
    /* border-radius: 4px; */
    height: 100%;
    border: 1px solid var(--card-bg);
    border-top: 1px solid var(--border);
}


/* =========================================================
   BOX (ITEM)
   ========================================================= */

.sec-container .box,
.sec-container-link .box {
    /* Item dalam section */
    width: 100%;
    margin: 5px 0;
}

.box p {
    /* Label text */
    font-size: 10px;
    color: var(--sub-text);
}


/* =========================================================
   BOX CONTENT (BOX1)
   ========================================================= */

.box .box1 {
    /* Box value biasa */
    background-color: var(--bg-section-hover);
    border: 1px solid var(--bg-section-hover);
    border-radius: 6px;

    padding: 5px;
    margin-top: 3px;

    width: 100%;
    max-width: 100%;

    /* Biar text panjang tidak overflow */
    overflow-wrap: break-word;
    word-wrap: break-word;
    word-break: break-word;
    white-space: normal;
}

.box .box1:hover {
    box-shadow: var(--box-shadow) !important;
}

.box1 p {
    /* Text value */
    font-size: 12px;
    color: var(--sub-text);
}


/* =========================================================
   BOX CONTENT - LINK / REF
   ========================================================= */

.box .box1-ref {
    /* Box untuk link */
    background-color: var(--bg-section-hover);
    border: 1px solid var(--bg-section-hover);
    border-radius: 6px;

    padding: 5px;
    margin-top: 3px;

    width: 100%;
    max-width: 100%;
    color: var(--sub-text);
    font-size: 12px;

    /* Biar text panjang tidak overflow */
    overflow-wrap: break-word;
    word-wrap: break-word;
    word-break: break-word;
    white-space: normal;
}

.box1-ref a,
.box1 a {
    /* Link styling */
    color: #583ec4;
    background-color: #c9cdfc;
    text-decoration: underline;
    font-weight: 500;
    border-radius: 4px;
    padding: 3px 5px;
    cursor: pointer;
}

.box1-ref a:hover,
.box1 a:hover {
    /* Hover link */
    background-color: #e1e4fe;
}


/* =========================================================
   HOVER EFFECT
   ========================================================= */

.box1:hover {
    /* Hover efek box */
    border: 1px solid #6f30dc47;
    box-shadow: 0px 4px 8px #6f30dc54;
}


/* =========================================================
   DESCRIPTION SECTION
   ========================================================= */

.sec-desc-content {
    /* Container deskripsi */
    padding: 5px;
    padding-left: 0;
    /* border-radius: 4px; */
    border-top: 1px solid var(--border);
}

.box .box1-des {
    /* Wrapper description lama */
    padding: 5px;
    width: 100%;
}


/* =======================
END BODY MAIN
======================= */

/* FORM CREATE CARD MARKERING */


/* MEDIA QUERY  */
/* Extra large devices (large desktops, ≥1200px) */
@media (min-width: 1200px) and (max-width:1400px) {
    .wf-create {
        width: 20%;
    }
}

/* Large devices (desktops, ≥992px) */
@media (min-width: 992px) {
    .wf-create {
        width: 30%;
    }

    .box1 {
        padding: 10px;
    }
}

/* Medium devices (tablets, ≥768px) */
@media (min-width: 768px) and (max-width: 991.98px) {
    .wf-create {
        width: 40%;
    }

    .box1 {
        padding: 10px;
    }
}

/* ukuran handpone besar */
@media (min-width: 576px) and (max-width: 767.98px) {
    .sec .sec-container {
        grid-template-columns: repeat(2, 1fr);
        gap: 5px;
    }

    .box1 {
        padding: 10px;
    }
}

/* ukuran handpone kecil */
@media (max-width: 575.98px) {

    /* HEADER  */
    .vdm-header {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    /* FORM CREATE  */
    .vdm-form {
        width: 330px;
    }

    .vdm-header .vdm-left {
        width: 100%;
        /* border: 1px solid red; */
        display: flex;
        /* align-items: center; */
        justify-content: flex-start;
        margin-bottom: 5px;
    }

    .sec .sec-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        /* border: 1px solid blue; */
    }

    .vdm-body {
        height: 74vh;
        /* border: 1px solid red; */
    }

    .box1 {
        padding: 10px;
    }
}

@media screen and (max-height: 600px) {
    .vdm-header {
        padding: 5px 10px;
    }

    .box1 {
        padding: 6px;
    }

    .box1 p {
        font-size: 10px;
    }
}