.workspace-container{
    border: 1px solid #ddd;
    height: 100vh;
    margin-bottom: 10px;
    margin: 15px;
    background-color: #F8FAFC;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    color: #333;
}
.workspace-header{
    border-bottom: 1px solid #ddd;
    padding: 5px 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
}
.wnav{
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    justify-content: space-between;
    color: #333;
    cursor: pointer;
    margin-left: 10px;
    /* padding: 2px; */
    /* border: 1px solid green; */
}
.wnav-btn-con{
    /* border: 1px solid blue; */
    display: flex;
    align-items: center;
    justify-content: flex-start;
    /* gap: 2px; */
}

.wnav-btn-con .wnav-btn{
    /* border: 1px solid red; */
}

.wnav-btn .nav-icon{
    color: #333;
    cursor: pointer;
    font-size: 18px;
}
.wnav-btn .nav-icon:hover{
    color: #5D12EB;
}

/* .wnav button{
    padding: 5px;
    font-size: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #fff;
    border-radius: 4px;
    color: #333;
    background-color: white;
    cursor: pointer;
}
.wnav button:hover{
    background: linear-gradient(to right, #6b11cb41, #2574fc41);
} */

.wnav-btn-con .wnav-active{
    color: #5D12EB;
    font-size: 15px;
    font-weight: bold;
}



.wform button{
    padding:8px 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border-radius: 8px;
    color: white;
    font-weight: bold;
    font-size: 15px;
    border: 1px solid #eee;
    background: linear-gradient(to right, #6a11cb, #2575fc);
}
.wform button:hover{
    background: linear-gradient(to right,#2575fc, #6a11cb);
    box-shadow: 0px 4px 8px #5e12eb46;
}
.wform-icon{
    margin-right: 5px;
    font-size: 12px;
}
.wform p{
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #ddd;
}

/* WORKSPACE WELCOME MESSAGE  */
.workspace-welcome{
    /* border: 1px solid red; */
    padding: 0px 20px;
    margin-top: 20px;
}
.workspace-welcome h3{
    font-size: 20px;
    font-weight: bold;
    letter-spacing: 0.5px;
    color: #333;
}
.workspace-welcome p{
    margin: 0px;
    font-size: 13px;
    color: #333;
}

/* WORKSPACE BODY  */
.workspace-body{
    border: 1px solid red;
    padding: 20px;
    height: 78vh;
    position: relative;
}

.workspace-content {
    border: 1px solid blue;
    height: fit-content;
    padding: 20px 0px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    /* overflow-x: auto; */
    white-space: nowrap;
  }
  /* .workspace-content > * {
    min-width: 250px;
    max-width: 300px;
    flex: 0 0 auto;
  } */
.workspace-card{
    border: 1px solid #c5cad2;
    /* border: 1px solid #e1d3fb; */
    background-color: white;
    height: fit-content;
    border-radius: 10px;
    height: 20vh;
    position: relative;
    box-shadow: 0px 4px 8px #bdc4cd;
    /* box-shadow: 0px 4px 8px #5e12eb46; */
}
/* CARD FORM CREATE  */
.form-workspace-card{
     border: 1px dashed #5D12EB;
     background-color: #eeeeee41;
     border-radius: 8px;
     position: relative;
     display: flex;
     flex-direction: column;
     align-items: center;
     justify-content: center;
     box-shadow: 0px 4px 8px #5e12eb46;
     cursor: pointer;
     height:10vh ;
}
.form-workspace-card p{
    margin: 0;
    font-size: 15px;
}
.fwc-icon{
    font-size: 20px;
    font-weight: bold;
}
/* END CARD FORM CREATE  */

.wc-header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 15px;
    position: relative;
    /* border: 1px solid yellow; */
}
/* form setting  */
.workspace-card .setting-wc{
    position: absolute;
    top: 30px; /* Sesuaikan dengan posisi yang diinginkan */
    right: 0; /* Menempel ke kanan */
    background-color: white;
    border: 1px solid #ddd;
    /* height: 30vh; */
    border-radius: 4px;
    padding: 10px 7px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3);
    z-index: 10; /* Pastikan lebih tinggi dari elemen lain */
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    justify-content: flex-start;
    gap: 3px;
    font-size: 15px;
}
.setting-wc button{
    padding: 8px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    font-size: 13px;
    border: 1px solid #fff;
    background-color: #fff;
    border-radius: 4px;
    color: #333;
}
.setting-wc button:hover{
    background-color: #eee;
}
.swc-icon{
    margin-right: 5px;
    font-size: 13px;
    color: #333;
}
.swc-delete{
    margin-right: 5px;
    font-size: 13px;
    color: red;
}
.delete button{
    padding: 8px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    font-size: 13px;
    border-top: 1px solid white !important;
    border-radius: 4px;
    background-color: #fff;
    color: red;
}
.delete button:hover{
    background-color: #eee;
}
/* end form setting  */
.wc-name{
    display: flex;
    align-items:center;
    justify-content: flex-start;
    flex-wrap: wrap;
    /* border: 1px solid red; */
    word-wrap: break-word;
    overflow-wrap: break-word;
    white-space: normal;
    width: 90%; 
}
.wc-name input{
    /* border: 1px solid red; */
    font-size: 13px;
    padding: 0px 5px;
    border-radius: 6px;
}
.wc-name input:focus{
    outline: none;
    border: 1px solid #ddd;
}

.wc-name h5{
    font-size: 13px;
    font-weight: bold;
    margin: 0px;
    margin-left: 5px;
    word-wrap: break-word; /* Break long words */
    word-break: break-word; /* Break long words at the end of the line */
    max-width: 80vw; /* Optional, adjust this for a max width */
    overflow-wrap: break-word;
    /* border: 1px solid green; */
    /* width: 95%; */
}
.wc-header .setting-icon{
    cursor: pointer;
    color: #333;
    border: 1px solid #eeeeee41;
    border-radius: 4px;
    font-size: 20px;
}
.wc-header .setting-icon:hover{
    cursor: pointer;
    border: 1px solid #ddd;
    background-color: #ddd;
    border-radius: 4px;
}

/* NEW BODY CARD WORKSPACE  */
.workspace-card-body{
    /* border: 1px solid blue; */
}

.workspace-card-desc{
    /* border: 1px solid grey; */
    padding: 0px 15px;
}

.workspace-card-desc textarea{
    border: 1px solid #eee;
    border-radius: 4px;
    outline: none;
    width: 95%;
    padding: 5px;
    font-size: 13px;
}

.workspace-card-desc p{
    margin: 0px;
    font-size: 13px;
    height:fit-content;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    white-space: normal;    /* memastikan teks bisa wrap */
    word-wrap: break-word;  /* memaksa kata panjang tetap dipotong biar gak overflow */
    overflow-wrap: break-word;
}

.workspace-card-body .workspace-info{
    /* border: 1px solid blue; */
    padding: 2px 15px;
    margin-top: 8px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.workspace-info .user-admin{
    /* border: 1px solid red; */
    gap:5px;
}
.user-admin .create-icon{
    font-size: 18px;
    color: #838383;
    margin-right: 5px;
}

.workspace-info .info-date{
    /* border: 1px solid red; */
    font-size: 10px;
    color: #838383;
}

.workspace-card-body .info-btm{
    border: 1px solid #ddd;
}
.info-btm .summary-content{
    border: 1px solid blue;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}


.wc{
    /* background-color: #fff; */
    /* border: 1px solid #ddd; */
    border: 1px solid red;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    border-radius: 8px;
    min-height: 15vh;
    /* width: fit-content; */
    /* min-width: 15vw; */
    margin: 5px;
    margin-top: 0px;
    padding-top: 0px;
    padding: 10px;
}
.wc textarea{
    border: 1px solid #eee;
    border-radius: 4px;
    outline: none;
    width: 95%;
    padding: 5px;
    font-size: 13px;
}
.wc p{
    margin: 0px;
    font-size: 13px;
    /* padding-top: 10px; */
    height: 5vh;
    /* border: 1px solid red; */
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    white-space: normal;    /* memastikan teks bisa wrap */
    word-wrap: break-word;  /* memaksa kata panjang tetap dipotong biar gak overflow */
    overflow-wrap: break-word;
    /* color: #ccccc; */
}
.wc .wc-btm{
    /* border: 1px solid red; */
    display: flex;
    /* flex-direction: column; */
    align-items: flex-end;
    justify-content: space-between;
    padding: 0px;
    position: relative;
    width: 100%;
    margin-top: 10px;
}
.wc-btm button{
    padding: 2px;
    border: 1px solid white;
    border-radius: 4px;
    /* background-color: white; */
    font-size: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
/* .wc-btm button:hover{
    border: 1px solid #eee;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
} */
.wc .wc-user{
    padding: 2px;
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap:5px;
    cursor: pointer;
    /* border: 1px solid #eee; */
    /* box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1); */
    font-size: 10px;
    margin: 0px;
}
.user-group{
    /* border: 1px solid green; */
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    justify-content: flex-start;
    padding: 0px 2px;
    width: 95%;
    margin: 0px;
}

.prof-user{
    /* border: 1px solid red; */
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
.prof-user img{
    width: 20px;
    height: 20px;
    border-radius: 50%;
}

.wc-icon{
    font-size: 15px;
    margin-right: 5px;
}
.wc-btm .user-container{
    position: absolute;
    top: 40px; /* Sesuaikan dengan posisi yang diinginkan */
    right: 0; /* Menempel ke kanan */
    background-color: white;
    /* border: 1px solid #ddd; */
    border-radius: 4px;
    padding: 10px 7px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3);
    z-index: 10; /* Pastikan lebih tinggi dari elemen lain */
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    justify-content: flex-start;
    gap: 3px;
    font-size: 15px;
}
/* END WORKSPACE BODY  */

.wc-btm .btn-date{
    border: 1px solid white;
    background-color: white;
}
/* button navigate to board  */
.wc-btm .btn-nav-board{
    padding: 5px;
    border: 1px solid #5D12EB ;
    background: linear-gradient(to bottom, #6E30DC, #5D12EB);
    color: white;
    font-weight: bold;
}
.wc-btm .btn-nav-board:hover{
    padding: 5px;
    border: 1px solid #5D12EB ;
    background: linear-gradient(to bottom, #5D12EB, #6E30DC);
    color: white;
    font-weight: bold;
}

/* FORM CREATE WORKSPACE -> FORMNEWWORKSPACE  */
.create-workspace-container{
    position: absolute;
    top: 100%;
    right: 0;
    width: 300px;
    z-index: 100;
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0px 4px 8px #5e12eb46;
    /* box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3); */
}
.cwc-header{
    border-bottom: 1px solid #ddd;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.cwc-header h4{
    margin: 0px;
    padding: 5px;
    font-size: 13px;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
.cwch-icon{
    margin-right: 5px;
    color: #5D12EB;
}
.cwc-icon{
    font-size: 15px;
    cursor: pointer;
    border: 1px solid white;
}
.cwc-icon:hover{
    background-color: #ddd;
    border-radius: 4px;
    border: 1px solid #ddd;
}
.create-workspace-container .form-workspace{
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items:center;
    justify-content: flex-start;
    /* border: 1px solid red; */
}
.box input{
    width: 100%;
    /* background: linear-gradient(to right, #6a11cb, #2575fc); */
}
.box input:hover{
    background: linear-gradient(to right, #6b11cb41, #2574fc41);
}
.box{
    display: flex;
    flex-direction: column;
    width: 90%;
    /* align-items: center; */
    /* justify-content: flex-start; */
    /* border: 1px solid red; */
}
.box textarea{
    padding: 5px;
    border: 1px solid #ddd;
    border-radius: 4px;
    width: 100% !important;
}
.box textarea:hover{
    background: linear-gradient(to right, #6b11cb41, #2574fc41);
}
.workspace-btn-form{
    /* border: 1px solid green; */
    margin: 10px 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}
.workspace-btn-form button{
    background: linear-gradient(to bottom, #6E30DC, #5D12EB);
    color: white;
    font-weight: bold;
    width: 90%;
    font-size: 12px;
    border: 1px solid #5D12EB;
    border-radius: 8px;
    /* padding: 8px 0px; */
}
.workspace-btn-form button:hover{
    background: linear-gradient(to bottom, #5D12EB, #6E30DC);
}

/* END FORM CREATE WORKSPACE -> FORMNEWWORKSPACE  */


/* USER TOTAL  */
.btn-ts{
    /* border: 1px solid red; */
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 0px 2px;
    width: 95%;
    height: 20px;
    margin: 0px;
}
.ut-container{
    /* border: 1px solid green; */
    display: flex;
    align-items: center;
    /* padding: 2px; */
    justify-content: flex-start;
    height: 100%;
}
.ut-container p{
    /* border: 1px solid grey; */
    height: 100%;
    padding: 0px;
    font-size: 10px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

/* END USER TOTAL */ 

/* MEDIA QUERY BREAKPOINT  */

/* Ukuran layar iPhone 7 adalah 375px x 667px (atau 375 x 667) */
@media (min-width: 375px) and (max-width:667px){
    .workspace-header{
        /* border: 1px solid red; */
        padding: 0px;
    }
    .wnav{
        /* border: 1px solid blue; */
        margin-left: 0px;
        padding-left: 5px;
    }
    .wnav h3{
        font-size: 13px;
    }
    .wnav-btn{
        /* border: 1px solid green; */
    }
    .wnav-btn button{
        font-size: 10px;
    }

    .wform button{
        font-size: 12px;
    }
    .wform-icon{
        display: none;
    }

    .workspace-body{
        padding: 5px;
    }
}

/* END MEDIA QUERY BREAKPOINT  */
