.workspace-container {
    border: 1px solid #ddd;
    height: 100vh;
    margin-bottom: 10px;
    margin: 15px;
    background-color: #F8FAFC;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    color: #333;
}

.workspace-header {
    border-bottom: 1px solid #ddd;
    padding: 5px 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
}

.wnav {
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    justify-content: space-between;
    color: #333;
    cursor: pointer;
    margin-left: 10px;
    /* padding: 2px; */
    /* border: 1px solid green; */
}

.wnav-btn-con {
    /* border: 1px solid blue; */
    display: flex;
    align-items: center;
    justify-content: flex-start;
    /* gap: 2px; */
}

.wnav-btn-con .wnav-btn {
    /* border: 1px solid red; */
}

.wnav-btn .nav-icon {
    color: #333;
    cursor: pointer;
    font-size: 18px;
}

.wnav-btn .nav-icon:hover {
    color: #5D12EB;
}

/* .wnav button{
    padding: 5px;
    font-size: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #fff;
    border-radius: 4px;
    color: #333;
    background-color: white;
    cursor: pointer;
}
.wnav button:hover{
    background: linear-gradient(to right, #6b11cb41, #2574fc41);
} */

.wnav-btn-con .wnav-active {
    color: #5D12EB;
    font-size: 15px;
    font-weight: bold;
}



.wform button {
    padding: 8px 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border-radius: 8px;
    color: white;
    /* font-weight: bold; */
    font-size: 13px;
    border: 1px solid #eee;
    background: linear-gradient(90deg, #7246eb, #532189);
}

.wform button:hover {
    background: linear-gradient(to right, #532189, #7246eb);
    box-shadow: 0px 4px 8px #5e12eb46;
}

.wform-icon {
    margin-right: 5px;
    font-size: 12px;
}

.wform p {
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #ddd;
}

/* WORKSPACE WELCOME MESSAGE  */
.workspace-welcome {
    /* border: 1px solid red; */
    padding: 0px 20px;
    margin-top: 20px;
}

.workspace-welcome h3 {
    font-size: 20px;
    font-weight: bold;
    letter-spacing: 0.5px;
    color: #48068f;
}

.workspace-welcome p {
    margin: 0px;
    font-size: 13px;
    color: #333;
}

/* WORKSPACE BODY  */
.workspace-body {
    /* border: 1px solid red; */
    padding: 20px;
    height: 78vh;
    position: relative;
}

.workspace-content {
    /* border: 1px solid blue; */
    height: 100%;
    /* full parent height */
    padding: 20px 0;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: min-content;
    /* ✅ biar tinggi row ngepas isi */
    gap: 10px 15px;
    /* atur jarak antar row & kolom */
    /* white-space: nowrap; */
}

.workspace-card {
    /* border: '1px solid red'; */
    border: 1px solid #c5cad2;
    width: 100%;
    background-color: white;
    height: fit-content;
    border-radius: 10px;
    /* overflow-y: auto; */
    padding: 10px;
    position: relative;
    cursor: pointer;
    box-shadow: 0px 4px 8px #bdc4cd;
}

.workspace-card:hover {
    border: 1px solid #ae8aeb;
    box-shadow: 0px 4px 8px #5e12eb46;
}

/* CARD FORM CREATE  */
.form-workspace-card {
    border: 1px dashed #5D12EB;
    background-color: #fff;
    border-radius: 8px;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 4px 8px #bdc4cd;
    cursor: pointer;
    padding: 20px;
}

.form-workspace-card:hover {
    box-shadow: 0px 4px 8px #5e12eb46;
}

.form-workspace-card h4 {
    margin: 0;
    font-size: 15px;
    font-weight: bold;
    letter-spacing: 0.5px;
}

.form-workspace-card p {
    margin: 0px;
    font-size: 12px;
    color: #5e5e5e;
}

.fwc-icon {
    font-size: 20px;
    font-weight: bold;
    border: 1px solid #eee;
    border-radius: 8px;
    padding: 5px;
    background-color: #eee;
    color: #5D12EB;
    margin-bottom: 5px;
}

/* END CARD FORM CREATE  */

.wc-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px 10px;
    position: relative;
    border-bottom: 1px solid #eee;
    /* border: 1px solid yellow; */
    width: 100%;
    margin-bottom: 5px;
}

/* form setting  */
.workspace-card .setting-wc {
    position: absolute;
    top: 30px;
    right: 0;
    border: 1px solid #ddd;
    background-color: white;
    height: fit-content;
    border-radius: 8px;
    padding: 5px;
    box-shadow: 0px 4px 8px #5e12eb46;
    z-index: 9999;
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    justify-content: flex-start;
    gap: 3px;
    font-size: 15px;
}

.setting-wc button {
    padding: 4px 8px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    font-size: 13px;
    border: 1px solid #fff;
    background-color: #fff;
    border-radius: 4px;
    color: #333;
}

.setting-wc button:hover {
    background-color: #eee;
}

.swc-icon {
    margin-right: 5px;
    font-size: 13px;
    color: #333;
}

.swc-delete {
    margin-right: 5px;
    font-size: 13px;
    color: red;
}

.delete button {
    padding: 4px 8px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    font-size: 13px;
    border-top: 1px solid white !important;
    border-radius: 4px;
    background-color: #fff;
    color: red;
}

.delete button:hover {
    background-color: #eee;
}

/* end form setting  */

.wc-name {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-wrap: wrap;
    /* border: 1px solid red; */
    word-wrap: break-word;
    overflow-wrap: break-word;
    white-space: normal;
    width: 90%;
}

.wc-name .name-icon {
    color: white;
    padding: 5px;
    border-radius: 6px;
    font-size: 12px;
    background: linear-gradient(90deg, #7246eb, #532189)
}

.name-icon .ni-mini {
    font-size: 12px;
    color: white;
}

.wc-name input {
    /* border: 1px solid red; */
    font-size: 13px;
    padding: 0px 5px;
    border-radius: 6px;
}

.wc-name input:focus {
    outline: none;
    border: 1px solid #ddd;
}

.wc-name h5 {
    font-size: 13px;
    font-weight: bold;
    margin: 0px;
    margin-left: 5px;
    word-wrap: break-word;
    /* Break long words */
    word-break: break-word;
    /* Break long words at the end of the line */
    max-width: 80vw;
    /* Optional, adjust this for a max width */
    overflow-wrap: break-word;
    /* border: 1px solid green; */
    /* width: 95%; */
}

.wc-header .setting-icon {
    cursor: pointer;
    color: #333;
    border: 1px solid #eeeeee41;
    border-radius: 4px;
    font-size: 20px;
}

.wc-header .setting-icon:hover {
    cursor: pointer;
    border: 1px solid #ddd;
    background-color: #ddd;
    border-radius: 4px;
}

/* NEW BODY CARD WORKSPACE  */
.workspace-card-body {
    /* border: 1px solid blue; */
    padding: 5px;
    width: 100%;
}

.workspace-card-desc {
    /* border: 1px solid grey; */
    padding: 0px;
    margin: 3px 0px;
    height: 7vh;
    width: 100%;
}

.workspace-card-desc textarea {
    border: 1px solid #eee;
    border-radius: 4px;
    outline: none;
    width: 95%;
    padding: 5px;
    font-size: 13px;
}

.workspace-card-desc p {
    margin: 0px;
    font-size: 13px;
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    /* jumlah baris maksimum */
    -webkit-box-orient: vertical;
    line-height: 1.4em;
    /* line spacing */
    max-height: calc(1.4em * 3);
    /* hitung sesuai jumlah baris */
    word-wrap: break-word;
    overflow-wrap: break-word;
    white-space: normal;

}

.workspace-card-body .workspace-info {
    /* border: 1px solid orange; */
    padding: 0;
    width: 100%;
    margin: 5px 0px;
    /* margin-top: 8px; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
}

.workspace-info .user-container {
    position: absolute;
    top: 100%;
    left: 0;
    background-color: white;
    border: 1px solid #ae8aeb;
    border-radius: 8px;
    padding: 10px 7px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3);
    z-index: 10;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 3px;
    font-size: 15px;
}

.workspace-info .user-admin {
    /* border: 1px solid red; */
    gap: 5px;
}

.user-admin .prof-user {
    /* border: 1px solid blue; */
    gap: 5px;
}

.prof-user p {
    font-size: 12px;
    color: #5e5e5e;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.workspace-info .info-date {
    /* border: 1px solid red; */
    font-size: 10px;
    color: #838383;
}

.workspace-card-body .info-btm {
    /* border: 1px solid #ddd; */
}

.info-btm .summary-content {
    /* border: 1px solid blue; */
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

/* SUMMARY COUNT  */
.summary-counts {
    padding: 2px 5px;
    /* border: 1px solid red; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
}

.summary-counts .detail-icon {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 5px;
}

.mini-icon .mi {
    color: #5D12EB;
    font-size: 15px;
}

.detail-icon p {
    padding: 0px;
    margin: 0px;
    font-size: 10px;
}

.detail-ul {
    position: absolute;
    bottom: 100%;
    left: 0;
    padding: 10px;
    z-index: 99;
    border-radius: 4px;
    border: 1px solid #ae8aeb;
    background-color: white;
    display: flex;
    flex-direction: column;
    gap: 5px;
    align-items: center;
    justify-content: flex-start;
    box-shadow: 0px 4px 8px #5e12eb46;
}

.detail-ul li {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    font-size: 12px;
    gap: 5px;
    padding: 2px 5px;
    cursor: pointer;
    color: #5e5e5e;
    width: 100%;
    border: 1px solid white;
    border-radius: 4px;
    color: #5D12EB;
}

.detail-ul li:hover {
    background-color: #ddd;
    border: 1px solid #ddd;
}



.user-group {
    /* border: 1px solid green; */
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    justify-content: flex-start;
    padding: 0px 2px;
    width: 95%;
    margin: 0px;
}

.prof-user {
    /* border: 1px solid red; */
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.prof-user img {
    width: 20px;
    height: 20px;
    border-radius: 50%;
}

.wc-icon {
    font-size: 15px;
    margin-right: 5px;
}

/* END WORKSPACE BODY  */


/* button navigate to board  */
.btn-nav-board {
    padding: 5px 7px;
    border-radius: 8px;
    border: 1px solid #5D12EB;
    background: linear-gradient(90deg, #7246eb, #532189);
    color: white;
    font-size: 12px;
    /* font-weight: bold; */
    cursor: pointer;
}

.btn-nav-board:hover {
    box-shadow: 0px 4px 8px #5e12eb46;
}

/* FORM CREATE WORKSPACE -> FORMNEWWORKSPACE  */
.create-workspace-container {
    position: absolute;
    top: 100%;
    right: 0;
    width: 30vw;
    z-index: 100;
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 16px;
    box-shadow: 0px 4px 8px #5e12eb46;
    /* box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3); */
}

.cwc-header {
    border-bottom: 1px solid #ddd;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.cwc-header h4 {
    margin: 0px;
    padding: 5px;
    font-size: 13px;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.cwch-icon {
    margin-right: 5px;
    color: white;
    padding: 5px;
    border-radius: 6px;
    background: linear-gradient(90deg, #7246eb, #532189)
}

.cwc-icon {
    font-size: 18px;
    cursor: pointer;
    border: 1px solid white;
}

.cwc-icon:hover {
    background-color: #ddd;
    border-radius: 4px;
    border: 1px solid #ddd;
}

.create-workspace-container .form-workspace {
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    /* border: 1px solid red; */
}

.box-form input,
.box-form-name input {
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 8px;
    outline: none;
    font-size: 12px;
    /* background: linear-gradient(to right, #6a11cb, #2575fc); */
}

.box-form input:hover,
.box-form-name input:hover {
    background: linear-gradient(to right, #6b11cb41, #2574fc41);
}

.box-form input:focus,
.box-form-name input:focus {
    border: 1px solid #9b2fad;
}

.box-form,
.box-form-name {
    display: flex;
    flex-direction: column;
    width: 90%;
    margin-bottom: 5px;
    /* border: 1px solid grey; */
}

.box-form label,
.box-form-name label {
    font-size: 10px;
    color: #333;
    margin: 5px 0px;
}

.box-form textarea {
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 8px;
    height: 10vh;
    outline: none;
    font-size: 12px;
}

.box-form textarea:hover {
    background: linear-gradient(to right, #6b11cb41, #2574fc41);
}

.box-form textarea:focus {
    border: 1px solid #9b2fad;
}

.workspace-btn-form {
    /* border: 1px solid green; */
    margin: 10px 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.workspace-btn-form button {
    background: linear-gradient(to bottom, #6E30DC, #5D12EB);
    color: white;
    font-weight: bold;
    width: 90%;
    font-size: 12px;
    border: 1px solid #5D12EB;
    border-radius: 8px;
    /* padding: 8px 0px; */
}

.workspace-btn-form button:hover {
    background: linear-gradient(to bottom, #5D12EB, #6E30DC);
}

/* END FORM CREATE WORKSPACE -> FORMNEWWORKSPACE  */


/* USER TOTAL  */
.btn-ts {
    /* border: 1px solid red; */
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 0px 2px;
    width: 95%;
    height: 20px;
    margin: 0px;
}

.ut-container {
    /* border: 1px solid green; */
    display: flex;
    align-items: center;
    justify-content: flex-start;
    height: 100%;
    /* margin-left: 3px; */
}

.ut-container p {
    /* border: 1px solid grey; */
    height: 100%;
    margin-left: 3px;
    padding: 0px;
    font-size: 12px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

/* END USER TOTAL */

/* MEDIA QUERY BREAKPOINT  */
/* Extra large devices (large desktops, ≥1200px) */
@media (min-width: 1200px) {

    /* CSS monitor besar */
    .workspace-content {
        /* border: 1px solid green; */
        /* height: 75vh; */
        overflow-y: auto;
        gap: 15px;
    }
}

/* Large devices (desktops, ≥992px) */
@media (min-width: 992px) and (max-width: 1199.98px) {

    /* CSS laptop biasa */
    .workspace-body {
        /* border: 1px solid red; */
        padding: 5px 10px;
        height: 75vh;
    }

    .workspace-content {
        /* border: 1px solid red; */
        overflow-y: auto;
        gap: 10px 5px;
        grid-template-columns: repeat(2, 1fr);
    }


    /* FORM CREATE WORKSPACE  */
    .create-workspace-container {
        width: 40vw;
        /* border: 1px solid red; */
    }
}

/* Medium devices (tablets, ≥768px) */
@media (min-width: 768px) and (max-width: 991.98px) {

    /* CSS tablet atau iPad */
    .workspace-body {
        /* border: 1px solid red; */
        padding: 5px 10px;
        height: 74vh;
        overflow-y: auto;
    }

    .workspace-content {
        /* border: 1px solid green; */
        height: 75vh;
        overflow-y: auto;
        padding: 0px;
        /* overflow-x: auto; */
        gap: 20px;
        grid-template-columns: repeat(2, 1fr)
    }

    /* FORM CREATE WORKSPACE  */
    .create-workspace-container {
        width: 50vw;
    }
}

/* ukuran handpone besar  */
@media (min-width: 576px) and (max-width: 767.98px) {
    .workspace-body {
        /* border: 1px solid red; */
        padding: 10px 20px;
    }

    .workspace-welcome {
        margin-top: 10px;
    }

    .workspace-welcome h3 {
        font-size: 15px;
    }

    .workspace-welcome p {
        font-size: 11px;
    }

    .workspace-content {
        padding: 0px;
        /* display: flex;
        flex-direction: column;
        justify-content: flex-start; */
        grid-template-columns: repeat(2, 1fr);
        height: 70vh;
        gap: 5px;
        overflow-y: auto;
        align-items: center;
        /* align-items: stretch; */
        border: 1px solid blue;
    }

    .workspace-card {}

    .form-workspace-card {
        /* border: 1px solid red; */
        width: 90%;
    }

    .btn-nav-board {
        padding: 5px;
        font-size: 10px;
    }

    /* FORM CREATE WORKSPACE  */
    .create-workspace-container {
        width: 65vw;
    }
}


/* Ukuran layar iPhone 7 adalah 375px x 667px (atau 375 x 667) */
@media (max-width: 575.98px) {
    .workspace-header {
        /* border: 1px solid red; */
        padding: 0px;
    }

    .workspace-welcome {
        padding: 0px 10px;
        margin-top: 5px;
        /* border: 1px solid blue; */
    }

    .workspace-welcome h3 {
        font-size: 13px;
    }


    .wnav {
        /* border: 1px solid blue; */
        margin-left: 0px;
        padding-left: 5px;
    }

    .wnav h3 {
        font-size: 13px;
    }

    .wnav-btn {
        /* border: 1px solid green; */
    }

    .wnav-btn button {
        font-size: 10px;
    }

    .wform button {
        font-size: 12px;
    }

    .wform-icon {
        display: none;
    }

    .workspace-welcome p {
        font-size: 10px;
    }

    .workspace-body {
        padding: 5px;

    }

    .workspace-content {
        /* border: 1px solid green; */
        height: 75vh;
        padding: 0px 10px;
        padding-bottom: 10px;
        overflow-y: auto;
        overflow-x: auto;
        gap: 15px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
    }

    .workspace-card {
        height: 100%;
        /* border: 1px solid blue; */
    }

    .form-workspace-card {
        /* border: 1px solid red; */
        width: 100%;
    }

    /* FORM CREATE WORKSPACE  */
    .create-workspace-container {
        width: 85vw;
        /* border: 1px solid red; */
    }
}

/* HEIGHT BREAKPOIN  */
@media screen and (max-height: 600px) {

    .wform button {
        padding: 5px 10px;
    }

    .workspace-welcome {
        /* border: 1px solid red; */
        margin-top: 0px;
        padding-top: 5px;
    }

    /* BODY  */
    .workspace-body {
        /* border: 1px solid red; */
        height: 70%;
    }

    .workspace-content {
        /* border: 1px solid blue; */
        height: 100%;
        /* full parent height */
        padding: 10px 0;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-auto-rows: min-content;
        /* ✅ biar tinggi row ngepas isi */
        gap: 10px;
        /* atur jarak antar row & kolom */
        /* white-space: nowrap; */
    }

    .workspace-welcome h3 {
        font-size: 15px;
    }

    .workspace-welcome p {
        font-size: 10px;
    }

    .workspace-card {
        /* border: 1px solid green; */
        padding: 10px;
        padding: 5px;
    }

    .workspace-card-body {}

    .wc-header {
        border-bottom: 1px solid #eee;
    }

    .wc-name h5,
    .wc-name input {
        font-size: 11px;
    }

    .workspace-card-desc textarea,
    .workspace-card-desc p {
        font-size: 9px;
    }

    /* WORKSPACE HEADER SETTING */
    .setting-wc button,
    .delete button {
        font-size: 10px;
    }

    /* WORKSPACE INFO  */
    .workspace-info .user-admin {
        /* border: 1px solid red; */
    }

    .prof-user p,
    .workspace-info .info-date {
        font-size: 8px;
    }

    .summary-counts {
        /* border: 1px solid red; */
    }

    .btn-nav-board {
        font-size: 10px;
        padding: 4px 10px;
    }

    /* FORM CREATE WORKSPACE  */
    .create-workspace-container {
        width: 25vw;
    }

    .cwc-header {
        padding: 5px 10px;
    }

    .cwc-header h4 {
        font-size: 10px;
    }

    /* BODY  */
    .create-workspace-container .form-workspace {
        padding: 5px;
        /* border: 1px solid red; */
    }

    .box-form input,
    .box-form-name input,
    .box-form textarea {
        font-size: 10px;
    }

    /* CARD FORM CEATE  */
    .form-workspace-card p {
        width: 100%;
        text-align: center;
    }
}

/* END MEDIA QUERY BREAKPOINT  */