.dc-duplicate-container{
    border: 0.1px solid #6f30dca7;
    border-radius: 4px;
    padding: 0px;
    box-shadow: 0px 4px 8px #6f30dc7b;
    /* background-color: white; */
    background-color: #f7f5f9;
    /* background-color: green; */
    width: 90%;
    /* width: 150px; */
    }
    .dc-header{
      display: flex;
      align-items: center;
      justify-content: space-between;
      border-bottom: 1px solid #ddd;
      padding: 5px 10px;
    }
    .dc-header p{
      margin: 0px;
      font-size: 12px;
      font-weight: bold;
    }
    .dc-icon{
      cursor: pointer;
      border: 1px solid rgba(255, 255, 255, 0);
      border-radius: 4px;
    }
    .dc-icon:hover{
      border: 1px solid #eee;
      background-color: #eee;
    }
    
     /* BODY  */
     .dc-body{
      padding: 0px 10px;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      gap: 2px;
      height: 55%;
      /* border: 1px solid blue; */
    }
    .dc-board{
      margin: 0px;
      /* border: 1px solid blue; */
      width: 100%;
    }
    
    .dc-board label{
      margin: 0px;
      font-size: 10px;
      font-weight: bold;
    }
    .dcb-dropdown{
      width: 100%;
      position: relative;
    }
    .dcb-dropdown .dcb-btn{
      border: 1px solid #ddd;
      border-radius: 4px;
      background-color: white;
      padding: 5px 10px;
      color: grey;
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 100%;
      font-size: 10px;
      /* font-weight: bold; */
      margin: 5px 0px;
    }
    .dcb-dropdown .dcb-btn:hover{
      border: 1px solid #5D12EB;
      background-color: #ddcdf954;
    }
  
      /* SEARCH FITURE */
      .dcb-menu-wrapper {
          background-color: white;
          /* border: 1px solid blue; */
          width: 100%;
          margin: 0px;
          /* padding: 8px; */
          /* border-radius: 8px; */
      }
      
        .dcb-search-input {
          width: 95%;
          padding: 2px 5px;
          margin-bottom: 2px;
          border: 1px solid #5D12EB;;
          border-radius: 2px;
          font-size: 10px;
      }
      .dcb-search-input:hover{
          border: 1px solid #5D12EB;
          background-color: #ddcdf954;
      }
      .dcb-search-input:focus{
          outline: none;
          border: 1px solid #5D12EB;
      }
  
  /* DROPDOWN BOARD */
    .dcb-menu{
      border: 1px solid #5D12EB;
      border-radius: 4px;
      position: absolute;
      background-color: white;
      margin-top: 0px;
      box-shadow: 0px 4px 8px #6f30dc54;
      height: 8vh;
      width: 90%;
      overflow-y: auto;
      list-style: none;
      padding:5px;
      font-size: 10px;
      z-index: 100;
    }
    .dcb-item{
      /* border: 1px solid green; */
      border-radius: 4px;
      padding: 5px;
    }
    .dcb-item:hover{
      background-color: #ede6fb;
      color: #5D12EB;
    }
  
  /* SELECT LISTS */
  .dcb-select-list{
      width: 100%;
      /* border: 1px solid blue; */
    }
    .dcb-select-list label{
      margin: 0px;
      font-size: 10px;
      font-weight: bold;
    }
    .dcb-list-dropdown{
      width: 100%;
      position: relative;
    }
    .dcb-list-dropdown .dcb-btn{
      border: 1px solid #ddd;
      border-radius: 4px;
      background-color: white;
      color: grey;
      padding: 5px 10px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 100%;
      font-size: 10px;
      /* font-weight: bold; */
      margin:5px 0px ;
    }
    .dcb-list-dropdown .dcb-btn:hover{
      border: 1px solid #5D12EB;
      background-color: #ddcdf954;
    }
    /* DROPDOWN LISTS */
    .dcb-menu{
      border: 1px solid #5D12EB;
      border-radius: 4px;
      position: absolute;
      background-color: white;
      margin-top: 0px;
      box-shadow: 0px 4px 8px #6f30dc54;
      height: 8vh;
      width: 90%;
      overflow-y: auto;
      list-style: none;
      padding:5px;
      font-size: 10px;
    }
    .dcb-item{
      /* border: 1px solid green; */
      border-radius: 4px;
      padding: 5px;
    }
    .dcb-item:hover{
      background-color: #ede6fb;
      color: #5D12EB;
    }
  
    /* BUTTON  */
    .div-btn{
      /* border: 1px solid green; */
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 5px;
    }
    .dcb-move-btn{
      color: white;
      font-weight: bold;
      font-size: 10px !important;
      border: 1px solid #6E30DC;
      border-radius: 8px;
      background: linear-gradient(to bottom, #6E30DC, #5D12EB);
      display: flex;
      width: 100%;
      align-items: center;
      justify-content: center;
      padding: 5px !important;
      cursor: pointer;
      /* margin-top: 5px; */
    }
    .dcb-move-btn:hover{
      background: linear-gradient(to bottom, #5D12EB, #6E30DC);
      box-shadow: 0px 4px 8px #6f30dc54;
    }
    .dcb-icon{
      margin-right: 5px;
    }