.dc-container {
  border: 1px solid var(--border);
  border-radius: 8px;
  padding: 0px;
  padding-bottom: 10px;
  box-shadow: var(--card-shadow);
  background-color: var(--bg-section);
  width: 100%;
}

.dc-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  border-bottom: 1px solid var(--border) !important;
  padding: 5px 10px;
  gap: 5px;
  color: var(--text);
  background-color: var(--primary);
}

.dc-header .dc-left {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 5px;
  color: var(--text);
}

.dc-left .left-icon {
  /* border: 1px solid var(--bg); */
  background: var(--bg-icon2);
  color: var(--text-white);
  padding: 3px;
  border-radius: 6px;
}

.left-icon .mini-icon {
  font-size: 12px;
}

.dc-header p {
  margin: 0px;
  font-size: 12px;
  font-weight: bold;
  color: var(--text-white);
}

.close-icon {
  cursor: pointer;
  /* border: 1px solid white; */
  border-radius: 4px;
  font-size: 13px;
  color: var(--text-white);
}

.close-icon:hover {
  border: 1px solid var(--bg-section-hover);
  background-color: var(--bg-section-hover);
  color: var(--text);
}

/* BODY  */
.dc-body {
  padding: 10px;
  /* border: 1px solid blue; */
}

.dc-board {
  /* border: 1px solid grey; */
  height: 100%;
  width: 100%;
  padding: 2px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.dc-board label {
  margin: 0px;
  font-size: 10px;
  font-weight: bold;
  width: 100%;
  color: var(--text);
}

.duplicate-card-dropdown {
  width: 100%;
  padding: 0px;
  position: relative;
}

.duplicate-card-dropdown .dcb-btn {
  border-radius: 6px;
  border: 1px solid var(--border);
  background-color: var(--bg-section) !important;
  color: var(--text);
  padding: 5px 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  font-size: 10px;
  /* font-weight: bold; */
  margin: 0px;
}

.duplicate-card-dropdown .dcb-btn:hover {
  border: 1px solid var(--border);
  background-color: var(--bg-section-hover) !important;
}

/* =======================
 SEARCH FITURE 
======================= */
.dcb-menu-wrapper {
  background-color: var(--bg-section) !important;
  /* border: 1px solid blue; */
  width: 100%;
  margin: 0px;
}

.duplicate-card-search-input {
  width: 100%;
  padding: 5px;
  margin-bottom: 2px;
  border: 1px solid var(--border) !important;
  background-color: var(--bg-section) !important;
  border-radius: 6px;
  font-size: 10px;
  color: var(--text);
  font-weight: normal;
}

.duplicate-card-search-input:hover {
  border: 1px solid var(--border) !important;
  background-color: var(--bg-section-hover) !important;
}

.duplicate-card-search-input:focus {
  outline: none;
  background-color: var(--bg-section-hover) !important;
  border: 1px solid var(--card-hover-border);
}

/* =======================
DROPDOWN BOARD
======================= */

.dcb-menu-wrapper .dcb-menu {
  border: 1px solid var(--border);
  border-radius: 4px;
  position: absolute;
  background-color: var(--bg-section);
  margin-top: 0px;
  box-shadow: var(--card-shadow);
  height: 8vh;
  width: 100%;
  overflow-y: auto;
  list-style: none;
  padding: 5px;
  font-size: 10px;
  z-index: 100;
}

.duplicate-card-dropdwon-item {
  border: 1px solid var(--bg-section);
  border-radius: 4px;
  padding: 5px;
  color: var(--text) !important;
  background-color: var(--bg-section);
}

.duplicate-card-dropdwon-item:hover {
  background-color: var(--bg-section-hover) !important;
}

/* =======================
SELECT LISTS
======================= */

.dcb-select-list {
  height: 100%;
  width: 100%;
  padding: 2px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* border: 1px solid blue; */
}


/* =======================
LIST LABLE
======================= */

.dcb-select-list label {
  margin: 0px;
  width: 100%;
  font-size: 10px;
  font-weight: bold;
  color: var(--text);
}

.dcb-list-dropdown {
  width: 100%;
  position: relative;
  padding: 0px !important;
  /* border: 1px solid red; */
}

.dcb-list-dropdown .dcb-button {
  border: 1px solid var(--border);
  border-radius: 6px;
  background-color: var(--bg-section);
  color: var(--text);
  padding: 5px 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  font-size: 10px;
  /* font-weight: bold; */
  margin: 0px !important;
}

.dcb-list-dropdown .dcb-button:hover {
  border: 1px solid var(--border);
  background-color: var(--bg-section-hover);
}

/* =======================
SEARCH INPUT LIST
======================= */
.dcb-menu-wrapper .dc-list-search-input {
  width: 100%;
  padding: 5px;
  margin-bottom: 2px;
  border: 1px solid var(--border);
  border-radius: 6px;
  font-size: 10px;
  color: var(--text);
  font-weight: normal;
  background-color: var(--bg-section);
}

.dcb-menu-wrapper .dc-list-search-input:hover {
  background-color: var(--bg-section-hover);
}

.dcb-menu-wrapper .dc-list-search-input:focus {
  outline: none;
  background-color: var(--bg-section-hover);
  border: 1px solid var(--card-hover-border);
}


/* =======================
DROPDOWN LISTS
======================= */

.duplicate-card-list-menu {
  border: 1px solid var(--border);
  border-radius: 4px;
  position: absolute;
  background-color: var(--bg-section);
  margin-top: 0px;
  box-shadow: var(--box-shadow);
  height: 20vh;
  width: 95%;
  overflow-y: auto;
  list-style: none;
  padding: 5px;
  font-size: 10px;
  z-index: 100;
}

.dc-item {
  /* border: 1px solid green; */
  border-radius: 4px;
  padding: 5px;
  color: var(--text);
}

.dc-item:hover {
  background-color: var(--bg-section-hover);
}

/* =======================
BUTTON DUPLICATE
======================= */

.duplicate-card-button {
  /* border: 1px solid green; */
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px;
  width: 100%;
}

.dc-move-btn {
  color: var(--text-white);
  font-weight: bold;
  font-size: 10px !important;
  border: 1px solid var(--bg-section);
  border-radius: 8px;
  background: var(--bg-icon2);
  display: flex;
  width: 100%;
  gap: 5px;
  align-items: center;
  justify-content: center;
  padding: 5px !important;
  cursor: pointer;
  /* margin-top: 5px; */
}

.dc-move-btn:hover {
  box-shadow: 0px 4px 8px #6f30dc54;
  background: var(--bg-icon2);
}

.dc-icon {
  font-size: 13px;
}


/* =======================
POSITION 
======================= */
.dc-position {
  /* border: 1px solid red; */
  display: flex;
  /* flex-direction: column; */
  align-items: center;
  justify-content: center;
}

.dc-position label {
  margin: 0px;
  width: 100%;
  font-size: 10px;
  font-weight: bold;
  color: var(--text);
}

.dc-position-input {
  width: 100%;
  padding: 5px;
  margin-bottom: 2px;
  border: 1px solid var(--border);
  border-radius: 8px;
  font-size: 10px;
  color: var(--text);
  font-weight: normal;
  background-color: var(--bg-section);
}

.dc-position-input:hover {
  background-color: var(--bg-section-hover);
}

.dc-position-input:focus {
  outline: none;
  background-color: var(--bg-section-hover);
  border: 1px solid var(--card-hover-border);
}



/* MEDIA QUERY  */
@media screen and (max-height: 600px) {
  .dc-body {
    /* border: 1px solid red; */
  }

  .dc-board {
    /* border: 1px solid blue; */
  }

  .dc-board label {
    /* border: 1px solid red; */
    font-size: 8px !important;
    font-weight: normal !important;
  }

  .dcb-search-input {
    font-size: 8px !important;
  }

  .dcb-select-list label {
    font-size: 8px !important;
    font-weight: normal !important;
  }
}