.duplicate-container {
    background: var(--bg-section);
    border-radius: 8px;
    padding-bottom: 10px;
    width: 100%;
    box-shadow: var(--box-shadow);
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0px;
}

.db-header {
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
    font-weight: bold;
    font-size: 16px;
    padding: 5px 10px;
    border-radius: 8px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    background-color: var(--primary);
}

.dbh-icon {
    cursor: pointer;
    font-size: 20px;
    color: var(--text-white);
}

.db-header p {
    font-size: 12px;
    font-weight: bold;
    margin: 0px;
    color: var(--text-white);
}

.db-content {
    position: relative;
    /* margin-top: 10px; */
    /* border: 1px solid blue; */
    width: 100%;
    display: flex;
    justify-content: space-between;
    gap: 5px;
    margin: 5px 0px;
    padding: 5px 10px;
}

.db-content .db-select {
    background-color: var(--bg);
    border: 1px solid var(--border);
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 60% !important;
    font-size: 10px;
    color: var(--text);
    padding: 2px 5px;
}

.db-select:hover {
    border: 1px solid var(--bg-section-hover);
    background-color: var(--bg-section-hover);
}

.db-content .db-sub {
    background: var(--bg-icon2);
    color: var(--text-white);
    font-weight: normal;
    font-size: 12px;
    width: 40%;
    border: none;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    gap: 5px;
}

.db-sub:hover {
    box-shadow: var(--box-shadow-purple);
}

.db-sub:disabled {
    background: var(--sub-text-grey);
    cursor: not-allowed;
}

/* DUPLICATE SEARCH  */

.duplicate-box-con {
    padding: 0px 10px;
    width: 100%;
}

.duplicate-search {
    width: 100%;
    /* border: 1px solid blue; */
}

.duplicate-search input {
    width: 100%;
    padding: 5px 8px;
    font-size: 12px;
    margin-bottom: 2px;
    color: var(--text);
    background-color: var(--bg);
    border: 1px solid var(--border);
    border-radius: 8px !important;
}

.duplicate-search input:hover {
    border: 1px solid var(--border);
}

.duplicate-search input:focus {
    border: 1px solid var(--border);
    box-shadow: var(--box-shadow);
    outline: none;
}

.db-list {
    list-style: none;
    margin: 0;
    font-size: 10px;
    width: 100%;
    max-height: 100px;
    overflow-y: auto;
    border: 1px solid var(--border);
    border-radius: 4px;
    background: var(--bg);
}

.db-item {
    padding: 10px;
    cursor: pointer;
    transition: background 0.2s;
    border-radius: 4px;
    color: var(--text);
}

.db-item:hover {
    background-color: var(--bg-section-hover);
}

.db-item.selected {
    background: var(--bg-icon2);
    color: var(--text-white);
}

/* NO WORKSPACE FOUND  */
.db-no {
    padding: 5px;
    border-radius: 4px;
    color: red;
    display: flex;
    align-items: center;
    justify-content: center;
}


@media screen and (max-height: 600px) {
    .db-header {
        padding: 8px;
    }

    .db-header p {
        font-size: 10px;
    }

    .dbh-icon {
        font-size: 15px;
    }

    /* BODY  */
    .db-content {
        /* border: 1px solid red; */
        padding: 5px;
    }

    .db-content .db-select {
        font-size: 9px;
        /* border: 1px solid green; */
        padding: 5px;
    }

    .db-content .db-sub {
        padding: 5px;
        font-size: 9px;
    }

    /* DROPDOWN  */
    .duplicate-box-con {
        /* border: 1px solid red; */
        padding: 0px 5px;
    }

    .duplicate-search input {
        font-size: 8px;
    }

    .db-list {
        font-size: 8px;
    }

    .db-item {
        padding: 5px;
    }

}