.duplicate-container{
    background: #fff;
    border: 1px solid #ddd;
    border-radius: 4px;
    padding:  5px 10px;
    width: 100%;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0px;
}
/* .duplicate-container h5{
    margin: 5px 0px;
    font-weight: normal;
    font-size: 10px;
} */
.db-header{
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
    font-weight: bold;
    font-size: 16px;
    padding: 5px 10px;
    border-bottom: 1px solid #ddd;
}
.dbh-icon{
    cursor: pointer;
    font-size: 12px;
    border: 1px solid white;
    border-radius: 4px;
}
.dbh-icon:hover{
    background-color: #f5f5f5;

}
.duplicate-container p{
    font-size: 10px;
    font-weight: bold;
    margin: 0px;
}
.db-content{
    position: relative;
    margin-top: 10px;
    /* border: 1px solid blue; */
    width: 100%;
    display: flex;
    justify-content: space-between;
    gap: 5px;
}
.db-select{
    font-size: 10px;
    width: 60%;
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.db-select:hover{
    border: 1px solid #6E30DC;
  }
.db-content .db-sub{
    background: linear-gradient(to bottom, #6E30DC, #5D12EB);
    color: white;
    font-weight: normal;
    font-size: 12px;
    width: 40%;
    border: 1px solid #6E30DC;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
    gap: 5px;
}
.db-sub:hover{
    box-shadow: 0px 4px 8px #5e12eb46;
}

/* DUPLICATE SEARCH  */
.duplicate-search{
    width: 100%;
    padding: 5px;
    /* border: 1px solid blue; */
}
.duplicate-search input {
    width: 100% ;
    padding: 5px ;
    border: 0.5px solid #ccc;
    border-radius: 4px;
    font-size: 10px;
  }
  .duplicate-search input:hover {
    border: 0.5px solid #6E30DC;
  }
  .duplicate-search input:focus {
    border: 0.5px solid #6E30DC;
    box-shadow: 0px 4px 10px #5e12eb44;
    outline: none;
  }

.db-list {
    list-style: none;
    padding: 0;
    margin: 0;
    font-size: 10px;
    width: 100%;
    max-height: 150px;
    overflow-y: auto;
    border: 1px solid #ddd;
    border-radius: 4px;
    background: #f9f9f9;
}

.db-item {
    padding: 10px;
    cursor: pointer;
    transition: background 0.2s;
    border-radius: 4px;
}

.db-item:hover{
    background-color: #c4adeb44;  
} 

.db-item.selected {
    background: linear-gradient(to bottom, #5D12EB, #6E30DC);
    color: white;
}
