/* Styling untuk kontainer utama */
.create-card-container {
  gap: 10px;
  padding: 5px;
  border: 1px solid var(--border);
  border-radius: 8px;
  width: 100%;
  margin: auto;
  background-color: var(--bg-section);
  box-shadow: var(--box-shadow);
  /* box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2); */
}

/* Styling untuk header */
.cc-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px;
  /* margin-bottom: 15px; */
  border-bottom: 1px solid var(--border) !important;
}

.cc-header .cch-title {
  /* border: 1px solid red; */
  gap: 5px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  color: var(--sub-text) !important;
}

.cch-title .cch-icon {
  /* border: 1px solid white; */
  border-radius: 8px;
  padding: 5px;
  /* background: linear-gradient(90deg, #7246eb, #532189); */
}

.mini-icon {
  font-size: 15px;
  /* color: white; */
}

.cc-header p {
  font-size: 12px;
  font-weight: bold;
  margin: 0px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--sub-text);
}

/* Icon close button */
.cc-icon {
  font-size: 18px;
  cursor: pointer;
  color: var(--sub-text);
}

/* =======================
MAIN CONTENT
======================= */
/* Styling untuk konten utama */
.cc-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 5px;
  /* border: 1px solid violet; */
}

.cc-content .cc-left {
  /* border: 1px solid green; */
  width: 100%;
  gap: 3px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.cc-select-box {
  /* border: 1px solid blue; */
  display: flex;
  flex-direction: column;
  align-items: first baseline;
  justify-content: center;
  width: 100%;
  position: relative;
  margin-bottom: 5px;
}

.cc-select-box label,
.cc-select-list label {
  font-size: 10px;
  font-weight: normal;
  color: var(--sub-text);
  /* margin-bottom: 5px; */
}

.cc-dropdown,
.cc-lists-dropdown {
  /* border: 1px solid red; */
  width: 100%;
}

.cc-dropdown .ccd-btn {
  border: 1px solid var(--border);
  border-radius: 4px;
  background-color: var(--bg-section);
  padding: 5px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  /* width: 13vw; */
  font-size: 10px;
  cursor: pointer;
  color: var(--sub-text);
}

.ccd-btn:hover {
  background-color: var(--bg-section-hover);
  border: 1px solid var(--bg-section-hover);
}

/* =======================
BOARD SEARCH DROPDOWN 
======================= */

.form-create-card {
  border-radius: 6px;
  /* background-color: white; */
  height: 50vh;
  position: absolute;
  z-index: 99;
  top: 100%;
  width: 100%;
  /* padding: 5px; */
}

.form-create-card input {
  /* border: 1px solid #ddd; */
  border: 1px solid var(--border);
  border-radius: 4px;
  background-color: var(--bg-section);
  font-size: 11px;
  padding: 5px;
  width: 100%;
  color: var(--sub-text);
}

.form-create-card input:hover {
  background-color: var(--bg-section-hover);
  border: 1px solid var(--bg-section-hover);
}

.form-create-card input:focus {
  outline: none;
  background-color: var(--bg-section-hover);
  border: 1px solid var(--bg-section-hover);
}

/* =======================
DROPDOWN BOARD
======================= */
.ccd-menu {
  border: 1px solid var(--border);
  border-radius: 4px;
  position: absolute;
  background-color: var(--bg-section);
  margin-top: 0px;
  box-shadow: var(--box-shadow);
  height: 30vh;
  width: 100%;
  overflow-y: auto;
  list-style: none;
  padding: 0px 5px;
  color: var(--sub-text);
}

.ccd-item {
  /* border: 1px solid green; */
  border-radius: 4px;
  padding: 5px;
  font-size: 12px;
  cursor: pointer;
}

.ccd-item:hover {
  background-color: var(--bg-section-hover);
}

/* =======================
LIST SELECT 
======================= */
.cc-select-list {
  /* border: 1px solid violet; */
  display: flex;
  flex-direction: column;
  align-items: first baseline;
  justify-content: center;
  width: 100%;
  color: var(--sub-text);
}

.cc-select-list .cc-lists-dropdown {
  position: relative;
}

.cc-lists-dropdown .cc-lists-btn {
  border: 1px solid var(--border);
  background-color: var(--bg-section);
  padding: 5px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  font-size: 10px;
  color: var(--sub-text);
  /* position: relative; */
}

.cc-lists-btn:hover {
  background-color: var(--bg-section-hover);
  border: 1px solid var(--bg-section-hover);
}

/* =======================
CREATE BUTTON
======================= */

.btn-form-create {
  margin-top: 10px;
  /* border: 1px solid green; */
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.cc-content .cc-sub-btn {
  color: white;
  /* font-weight: bold; */
  border: 1px solid var(--bg-section);
  border-radius: 6px;
  padding: 5px 7px;
  background: var(--primary);
  /* background: linear-gradient(to right, #6a11cb, #2575fc); */
  display: flex;
  font-size: 13px;
  font-weight: normal;
  align-items: center;
  justify-content: center;
  width: 100%;
  cursor: pointer;
}

.cc-content .cc-sub-btn:hover {
  /* background: linear-gradient(to right, #2575fc, #6a11cb); */
  box-shadow: 0px 4px 8px #5e12eb46;
}

.cc-sub-icon {
  margin-left: 5px;
}

/* DROPDOWN BOARD */
.ccl-menu {
  border: 1px solid #5D12EB;
  border-radius: 4px;
  position: absolute;
  background-color: white;
  margin-top: 0px;
  box-shadow: 0px 4px 8px #6f30dc54;
  height: 30vh;
  width: 200px;
  overflow-y: auto;
  list-style: none;
  padding: 0px 5px;
}

.ccl-item {
  /* border: 1px solid green; */
  border-radius: 4px;
  padding: 5px;
  font-size: 12px;
}

.ccl-item:hover {
  background-color: #ede6fb;
  color: #5D12EB;
}



/* INPUT SEARCH  */
.cc-search-input {
  width: 100%;
  padding: 8px 12px;
  margin-bottom: 8px;
  border: 1px solid #ccc;
  border-radius: 8px;
  font-size: 14px;
  outline: none;
  transition: border-color 0.2s ease;
}

.cc-search-input:focus {
  border-color: #007bff;
}

/* =======================
DROPDOWN SEARCH  LIST 
======================= */
.form-list-dropdown {
  /* border: 1px solid red; */
  border-radius: 6px;
  height: 50vh;
  position: absolute;
  z-index: 99;
  top: 100%;
  width: 100%;
}

.form-list-dropdown input {
  /* border: 1px solid #ddd; */
  border: 1px solid var(--border);
  border-radius: 4px;
  background-color: var(--bg-section);
  font-size: 11px;
  padding: 5px;
  width: 100%;
  color: var(--sub-text);
}

.form-list-dropdown input:hover {
  background-color: var(--bg-section-hover);
  border: 1px solid var(--bg-section-hover);
}

.form-list-dropdown input:focus {
  outline: none;
  background-color: var(--bg-section-hover);
  border: 1px solid var(--bg-section-hover);
}

.form-list-dropdown .ccl-menu {
  border: 1px solid var(--border);
  /* border: 1px solid orange; */
  border-radius: 4px;
  position: absolute;
  background-color: var(--bg-section);
  margin-top: 0px;
  box-shadow: var(--box-shadow);
  height: 30vh;
  width: 100%;
  /* width: 200px; */
  overflow-y: auto;
  list-style: none;
  padding: 5px;
}

.form-list-dropdown .ccl-item {
  border: 1px solid var(--bg-section);
  background: var(--bg-section);
  color: var(--sub-text);
  border-radius: 4px;
  padding: 5px;
  font-size: 12px;
}

.form-list-dropdown .ccl-item:hover {
  background-color: var(--bg-section-hover);
  border: 1px solid var(--bg-section-hover);
}

/* MEDIA QUERY  */

/* Medium devices (tablets, ≥768px) */
@media (min-width: 768px) and (max-width: 991.98px) {
  .create-card-container {
    width: 50vw;
  }

  .cc-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* border: 1px solid red; */
  }

  .cc-content .cc-left {
    width: 100%;
    gap: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .btn-form-create {
    width: 100%;
    margin-top: 5px;
  }

  .form-create-card {
    /* border: 1px solid green; */
    width: 100%;
  }
}

/* ukuran handpone besar */
@media (min-width: 576px) and (max-width: 767.98px) {
  .create-card-container {
    width: 60vw;
  }

  .cc-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* border: 1px solid red; */
  }

  .cc-content .cc-left {
    width: 100%;
    gap: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .btn-form-create {
    width: 100%;
    margin-top: 5px;
  }

  .form-create-card {
    /* border: 1px solid green; */
    width: 100%;
  }
}

/* ukuran handpone kecil */
@media (min-width:375px) and (max-width:575px) {
  .create-card-container {
    width: 80vw;
  }

  .cc-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* border: 1px solid red; */
  }

  .cc-content .cc-left {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .btn-form-create {
    width: 100%;
    margin-top: 5px;
  }

  .form-create-card {
    /* border: 1px solid green; */
    width: 100%;
  }
}

@media screen and (max-height: 600px) {}