.move-container {
  background: var(--bg-section);
  /* border: 1px solid var(--bg-section); */
  /* border: 1px solid #c5cad2; */
  border-radius: 8px;
  padding-bottom: 10px;
  width: 100%;
  box-shadow: var(--box-shadow);
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0px;
}

.move-header {
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
  font-weight: bold;
  font-size: 16px;
  padding: 5px 10px;
  /* padding-bottom: 10px; */
  /* border-bottom: 1px solid #ddd; */
  border-radius: 8px;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
  background-color: var(--primary);
  /* color: white; */
  /* margin-bottom: 10px; */
}

.move-header p {
  font-size: 12px;
  font-weight: bold;
  margin: 0px;
  color: var(--text-white);
}

.move-icon {
  cursor: pointer;
  font-size: 20px;
  color: var(--text-white);
}

.move-content {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin: 5px 0px;
  padding: 5px 10px;
  gap: 5px;
  /* margin-bottom: 5px; */
  /* border: 1px solid yellow; */
}

.mb-icon {
  margin-right: 5px;
}

.select-btn {
  background-color: var(--bg);
  border: 1px solid var(--border);
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 60% !important;
  font-size: 10px;
  color: var(--text);
  padding: 2px 5px;
}

.select-btn:hover {
  border: 1px solid var(--bg-section-hover);
  background-color: var(--bg-section-hover);
}

.move-btn {
  background: var(--bg-icon2);
  color: var(--text-white);
  font-weight: bold;
  border: none;
  padding: 5px;
  border-radius: 4px;
  cursor: pointer;
  font-size: 12px;
  width: 40% !important;
  display: flex;
  align-items: center;
  justify-content: center;
}

.move-btn:hover {
  box-shadow: var(--box-shadow-purple);
}

.move-btn:disabled {
  background: var(--sub-text-grey);
  cursor: not-allowed;
}

.move-content-box {
  /* border: 1px solid red; */
  padding: 0px 10px;
  width: 100%;
}

.move-content-box .move-search {
  width: 100%;
  /* padding: 5px; */
}

.move-search input {
  width: 100%;
  padding: 5px 8px;
  font-size: 12px;
  margin-bottom: 2px;
  color: var(--text);
  background-color: var(--bg);
  border: 1px solid var(--border);
  border-radius: 8px !important;
}

.move-search input:hover {
  border: 1px solid var(--border);
}

.move-search input:focus {
  border: 1px solid var(--border);
  box-shadow: var(--box-shadow);
  outline: none;

}

.workspace-list-container {
  list-style: none;
  padding: 0;
  margin: 0;
  font-size: 10px;
  width: 100%;
  max-height: 100px;
  overflow-y: auto;
  border: 1px solid var(--border);
  border-radius: 4px;
  background: var(--bg);
}

.workspace-list-item {
  padding: 10px;
  cursor: pointer;
  transition: background 0.2s;
  border-radius: 4px;
  color: var(--text);
  /* border: 1px solid green; */
}

.workspace-list-item:hover {
  background-color: var(--bg-section-hover);
}

.workspace-list-item.selected {
  /* background: #0079bf; */
  background: var(--bg-icon2);
  color: var(--text-white);
}

/* NO WORKSPACE FOUND  */
.wlc-no {
  padding: 5px;
  border-radius: 4px;
  color: red;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* MEDIA QUERY  */
@media screen and (max-height: 600px) {
  .move-header {
    padding: 8px;
  }

  .move-header p {
    font-size: 10px;
  }

  .move-icon {
    font-size: 15px;
  }

  /* BODY  */
  .move-content {
    /* border: 1px solid blue; */
    padding: 0px 5px;

  }

  .select-btn {
    font-size: 9px;
  }

  .move-btn {
    font-size: 9px;
  }

  /* DROPDOWN AND SEACRH  */
  .move-content-box {
    /* border: 1px solid red; */
    padding: 0px 5px;
  }

  .move-search input {
    font-size: 8px;
  }

  .workspace-list-container {
    font-size: 8px;
  }

  .workspace-list-item {
    padding: 5px;
  }
}