/* background: linear-gradient(to bottom, #6E30DC, #5D12EB); */

.mc-container {
  border: 1px solid var(--border);
  border-radius: 8px;
  padding: 0px;
  padding-bottom: 10px;
  box-shadow: var(--card-shadow);
  background-color: var(--bg-section);
  width: 100%;
  /* min-width: 230px; */
}

.mc-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  border-bottom: 1px solid var(--border) !important;
  padding: 5px 10px;
  gap: 5px;
  color: var(--text);
  background-color: var(--primary);
}

.mc-header .mc-left {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 5px;
  color: var(--text);
}

.mc-left .left-icon {
  background: var(--bg-icon2);
  color: var(--text-white);
  padding: 3px;
  border-radius: 6px;
}

.left-icon .mini-icon {
  font-size: 12px;
}

.mc-header p {
  margin: 0px;
  font-size: 12px;
  font-weight: bold;
  color: var(--text-white);
}

.mc-icon {
  cursor: pointer;
  color: var(--text-white);
  border-radius: 4px;
}

.mc-icon:hover {
  border: 1px solid var(--bg-section-hover);
  color: var(--sub-text-grey);
  background-color: var(--bg-section-hover);
}

/* =======================
MOVE CARD BODY
======================= */

.mc-container .mc-body {
  padding: 5px;
}

.mc-board {
  /* border: 1px solid grey; */
  height: 100%;
  width: 100%;
  padding: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.mc-board label {
  margin: 0px;
  font-size: 10px;
  font-weight: bold;
  width: 100%;
  color: var(--text);
  /* border: 1px solid red; */
}

.mcb-dropdown {
  width: 100%;
  padding: 0px;
  position: relative;
}

.mcb-dropdown .mcb-button {
  border-radius: 6px;
  border: 1px solid var(--border);
  background-color: var(--bg-section) !important;
  color: var(--text);
  padding: 5px 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  font-size: 10px;
  /* font-weight: bold; */
  margin: 0px;
}

.mcb-dropdown .mcb-button:hover {
  border: 1px solid var(--border);
  background-color: var(--bg-section-hover) !important;
}

/* =======================
 SEARCH FITURE 
======================= */

.mcb-menu-wrapper {
  background-color: var(--bg-section) !important;
  /* border: 1px solid blue; */
  width: 100%;
  margin: 0px;
}

.mcb-menu-wrapper .dropdown-search-input {
  width: 100%;
  padding: 5px;
  margin-bottom: 2px;
  border: 1px solid var(--border) !important;
  background-color: var(--bg-section) !important;
  border-radius: 6px;
  font-size: 10px;
  color: var(--text);
  font-weight: normal;
}

.dropdown-search-input:hover {
  border: 1px solid var(--border) !important;
  background-color: var(--bg-section-hover) !important;
}

.dropdown-search-input:focus {
  outline: none;
  background-color: var(--bg-section-hover);
  border: 1px solid var(--card-hover-border);
}

/* =======================
DROPDOWN BOARD
======================= */

.mcb-menu-wrapper .mcb-menu {
  border: 1px solid var(--border);
  border-radius: 4px;
  position: absolute;
  background-color: var(--bg-section);
  margin-top: 0px;
  box-shadow: var(--card-shadow);
  height: 8vh;
  width: 100%;
  overflow-y: auto;
  list-style: none;
  padding: 5px;
  font-size: 10px;
  z-index: 100;
}

.move-card-item {
  border: 1px solid var(--bg-section);
  border-radius: 4px;
  padding: 5px;
  color: var(--text) !important;
  background-color: var(--bg-section);
}

.move-card-item:hover {
  background-color: var(--bg-section-hover) !important;
}

/* =======================
SELECT LIST
======================= */

.mc-select-list {
  height: 100%;
  width: 100%;
  padding: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* margin-top: 5px; */
  /* border: 1px solid blue; */
}

/* =======================
LIST LABEL
======================= */
.mc-select-list label {
  margin: 0px;
  width: 100%;
  font-size: 10px;
  font-weight: bold;
  color: var(--text);
}


.mc-list-dropdown {
  width: 100%;
  padding: 0px;
  position: relative;
}


.mc-list-dropdown .move-card-list-btn {
  border: 1px solid var(--border);
  border-radius: 6px;
  background-color: var(--bg-section);
  color: var(--text);
  padding: 5px 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  font-size: 10px;
  /* font-weight: bold; */
  margin: 0px !important;
}

.mc-list-dropdown .move-card-list-btn:hover {
  border: 1px solid var(--border);
  background-color: var(--bg-section-hover);
}

/* =======================
DROPDOWN LIST
======================= */

.mcl-menu-wrapper {
  background-color: var(--bg-section) !important;
  /* border: 1px solid blue; */
  width: 100%;
  margin: 0px;
}

.mcl-menu-wrapper .move-card-search-input {
  width: 100%;
  padding: 5px;
  margin-bottom: 2px;
  border: 1px solid var(--border) !important;
  background-color: var(--bg-section) !important;
  border-radius: 6px;
  font-size: 10px;
  color: var(--text);
  font-weight: normal;
}

.mcl-menu-wrapper .move-card-search-input:hover {
  border: 1px solid var(--border) !important;
  background-color: var(--bg-section-hover) !important;

}

.mcl-menu-wrapper .move-card-search-input:focus {
  outline: none;
  background-color: var(--bg-section-hover) !important;
  border: 1px solid var(--card-hover-border);
}

/* =======================
DROPDOWN LIST
======================= */

.move-card-menu {
  border: 1px solid var(--border);
  border-radius: 4px;
  position: absolute;
  background-color: var(--bg-section);
  margin-top: 0px;
  box-shadow: var(--box-shadow);
  height: 20vh;
  width: 95%;
  overflow-y: auto;
  list-style: none;
  padding: 5px;
  font-size: 10px;
  z-index: 100;
}

.move-card-list-item {
  /* border: 1px solid green; */
  border-radius: 4px;
  padding: 5px;
  color: var(--text);
}

.move-card-list-item:hover {
  background-color: var(--bg-section-hover);
}

/* =======================
BUTTON MOVE
======================= */
.move-card-button {
  /* border: 1px solid green; */
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px;
  width: 100%;
}

.move-card-button .mcl-move-btn {
  color: var(--text-white);
  font-weight: bold;
  font-size: 10px !important;
  border: 1px solid var(--bg-section);
  border-radius: 8px;
  background: var(--bg-icon2);
  display: flex;
  width: 100%;
  gap: 5px;
  align-items: center;
  justify-content: center;
  padding: 5px !important;
  cursor: pointer;
  /* margin-top: 5px; */
}

.move-card-button .mcl-move-btn:hover {
  box-shadow: 0px 4px 8px #6f30dc54;
  background: var(--bg-icon2);
}


/* =======================
 SELECT POSITION 
======================= */
/**/
.move-card-position {
  /* border: 1px solid red; */
  display: flex;
  /* flex-direction: column; */
  align-items: center;
  justify-content: center;
}

.move-card-position label {
  margin: 0px;
  width: 100%;
  font-size: 10px;
  font-weight: bold;
  color: var(--text);
}

.mc-position-input {
  width: 100%;
  padding: 5px;
  margin-bottom: 2px;
  border: 1px solid var(--border);
  border-radius: 8px;
  font-size: 10px;
  color: var(--text);
  font-weight: normal;
  background-color: var(--bg-section);
}

.mc-position-input:hover {
  background-color: var(--bg-section-hover);
}

.mc-position-input:focus {
  outline: none;
  background-color: var(--bg-section-hover);
  border: 1px solid var(--card-hover-border);
}



/* MEDIA QUERY  */
@media screen and (max-height: 600px) {
  .mc-board label {
    font-weight: normal !important;
    font-size: 8px !important;
  }

  .mcb-dropdown .mcb-btn {
    font-size: 8px !important;
  }

  .mcb-menu-wrapper .mcb-search-input {
    font-size: 8px !important;
  }

  .mc-select-list label {
    font-size: 8px !important;
    font-weight: normal !important;
  }
}