.roomchat-container{
    border: 1px solid #ddd;
    background-color: #e9e2f3;
    border-radius: 8px;
    height: 100%;
}
.roomchat-container .chat-header{
    border-bottom: 1px solid #ddd;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.chat-header h4{
    font-weight: bold;;
}

/* BODY  */
.roomchat-container .chat-container{
    border: 1px solid blue;
    padding: 5px 10px;
}


/* RENDER CHAT  */
.rc-container{
    display: flex;
    border: 1px solid blue; 
    margin-bottom: 5px;
    width: 100%
}