.recent-container{
    border: 1px solid #ddd;
    height: 90vh;
    margin: 15px;
    background-color: white;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    color: #333;
}
.recent-header{
    border-bottom: 1px solid #ddd;
    padding: 11px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.nav{
    /* border: 1px solid red; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #333;
    cursor: pointer;
}
.nav button{
    padding: 7px;
    border: 1px solid white;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 15px;
    cursor: pointer;
}
.nav button:hover{
    background-color: #eee;
    border-radius: 4px;
}
.nav-icon{
    margin-right: 5px;
    color: #333;
    cursor: pointer;
}
.recent-header .recent-action{
    /* border: 1px solid red; */
    display: flex;
    padding: 2px;
    align-items: center;
    justify-content: flex-end;
    margin-right: 10px;
}
.recent-icon{
    border: 1px solid white;
    margin-left: 5px;
    padding: 5px;
    border-radius: 8px;
    color: #333;
    background-color: #fff;
    transition: color 0.3s ease-in-out;
    cursor: pointer;
}
.recent-icon:hover{
    background-color: #eee;
    border: 1px solid #eee;
}

/* BODY  */
.recent-body{
   /* border: 1px solid red; */
   margin: 30px;
   padding: 0px 30px;
}