.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

/* Pastikan semua DragOverlay gak menghalangi klik elemen lain */
.dnd-kit-overlay,
[data-dnd-kit-drag-overlay],
.dnd-kit-drag-overlay {
  pointer-events: none !important;
  z-index: 9999 !important;
  /* tetap di atas tapi gak blok klik */
}

#dnd-overlay-root {
  pointer-events: none !important;
}

#dnd-overlay-root * {
  pointer-events: none !important;
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}