
/* MEDIA QUERY  */
/* Extra large devices (large desktops, ≥1200px) */
@media (min-width: 1200px) and (max-width:1400px) and (min-height:700px) and (max-height:900px) {
  .wf-create{
     width:20%;
  }
}

/* Large devices (desktops, ≥992px) */
@media (min-width: 992px) and (max-width: 1199.98px) and (min-height:600px) and (max-height:800px) {
  /* button header  */
    .mdh-right{
        /* border: 1px solid red; */
        width: 50%;
        gap: 5px;
    }
    .mdhr-btn{
        justify-content: flex-end;
    }
    .mdhr-btn button{
        font-size: 10px;
        padding: 5px 8px;
    }

    /* FILTER CONTAINER  */
    .ft-cont{
        /* border: 1px solid blue; */
        width: 35vw;
        top: 6%;
    }

/* TABEL HEADER  */
.action-container
{
    width: 100%;
    min-width: 18vw;
    max-width: 18vw;
}

/* FORM ADD DATA  */
.md-content{
    width: 60%;
}

/* VIEW DETAIL DATA  */
.detail-data-design .detail-cont{
    width: 65vw;
}

/* FORM EDIT DATA  */
.edit-data-design .edit-cont{
    width: 70vw;
}

}

/* Medium devices (tablets, ≥768px) */
@media (min-width: 768px) and (max-width: 991.98px) and (min-height:500px) and (max-height:700px) {
  /* button header  */
    .mdh-right{
        /* border: 1px solid red; */
        width:100%;
        /* gap: 5px; */
    }
    .mdhr-btn{
        justify-content: flex-end;
        /* border: 1px solid red; */
        /* gap: 2px; */
    }
    .mdhr-btn button{
        font-size: 10px;
        padding: 5px;
        margin-left: 0px;
    }

    /* TABEL HEADER  */
    .acc-container,
    .code-order-container,
    .jumlah-container,
    .order-number-container,
    .account-container,
    .deadline-container,
    .jumlah-revisi-container,
    .order-type-container,
    .offer-type-container
    {
        width: 100%;
        min-width: 15vw;
        max-width: 15vw;
    }

    .input-container,
    .buyer-name-container,
    .status-container,
    .price-normal-container,
    .price-discount-container,
    .discount_percentage-container
    {
        width: 100%;
        min-width: 20vw;
        max-width: 20vw;
    }

    .project-type-container,
    .resolution-container,
    .style-container,
    .action-container
    {
        width: 100%;
        min-width: 23vw;
        max-width: 23vw;
    }

     .data-accept-design{
        height: 70vh;
    }

    /* FILTER CONTAINER  */
    .ft-cont{
        width: 38vw;
        top: 8%;
    }

    /* DROPDOWN SHOW DATA  */
    .sd-cont{
        top: 8%;
        padding: 2px;
    }

    /* FORM ADD DATA  */
    .md-content{
        width: 65%;
    }

    /* VIEW DETAIL DATA  */
    .detail-data-design .detail-cont{
        width: 80vw;
    }

    /* FORM EDIT DATA  */
    .edit-data-design .edit-cont{
        width: 80vw;
    }

}

/* ukuran handpone besar */
@media (min-width: 576px) and (max-width: 767.98px) and (min-height:400px) and (max-height:700px) {
   /* button header  */
    .mdh-right{
        /* border: 1px solid red; */
        width:100%;
        /* gap: 5px; */
    }
    .mdhr-btn{
        justify-content: flex-end;
        /* border: 1px solid red; */
        /* gap: 2px; */
    }
    .mdhr-btn button{
        font-size: 9px;
        padding: 5px;
        margin-left: 0px;
    }

        /* TABEL HEADER  */
    .acc-container,
    .code-order-container,
    .jumlah-container,
    .order-number-container,
    .account-container,
    .deadline-container,
    .jumlah-revisi-container,
    .order-type-container,
    .offer-type-container
    {
        width: 100%;
        min-width: 15vw;
        max-width: 15vw;
    }

    .input-container,
    .buyer-name-container,
    .status-container,
    .price-normal-container,
    .price-discount-container,
    .discount_percentage-container
    {
        width: 100%;
        min-width: 20vw;
        max-width: 20vw;
    }

    .project-type-container,
    .resolution-container,
    .style-container,
    .action-container
    {
        width: 100%;
        min-width: 30vw;
        max-width: 30vw;
    }
    .data-accept-design{
        height: 70vh;
    }

    /* FILTER CONTAINER  */
    .ft-cont{
        width: 55vw;
        top: 8%;
    }

    /* DROPDOWN SHOW DATA  */
    .sd-cont{
        top: 8%;
        padding: 2px;
    }

    /* FORM ADD DATA  */
    .md-content{
        width: 80%;
    }

     /* VIEW DETAIL DATA  */
    .detail-data-design .detail-cont{
        width: 90vw;
    }
    /* FORM EDIT DATA  */
    .edit-data-design .edit-cont{
        width: 90vw;
    }

}

/* ukuran handpone kecil */
@media (min-width:375px) and (max-width:575px) and (min-height:300px) and (max-height:600px) {
/* @media (min-width:375px) and (max-width:575px)  { */
  .md-header{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .mdh-left{
    width: 100%;
  }

  .mdh-des{
    display: none;
  }

  .mdh-right{
    width: 100%;
  }
  .mdhr-btn{
    /* border: 1px solid red; */
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 5px;
  }
  .mdhr-btn button{
        font-size: 12px;
        padding: 5px 7px;
        margin-left: 0px;
    }

    /* SEARCH CONTENT  */
    .mdh-search-container{
        justify-content: center;
    }
    .mdh-search{
        width: 90%;
    }
    .mdh-search input{
        width: 100%;
    }

    .data-accept-design{
        height: 70vh;
    }

    /* TABEL HEADER  */
    .acc-container,
    .code-order-container,
    .jumlah-container,
    .order-number-container,
    .account-container,
    .deadline-container,
    .jumlah-revisi-container,
    .order-type-container,
    .offer-type-container
    {
        width: 100%;
        min-width: 30vw;
        max-width: 30vw;
    }

    .input-container,
    .buyer-name-container,
    .price-normal-container,
    .price-discount-container,
    .discount_percentage-container
    {
        width: 100%;
        min-width: 38vw;
        max-width: 38vw;
    }

    .project-type-container,
    .resolution-container,
    .style-container,
    .status-container
    /* .action-container */
    {
        width: 100%;
        min-width: 43vw;
        max-width: 43vw;
    }

    .action-container
    {
        width: 100%;
        min-width: 50vw;
        max-width: 50vw;
    }

    /* FILTER CONTAINER  */
    .ft-cont{
        width: 90%;
        top: 11%;
        right: 5%;
    }

    /* DROPDOWN SHOW DATA  */
    .sd-cont{
        top: 12%;
        right: 10%;
        padding: 2px;
    }

    /* FORM ADD DATA  */
    .md-content{
        width: 100%;
    }

    /* VIEW DETAIL DATA  */
    .detail-data-design .detail-cont{
        width: 98%;
    }
    /* FORM EDIT DATA  */
    .edit-data-design .edit-cont{
        width: 95vw;
    }

}