.add-container{
    /* border: 1px solid red; */
    border-radius: 4px;
    padding: 5px;
    width: 95%;
    /* box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1); */
}

.ac-header{
    border-bottom: 1px solid #ddd;
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
}
.ac-header h4{
    margin: 0px;
    padding: 5px;
}
.ac-icon{
    cursor: pointer;
    border: 1px solid white;
    padding: 3px;
    border-radius: 4px;
}
.ac-icon:hover{
    border: 1px solid #eee;
    background-color: #eee;
}

/* .ac-form{
    border: 1px solid green;
} */
.info-pribadi,
.info-kepegawaian,
.info-jadwal
{
    /* border: 1px solid violet; */
    margin: 5px 0px;
    padding: 5px;
}
.info-pribadi p,
.info-kepegawaian p,
.info-jadwal p
{
    margin: 0px;
    color: #777;
    font-size: 12px;
    font-weight: bold;
    margin-bottom: 5px;
}
.ac-content{
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
.ac-box {
    display: flex;
    flex-direction: column;
    gap: 5px; /* Jarak antara label dan input */
    margin-bottom: 10px; /* Jarak antar form fields */
    margin-right: 10px;
}
.ac-box label{
    font-size: 10px;
    /* font-weight: bold; */
    /* margin-bottom: 5px; */
    color: #777;
}
.ac-box input{
    border: 0.5px solid #ddd;
    border-radius: 4px;
    padding: 5px;
    /* margin-left: 5px; */
}
.ac-box input:hover{
    background-color: #5e12eb1a;
}
.ac-box input:focus{
    border: 1px solid #6E30DC;
    outline: none;
}
