.akses-container {
    /* border: 1px solid grey; */
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    width: 100%;
    height: 100%;
    padding: 10px;
    box-sizing: border-box;
}

.akses-box {
    background-color: white;
    border: 1px dashed #826a9c;
    border-radius: 8px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

.akses-box:hover {
    border: 1px solid #6a11cb;
    box-shadow: 0px 4px 8px #6b11cb40;
}

.akses-box h4 {
    font-size: 10px;
    color: #28054d;
    /* border: 1px solid grey; */
    text-align: center;
    font-weight: normal;
}

.akses-icon {
    /* border: 1px solid #6b11cb0e; */
    border-radius: 8px;
    color: #6a11cb;
    font-size: 15px;
    padding: 10px;
    /* background-color: white; */
    /* background: linear-gradient(90deg, #6a11cb, #ba81f7); */
    /* box-shadow: 0px 4px 8px #6b11cb40; */
}



/* MEDIA QUERY  */
/* Large devices (desktops, ≥992px) */
@media (min-width: 1401px) {
    .akses-icon {
        font-size: 30px;
        padding: 12px;
    }
}

@media (min-width: 992px) and (max-width: 1400x) {
    .akses-icon {
        font-size: 30px;
        padding: 10px;
    }
}

/* Medium devices (tablets, ≥768px) */
@media (min-width: 768px) and (max-width: 991.98px) {
    .akses-container {
        gap: 5px;
    }

    .akses-box {
        padding: 5px;
    }

    .akses-icon {
        font-size: 20px;
        padding: 12px;
    }
}

/* ukuran handpone besar  */
@media (min-width: 576px) and (max-width: 767.98px) {
    .akses-icon {
        font-size: 25px;
        padding: 12px;
    }
}

/* ukuran handpone kecil  */
@media (min-width:375px) and (max-width:575px) {
    .akses-icon {
        font-size: 22px;
        /* padding: 12px; */
    }
}

@media screen and (max-height: 600px) {
    .akses-container {
        /* border: 1px solid red; */
        gap: 5px;
    }
}