.bp-container{
    /* border: 1px solid grey; */
    position: relative;
    min-width: 250px;
    width: 100%;
}
.bp-select{
    /* border: 1px solid red; */
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.bp-select .box-add{
    border: 1px solid #eee;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    cursor: pointer;
    font-size: 12px;
}
.box-add:hover{
    border: 1px solid #eee;
    background-color: #eee;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3);
}
.box-add .ba-icon{
    margin-right: 5px;
}
.bps-box{
    /* border: 1px solid blue; */
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.bps-box button{
    color: White;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    font-size: 10px;
    /* padding: 5px; */
}
.bps-lamp{
    margin-right: 5px;
}
.bps-icon{
    margin-left: 5px;
    cursor: pointer;
    border: 1px solid white;
    border-radius: 4px;
    /* padding: 3px; */
    font-size: 20px;
}
.bps-icon:hover{
    border: 1px solid #ddd;
    background-color: #ddd;
}
.sbp-container{
    position: absolute;
    top: 90%;
    /* left: 0; */
    right: 0;
    margin: 0;
    padding: 8px 0px;
    list-style: none;
    border: 1px solid #ddd;
    border-radius: 6px;
    background-color: #fff;
    z-index: 99;
    width: 50%;
    min-width: 150px;
    box-shadow: 0px 4px 8px #5e12eb46;
}

.sbp-icon{
    margin-right: 5px;
}
.sbp-header{
    border-bottom: 1px solid #eee;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px;
    padding-top: 0px;
}
.sbp-header h4{
    margin: 0px;
    font-size: 12px;
}
.sbp-close{
    border: 1px solid white;
    padding: 2px;
    cursor: pointer;
    border-radius: 4px;
}
.sbp-close:hover{
    border: 1px solid #ddd;
    background-color: #ddd;
}