.cfoot-container {
    border-top: 1px solid var(--border);
    margin: 2px 0px;
    padding-top: 2px !important;
    padding: 0px 5px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    font-size: 10px;
}

.cfoot-container button {
    border: 1px solid var(--card-bg);
    background-color: var(--card-bg);
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 2px;
    padding: 1px;
    font-size: 10px;
    color: var(--sub-text);
    cursor: pointer;
}

.cfoot-container button:hover {
    background-color: var(--bg-section-hover);
    border: 1px solid var(--bg-section-hover);
}