.cf-container {
    border: 1px solid var(--border);
    border-radius: 8px;
    background-color: var(--bg);
    box-shadow: var(--box-shadow);
}

.cf-header {
    padding: 7px 10px;
    border-bottom: 1px solid var(--border);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.cfh-left {
    gap: 5px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.cfh-icon {
    border-radius: 8px;
    border: 1px solid var(--bg);
    background: var(--bg-icon2);
    color: var(--text-white);
    padding: 3px;
}

.cfh-left h5 {
    margin: 0px;
    font-size: 12px;
    font-weight: bold;
    color: var(--text);
}

.cfh-right {
    border: 1px solid var(--bg);
    padding: 1px;
    border-radius: 4px;
    cursor: pointer;
    color: var(--text);
}

.cfh-right:hover {
    border: 1px solid var(--bg-section-hover);
    background-color: var(--bg-section-hover);
}


.create-card-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 5px;
    /* border: 1px solid red; */
}

.create-card-form .title-card,
.create-card-form .desc {
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    justify-content: flex-start;
    /* border: 1px solid green; */
    margin: 5px 0px;
    width: 90%;
    font-size: 12px;
}

.title-card label,
.desc label {
    font-size: 12px;
    margin-bottom: 2px;
    color: var(--sub-text);
    font-weight: normal;
}

.title-card input,
.desc textarea {
    padding: 5px;
    border: 1px solid var(--border);
    border-radius: 8px;
    outline: none;
    color: var(--sub-text);
    background-color: var(--input-bg-hover);
}

.title-card input:hover,
.desc textarea:hover {
    padding: 5px;
    border: 1px solid var(--input-bg-hover);
    border-radius: 8px;
    outline: none;
    background: var(--input-bg-hover);
}

.title-card input:focus,
.desc textarea:focus {
    background: var(--input-bg-hover);
    border: 1px solid var(--input-bg-hover);
}

.btn-btn {
    /* border: 1px solid grey; */
    width: 90%;
    /* padding: 0px 5px; */
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.btn-btn button {
    background: var(--bg-icon2);
    border: 1px solid transparent !important;
    border-radius: 8px !important;
    color: var(--text-white);
    font-weight: normal;
    font-size: 12px;
    padding: 3px 10px !important;
    gap: 5px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.btn-btn button:hover {
    box-shadow: var(--box-shadow-purple);
}


.create-card-form button {
    padding: 5px;
    background-color: #9b2fad;
    border: 1px solid #491553;
    border-radius: 4px;
    color: white;
    cursor: pointer;
}

.create-card-form button:hover {
    background-color: #491553;
    border: 1px solid #491553;

}

/* MEDIA QUERY */
@media screen and (max-height: 600px) {
    .cf-header {}

    .cfh-icon {
        border-radius: 8px;
        border: 1px solid #7e3ec2;
        background-color: #7e3ec2;
        color: white;
        padding: 3px;
    }

    .cfh-icon .icon-icon {
        font-size: 10px;
    }

    .cfh-left h5 {
        font-size: 10px;
    }

    .close-right {
        font-size: 12px;
    }

    /* MAIN FORM  */
    .title label,
    .desc label {
        font-size: 10px;
        /* font-weight: bold; */
    }

    .title input,
    .desc textarea {
        padding: 3px 5px;
        font-size: 10px;
    }

    .title input:hover,
    .desc textarea:hover {

        padding: 3px 5px;
        font-size: 10px;
    }


    /* BUTTON  */
    .btn-btn button {
        font-size: 10px;
    }

}