.cf-container{
    border: 1px solid #ddd;
    border-radius: 8px;
    background-color: white;
    box-shadow: 0px 4px 8px #5e12eb46;
}
.cf-header{
    padding:5px 10px;
    border-bottom: 1px solid #ddd;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.cfh-left{
    /* border: 1px solid yellow; */
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
.cfh-icon{
    margin-right: 5px;
}
.cfh-left h5{
    margin: 0px;
    font-size: 12px;
    font-weight: bold;
}
.cfh-right{
    border: 1px solid white;
    padding: 1px;
    border-radius: 4px;
    cursor: pointer;
}
.cfh-right:hover{
    border: 1px solid #eee;
    background-color: #eee;
}
.create-card-form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 5px;
    /* border: 1px solid red; */
}
.create-card-form .title,
.create-card-form .desc
{
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    justify-content: flex-start;
    /* border: 1px solid green; */
    margin: 5px 0px;
    width: 90%;
    font-size: 12px;
}

.title label,
.desc label{
    font-size: 12px;
    margin-bottom: 2px;
    color: #333;
    font-weight: normal;
}
.title input,
.desc textarea
{
    padding: 5px;
    border: 1px solid #ddd;
    border-radius: 4px;
    outline: none;
    background-color: white;
}
.title input:hover,
.desc textarea:hover
{
    padding: 5px;
    border: 1px solid #ddd;
    border-radius: 4px;
    outline: none;
    background: linear-gradient(to right, #6b11cb41, #2574fc41);
}
.title input:focus,
.desc textarea:focus
{
    border: 1px solid #9b2fad;
    background-color: white;
}
.cc-sub-btn{
    /* border: 1px solid grey; */
    width: 90%;
    /* padding: 0px 5px; */
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
.cc-sub-btn button{
    background: linear-gradient(to right, #6a11cb, #2575fc);
    border: 1px solid #6a11cb !important;
    color: white;
    font-weight: normal;
    font-size: 12px;
    gap: 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.cc-sub-btn button:hover{
    background: linear-gradient(to right, #2575fc, #6a11cb);
}


.create-card-form button{
    padding: 5px;
    background-color: #9b2fad;
    border: 1px solid #491553;
    border-radius: 4px;
    color: white;
    cursor: pointer;
}
.create-card-form button:hover{
    background-color: #491553;
    border: 1px solid #491553;

}