.due-container{
    /* border: 1px solid red !important; */
    width: 22vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding: 5px;
}
.due-header{
    /* border: 1px solid grey; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin: 2px 0px;
    padding: 5px;
    font-size: 12px;
    font-weight: bold;
    color: #333;
}
.due-header h5{
    margin: 0px;
    color: #5e5e5e;
    font-size: 10px;
}
.dh-icon{
    border: 0.5px solid white;
    border-radius: 4px;
    color: #333;
    font-size: 15px;
}
.dh-icon:hover{
    border: 0.5px solid #ddd;
    background-color: #ddd;
}
.due-date-picker{
    /* border: 1px solid blue; */
}

.date-input{
    /* border: 1px solid green; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px;
}
.date-box{
    border: 0.5px solid #ddd;
    border-radius: 4px;
    padding: 5px;
    outline: none;
    /* margin-right: 10px; */
    font-size: 12px;
}
.date-box:hover{
    border: 0.5px solid #9b2fad;
}
.date-box:focus{
    border: 0.5px solid #9b2fad;
}
.date-input-con{
  gap: 5px;
}

.date-input-con .btn-date{
    padding: 5px;
    border: 1px solid #6a11cb;
    border-radius: 4px;
    background: linear-gradient(to right, #6a11cb, #2575fc);
    color: white;
    cursor: pointer;
    font-weight: bold;
    font-size: 12px;
    width: 100%;

}
.date-input-con .btn-date:hover{
    background: linear-gradient(to right, #2575fc, #6a11cb);
    color: white;
}
.date-input-con .date-sbox{
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 5px;
  font-size: 10px;
}
.date-sbox:hover{
  border: 1px solid #6a11cb;
  box-shadow: 0px 4px 8px #5e12eb46;
}
.date-sbox:focus{
  outline: none;
  border: 1px solid #6a11cb;
  box-shadow: 0px 4px 8px #5e12eb46;
}

.due-red {
    color: red;
    font-weight: bold;
  }
  
  .due-orange {
    color: orange;
    font-weight: bold;
  }
  
  .due-blue {
    color: blue;
    font-weight: bold;
  }
  
  .due-normal {
    color: black;
  }

  .date-input-con{
    /* border: 1px solid blue; */
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
  }

/* DISPLAY DATE  */

.date-show{
    /* border:1px solid transparent; */
    padding: 0px;
    /* border: 1px solid red; */
    border-radius: 4px;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    /* position: relative; */
}
.date-show .ds-header{
  /* border: 1px solid blue; */
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  /* position: relative; */
}
.date{
    /* border: 1px solid grey; */
    margin-top: 5px;
    font-size: 10px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
.date-icon{
    margin-right: 5px;
    font-size: 12px;
    color: black;
}
.time{
    /* border: 1px solid grey; */
    font-size: 10px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
.time-icon{
    margin-right: 5px;
    font-size: 12px;
}


/* DATE PRICKER  */

/* DATE NAVIGATE  */
.react-datepicker__navigation {
    top: 1rem;
    line-height: 1;
    border: 1px solid yellow !important;
    background-color: transparent !important;
    cursor: pointer;
    padding: 0.5rem;
    width: 200px !important;
    display: flex !important;
    align-items: center !important;
    justify-content: flex-start !important;
    /* z-index: 10; */
  }
  
  .react-datepicker__navigation--previous {
    border: 1px solid transparent !important;
    width: 20% !important;
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
  }
  .react-datepicker__navigation--previous:hover {
    color: #5D12EB !important;
  }

  .react-datepicker__navigation--next {
    border: 1px solid transparent !important;
    width: 20% !important;
    margin-right: 10px;
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
  }
  
  .react-datepicker__navigation-icon::before {
    border-color: #2563eb;
    border-style: solid;
    border-width: 2px 2px 0 0;
    content: "";
    display: block;
    height: 10px;
    position: relative;
    top: 3px;
    transform: rotate(-135deg);
    width: 10px;
  }
  
  .react-datepicker__navigation--next .react-datepicker__navigation-icon::before {
    transform: rotate(45deg);
  }
  

/* Pastikan ini berada di custom-datepicker.css */
.react-datepicker {
    display: flex !important;
    flex-direction: row;
    gap: 0.5rem;
    border: 1px solid #6a11cb !important;
    /* border: 1px solid green !important; */
    border-radius: 0.75rem;
    overflow: hidden;
    box-shadow: 0px 4px 8px #5e12eb46;
  }
  
  .react-datepicker__month-container {
    /* border: 1px solid #6a11cb; */
    border-right: 1px solid #5D12EB;
  }
  
  .react-datepicker__time-container {
    width: 90px;
    border-left: none;
    /* border: 1px solid blue; */
  }
  
  .react-datepicker__time {
    background-color: #f9fafb;
    width: 100%;
  }
  
  .react-datepicker__header {
    background: linear-gradient(to right, #6a11cb, #2575fc) !important;
    /* background-color: red !important; */
    color: white !important;
    padding: 1rem;
    /* margin-top: 35px; */
  }
  
  .react-datepicker__day--selected,
  .react-datepicker__day--keyboard-selected {
    background-color: #2563eb !important;
    color: white !important;
    border-radius: 9999px;
  }
  
  .react-datepicker__triangle {
    display: none;
  }
  