.label-container{
    /* border: 1px solid red; */
    /* border-radius: 4px; */
    padding: 5px;
    /* width: 50%; */
}
.label-container .lc-header{
    /* border: 1px solid red; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px;
}
.lc-header h5{
    margin: 0px;
    margin-bottom: 5px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    color: #333;
    font-weight: bold;
    font-size: 12px;
    letter-spacing: 1px;
}
.l-close{
    border: 1px solid white;
    border-radius: 4px;
    cursor: pointer;
}
.l-close:hover{
    border: 1px solid #ddd;
    background-color: #ddd;
}
.sl-container{
    margin-bottom: 5px;
    /* border: 1px solid #ddd; */
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
.delete-label{
    margin-left: 2px;
    cursor: pointer;
    background-color: rgba(255, 255, 255, 0);
    border: 0.5px solid rgba(255, 255, 255, 0);
}
.l-icon{
    margin-right: 5px;
}

/* SHOW SELECT LABEL  */
.show-label{
    margin-top: 5px;
    padding-top: 5px;
    border: 1px solid #ddd;
    border-radius: 4px;
    background-color: #fff;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    /* padding: 10px; */
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}
.sl-content{
    /* padding: 10px; */
    /* border: 1px solid violet; */
    /* border-radius: 4px; */
    
}
.l-box {
    position: relative; /* Ubah absolute menjadi relative agar menyesuaikan */
    display: flex;
    flex-wrap: wrap; /* Memastikan elemen turun ke bawah jika tidak muat */
    gap: 5px; /* Jarak antar label */
    align-items: flex-start; /* Atur agar label sejajar di atas */
    width: 100%; /* Gunakan 100% agar mengikuti parent */
    max-width: 600px; /* Bisa disesuaikan sesuai kebutuhan */
    padding: 8px;
    z-index: 100;
}
.lb-content{
    position: relative;
}
.lbox-icon{
    margin-left: 5px;
    /* padding: 2px; */
    color: #333;
    font-weight: bold;
    border: 0.2px solid transparent;
    border-radius: 4px;
}
/* .lbox-icon:hover{
    background-color: #eee;
    border: 0.2px solid #eee;
} */

.set-label{
    position: absolute;
    top: 100%;
    background-color: white;
    border: 1px solid #eee;
    border-radius: 4px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    z-index: 99;
    gap: 5px;
}
.delete-label-btn{
    border: 1px solid white;
    border-radius: 4px;
    padding: 2px 3px;
    gap: 5px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    font-size: 10px;
    font-weight: normal;
    color: red;
}
.delete-label-btn:hover{
    border: 1px solid #eee;
    background-color: #eee;
}
/* CREATE LABEL  */
.fl-label{
    margin: 10px;
    position: relative;
    /* border: 1px solid violet; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding: 10px;
}
.fl-label h5{
    /* margin: 5px 0px; */
    width: 100%;
    color: #333;
    font-size: 12px;
    font-weight: bold;
}
.fl-label .form-label{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    /* border: 1px solid green; */
}
.form-label input{
    width: 70%;
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 5px;
    margin-right: 5px;
    font-size: 12px;
}
.form-label input:hover{
    border: 1px solid #6a11cb;
    background: linear-gradient(to right, #6b11cb41, #2574fc41);
}
.form-label input:focus{
    outline: none;
    border: 1px solid #6a11cb;
}
.form-label button{
    color: white;
    width: 30%;
    font-size: 12px;
    font-weight: bold;
    border: 1px solid #6a11cb !important;
    border-radius: 4px !important;
    background: linear-gradient(to right, #6a11cb, #2575fc);
}
.form-label button:hover{

    background: linear-gradient(to right,#2575fc, #6a11cb );
}
.show-form{
    position: absolute;
    top: 20%;
    left: 20%;
    /* width: 100%; */
    /* background-color: #ddd; */
    padding: 2px 5px;
    z-index: 100;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    border: 1px solid blue;
    margin-top: 7px;
}

.show-form input{
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 4px;
    margin-right: 5px
}
.show-form input:focus{
    outline: none;

}


/* SELECTED LABEL CARD  */
.selected-labels{
    /* border: 1px solid blue; */
    display: flex;
    flex-wrap: wrap; /* Memungkinkan label pindah ke baris bawah jika tidak cukup */
    gap: 4px; /* Jarak antar label */
    padding: 4px;
    max-width: 100%; /* Pastikan container tidak melewati batas parent */
    overflow: hidden;
}
.label-item{
    padding: 5px;
    border-radius: 4px;
    font-size: 12px;
    font-weight: bold;
}
.li-icon{
    font-size: 12px;
    margin-left: 5px;
    cursor: pointer;
    /* border: 1px solid blue; */
}

/* selected label  */
.c-selected-labels-container {
    display: flex;
    flex-wrap: wrap;
    gap: 4px; /* jarak antar label */
    align-items: center;
    /* border: 1px solid red; */
}

.sl-icon{
    font-size: 12px;
    font-weight: bold;
    cursor: pointer;
    margin-left: 3px;
    color: #333;
}