.text-editor {
    /* border: 1px solid red; */
    border: 1px solid #fff;
    border-radius: 6px;
    /* padding: 20px; */
    width: 100%;
    min-height: 70px;
    /* margin-bottom: 20px; */
    background-color: white;
  }
  
  .ProseMirror {
    outline: none;
  }
  
  /* Styling untuk toolbar */
  .editor-toolbar {
    margin-bottom: 10px;
    display: flex;
    /* gap: 3px; */
    border: 1px solid white;
    /* border: 1px solid #eee; */
     background: linear-gradient(to right, #6b11cb3f, #2574fc38);
    color: white;
    border-radius: 6px;
    padding: 3px 5px;
  }

  .t-text{
    /* border: 1px solid green; */
  }
  
  .t-text .toolbar-button {
    padding: 5px;
    border: none;
    color: #333;
    background-color: rgba(255, 255, 255, 0);
    cursor: pointer;
    font-weight: bold;
    border: 1px solid rgba(255, 255, 255, 0);
    border-radius: 6px;
    transition: background-color 0.3s;
    font-size: 10px;
  }
  
  .toolbar-button:hover {
    border: 1px solid #ddd;
    background-color: white !important;
    /* background-color: #9a2fad00 !important; */
  }
  

  .toolbar-button.active {
    color: #9b2fad !important;
    background-color: white !important;
    border: 1px solid #ddd !important;
  }

.t-align{
    position: relative;
    padding: 0px;
    border: 1px solid rgba(0, 174, 255, 0);
}
.t-align button{
    cursor: pointer;
    border-radius: 4px;
    border: 1px solid #dddddd00;
    background-color: rgba(255, 255, 255, 0);
    font-size: 10px;
    padding: 5px;
}
.t-align button:hover{
    border: 1px solid #ddd;
}
  
.heading{
    position: relative;
    padding: 0px;
    border: 1px solid rgba(0, 174, 255, 0);
}
.heading button{
    cursor: pointer;
    border-radius: 4px;
    border: 1px solid #dddddd00;
    background-color: rgba(255, 255, 255, 0);
    font-size: 10px;
    padding: 5px;
}
.heading button:hover{
    border: 1px solid #ddd;
}

.more{
    position: relative;
    padding: 0px;
    border: 1px solid rgba(0, 174, 255, 0);
}
.more button{
    cursor: pointer;
    border-radius: 4px;
    border: 1px solid #dddddd00;
    background-color: rgba(255, 255, 255, 0);
    font-size: 10px;
    padding: 5px;
}
.more button:hover{
    border: 1px solid #ddd;
}

.heading-modal{
    position: absolute;
    top: 100%;
    right: 0px;
    z-index: 99;
    padding: 5px;
    border: 1px solid #ddd;
    border-radius: 4px;
    background-color: #eee;
    display: flex;
    align-items: center;
    justify-content: center;
}
.text-align-modal{
    position: absolute;
    top: 100%;
    right: 0px;
    z-index: 99;
    padding: 5px;
    border: 1px solid #ddd;
    border-radius: 4px;
    background-color: #eee;
    display: flex;
    align-items: center;
    justify-content: center;
}

.more-action-modal{
    position: absolute;
    top: 100%;
    right: 0px;
    z-index: 99;
    padding: 5px;
    border: 1px solid #ddd;
    border-radius: 4px;
    background-color: #eee;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* EMOJI  */

.emoji{
    position: relative;
    padding: 0px;
    border: 1px solid rgba(0, 174, 255, 0);
}

.emoji button{
    cursor: pointer;
    border-radius: 4px;
    border: 1px solid #dddddd00;
    background-color: rgba(255, 255, 255, 0);
    padding: 0px;
    font-size: 10px;
}
.emoji button:hover{
    border: 1px solid #ddd;
}

.emoji-modal{
    position: absolute;
    /* top: -0; */
    bottom: 30px;
    right: 0px;
    z-index: 99;
    padding: 5px;
    border: 1px solid #ddd;
    border-radius: 4px;
    background-color: #eee;
    display: flex;
    align-items: center;
    justify-content: center;
}


/* EDITOR  */
.editor-container{
    /* border: 1px solid red; */
    border: 1px solid rgba(255, 255, 255, 0);
    background-color: rgba(255, 255, 255, 0);
    width: 98%;
    padding: 0px;
    padding-left: 10px;
    font-size: 10px;
}